{% extends "base.html" %}
{% load widget_tweaks %}
{% load formulario_venta_devolucion %}
{% block title %} Agregar Nota de Crédito {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/compras.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        .tabla-comprobante-detalle-externa{
        width: 1274px;
        margin-left: 10px;
        }
        .row-comprobante-retencion{
        margin-left: 0px !important;
        width: 1274px !important;
        }
        input[type="text"].item{
            width: 100%;
        }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script type="text/javascript">
        function getURLBusquedaItem(){
            return "{% url "buscar_item_venta" %}"
        }
        function getCantidadBodega(){
            return "{% url "get_cantidades_bodega" %}"
        }
        function getExisteItemBodega(){
            return "{% url "get_existe_item_bodega" %}"
        }
        function getClienteItemVenta(){
            return "{% url "buscar_cliente_item_venta" %}"
        }

        function getURLSeleccionarNumFacturas(){
            return "{% url "ajax_seleccion_facturas" %}"
        }
        function getURLCargarVenta(){
            return "{% url "get_datos_venta" %}";
        }

        function getURLCantidadDevolucionVenta(){
            return "{% url "get_disponible_cantidad_devolver" %}";
        }
        function getFlagHide(){
            return "{{ parametro_hide }}"
        }

        var url_seleccionar_nota_credito = "{% url "ajax_seleccionar_nota_credito" %}";
        var url_documentos_vigentes_nota_credito = "{% url "ajax_documentos_vigentes_nota_credito" %}";
        var fecha_actual = "{% now "Y-m-d" %}";
        var flag_post = "{{ flag_post }}";
    </script>
    <script src="{{ STATIC_URL }}js/validar_rucs.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_ventas/funciones_venta.js"></script>
    <script src="{{ STATIC_URL }}js/js_nota_credito/funciones_nota_credito.js"></script>
    <script src="{{ STATIC_URL }}js/js_nota_credito/nota_credito.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function(){
            var dia = "{{ dia_actual }}";
            var fecha_comp = dia.replace(",","-");

            $("#id_fecha").val(fecha_comp);
            $("#id_fecha").html(fecha_comp);

            if($("#id_fecha").attr("value") != undefined){
                if(fecha_comp != $("#id_fecha").attr("value")){
                    $("#id_fecha").val($("#id_fecha").attr("value"));
                }
            }
            SelectSerieNumDevolucion();
        });
    </script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
{% block ruta-principal %}Ventas{% endblock %}
{% block ruta-actual %}
    N/C
{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form role="form" enctype="multipart/form-data" action="{% url "agregar_nota_credito" %}" method="POST">{% csrf_token %}
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="comprobante-cabecera-left" style="width: 680px; margin: auto; padding-right: 20px;">
                        <h3  class="sub-title-comprobante">DEVOLUCIÓN</h3>
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td class="td-label1" style="width: 130px;">
                                <label class="control-label" for="{{ formulario_cabecera.fecha.label }}">
                                {% if formulario_cabecera.fecha.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.fecha.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {% if formulario_cabecera.fecha.errors %}{{ formulario_cabecera.fecha|add_class:"campo_requerido input-calendario" }}{% else %}{{ formulario_cabecera.fecha|add_class:"input-calendario" }}{% endif %}
                            </td>
                            <td class="td-label2">
                                 <label class="control-label" for="{{ formulario_cabecera.serie.label }}">
                                {% if formulario_cabecera.serie.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.serie.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1">
                                {{ formulario_cabecera.serie|add_class:"combo" }}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1" style="width: 130px;">
                                <label class="control-label" for="{{ formulario_cabecera.num_autorizacion.label }}">
                                {% if formulario_cabecera.num_autorizacion.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.num_autorizacion.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td style="width: 177px;">
                                <label id="autorizacion" class="label-texto lbl-border" style="width: 177px;"></label>
                            </td>
                            <td class="td-label2">
                                <label class="control-label" for="{{ formulario_cabecera.fecha_vencimiento.label }}">
                                {% if formulario_cabecera.fecha_vencimiento.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.fecha_vencimiento.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control2">
                                <label id="fecha_vencimiento" class="txt-100pc label-texto lbl-border"></label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                               <label class="control-label" for="{{ formulario_cabecera.cliente.label }}">
                                {% if formulario_cabecera.cliente.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.cliente.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario_cabecera.cliente.errors %}{{ formulario_cabecera.cliente|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.cliente|add_class:"fcombo" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                               <label class="control-label" for="{{ formulario_cabecera.num_documentos_venta.label }}">
                                {% if formulario_cabecera.num_documentos_venta.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.num_documentos_venta.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario_cabecera.num_documentos_venta.errors %}{{ formulario_cabecera.num_documentos_venta|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.num_documentos_venta|add_class:"fcombo" }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr id="tr_documento_modifica">
                            <td class="td-label1">
                               <label class="control-label" for="{{ formulario_cabecera.num_documento_modifica.label }}">
                                {% if formulario_cabecera.num_documento_modifica.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario_cabecera.num_documento_modifica.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1 td-relative" colspan="3">
                                {% if formulario_cabecera.num_documento_modifica.errors %}{{ formulario_cabecera.num_documento_modifica|add_class:"combo campo_requerido" }}{% else %}{{ formulario_cabecera.num_documento_modifica }}{% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td-label3" style="vertical-align: top; padding-top:10px;">
                                <label class="control-label" for="{{ formulario_cabecera.concepto.label }}">
                                    {% if formulario_cabecera.concepto.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario_cabecera.concepto.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control3" colspan="3">
                                {% if formulario_cabecera.concepto.errors %}{{ formulario_cabecera.concepto|add_class:"textarea-concepto campo_requerido" }}{% else %}{{ formulario_cabecera.concepto|add_class:"textarea-concepto" }}{% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="contenedor_detalle_comp">
                   <div id="div_detalle_dev_aut">
                        <table id="tabla_formset_venta_dev_a" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                            <thead>
                                <tr>
                                    <th style="background: #F6F6F6; width: 35px;"></th>
                                    <th style="width: 400px;">Item</th>
                                    <th style="width: 100px;">Cant.Venta</th>
                                    <th style="width: 100px;">Cant.Ent.</th>
                                    <th style="width: 150px;">Precio</th>
                                    <th style="width: 100px;">Valor Desc.</th>
                                    <th style="width: 100px;">Cant.Devolver</th>
                                    <th style="width: 150px;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for formularios in forms %}
                                    <tr>
                                        <td style="background: #F6F6F6 !important;"></td>
                                        {% for form in formularios %}
                                            {% if form.label == "id_item" or form.label == "id_detalle" or form.label == "iva" or form.label == "ice"%}
                                                    <td style="display: none">{{ form }}</td>
                                            {% else %}
                                                <td>{{ form }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {{ forms.management_form }}
                        </table>
                   </div>

                <div id="contenedor_detalle_comp">
                    <div id="div_detalle_dev_man" style="display: none;">
                        <div class="row row-comprobante-detalle">
                            {% formulario_detalle_devolucion_m  form_detalle_manual %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-retencion-total" style="" id="totales">
                    <div class="retencion-total" style="height: 319px;">
                        <h3 class="sub-title-comprobante">Totales</h3>
                        <table class="tabla-retencion-detalle tabla-retencion-totales">
                            <tr>
                                <td>
                                    <label><b>SubTotal 12%</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="subtotal">0.0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <label><b>SubTotal 0%</b></label>
                                </td>
                                <td style="text-align: right;">
                                     <label id="subtotal_cero">0.0</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <label><b>Total SubTotal</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_subtotal">0.0</label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                   <label><b>Total Descuento</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="descuento">0.0</label>
                                </td>
                           </tr>

                           <tr>
                                <td>
                                   <label><b>IVA</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="iva">0.0</label>
                                </td>
                           </tr>
                           <tr>
                                <td>
                                   <label><b>ICE</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="ice">0.0</label>
                                </td>
                           </tr>
                            <tr>
                                <td>
                                   <label><b>Total a Pagar</b></label>
                                </td>
                                <td style="text-align: right;">
                                    <label id="total_pagar">0.0</label>
                                </td>
                           </tr>
                        </table>
                    </div>
                </div>

                </div>
            </div>
            <div class="row">
                <div class="text-center" style="padding:15px 0px 30px 0px;">
                       <input class="boton boton-ok" id="grabar" type="submit" title="Grabar" value="Grabar">
                       <a class="boton boton-gray" href="{% url "lista_nota_credito" %}" title="Cancelar">Cancelar</a>
                </div>
            </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal" id="enviar" data-href="{% url "agregar_vigencia_documento_empresa" %}?param=1">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="div-cliente" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="tit-ret">Agregar Cliente</h4>
                    </div>

                <div class="modal-body" id="body-ret">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                        <form id="form_cliente" method="POST" action="{% url "registrar_cliente" %}" data-search="{% url "get_clientes" %}">
                            <div class="row row-formulario-modal">
                                {% for form in form_cliente %}
                                    {% if form.field.required or form.html_name == "tipo_cliente" %}
                                        {% if form.html_name == "tipo_cliente" %}
                                            <div id="select_tipo_cliente">
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>
                                            </div>
                                        {% else %}
                                                <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                                    <label class="label-modal">{{ form.label }}</label>
                                                </div>
                                                <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                                    {{ form|add_class:"text-modal txt-100pc" }}
                                                </div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% for form2 in form_direccion %}
                                    {% if form2.field.required %}
                                        <div class="col-xs-5 col-sm-5"  style="padding: 0px;">
                                            <label class="label-modal">{{ form2.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 control-modal"  style="padding: 0px;">
                                            {{ form2|add_class:"text-modal txt-100pc" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="send_form_cliente">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <div id="error" class="alert alert-danger alert-dismissable" style="margin-bottom:0px; margin-top: 20px;">
                            <button id="cerrar" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-cliente" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}