{% extends "base.html" %}
{% block title %}Detalle Nota de Crédito{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load snnipet_cabecera_transaccion_id %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style type="text/css">
        .td-derecha{
            width: 100px !important;
        }
        .linea-total{
            border-top: 2px solid !important;
        }
    </style>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
{% endblock %}

{% block ruta-principal %}Nota de Crédito{% endblock %}
{% block ruta-actual %}Detalle de la Nota de Crédito{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
      <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 260px;">
            <table>
                <tr>
                    <td style="width:170px;">
                        <label>Comprobante:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.num_comp }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Fecha:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ ajuste_venta.fecha_emi|date:"d-m-Y" }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Documento: </label>
                    </td>
                    <td class="td-dato">
                        <label> Nº: {{ ajuste_venta.vigencia_doc_empresa.serie }}-{{  ajuste_venta.num_doc }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.cliente.razon_social }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> RUC: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.cliente.ruc }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label> Razón de la Modificación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.razon_modifica|default_if_none:""}}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if ajuste_venta.status == 1 %}
                                Activa
                            {% elif ajuste_venta.status == 2 %}
                                Anulada
                            {% else %}
                                Pendiente
                            {% endif %}
                        </label>
                    </td>
                </tr>

                {% if_emite_docs_electronicos %}
                    {% if ajuste_venta.estado_firma >= 2 %}
                        <tr>
                            <td style="width:175px;">
                                <label>Estado Doc. Electrónico:</label>
                            </td>
                            <td class="td-dato">
                                <label>
                                     {% if ajuste_venta.estado_firma == 2 %}
                                        Firmado
                                     {% elif ajuste_venta.estado_firma == 3 %}
                                         Enviado al SRI
                                     {% elif ajuste_venta.estado_firma >= 4 %}
                                         Autorizado por el SRI
                                     {% endif %}
                                </label>
                            </td>
                        </tr>
                    {% endif %}
                {% endif_emite_docs_electronicos %}

            </table>
        </div>
        <div class="cabecera-right" style="height: 260px;">
            <table>
                <tr>
                    <td>
                        <label> Fecha Documento Modifica: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.fecha_doc_modifica|date:"Y-m-d" }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> N° Documento Modifica: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.num_doc_modifica }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Dirección: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.cliente.getDirecciones }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Usuario Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.usuario_creacion }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Fecha Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ ajuste_venta.fecha_creacion|date:"Y-m-d" }}</label>
                    </td>
                </tr>
            </table>
        </div>

    {% if detalles %}
            <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Detalle de la Nota de Crédito</h3>
            <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Cantidad</th>
                    <th>Item</th>
                    <th>Centro de Costo</th>
                    <th>% IVA</th>
                    <th>% ICE</th>
                    <th>Valor</th>
                </tr>
                    {% for obj_det in detalles %}
                        <tr>
                            <td>{{ obj_det.cantidad_devolver|default_if_none:"" }}</td>
                            <td>{{ obj_det.item.nombre }}</td>
                            <td>{{ obj_det.centro_costo.descripcion }}</td>
                            <td  class="td-derecha">{{ obj_det.item.iva }}</td>
                            {% if obj_det.porcentaje_ice != None %}
                                <td  class="td-derecha">{{ obj_det.porcentaje_ice }}</td>
                            {% else %}
                                <td> </td>
                            {% endif %}
                            <td class="td-derecha"> $ {{ obj_det.valor }}</td>
                        </tr>
                    {% endfor %}
            </table>
    {% endif %}

    <div id="div-totales">
            <table id="table-totales">
                <tr>
                    <td></td>
                    <td class="td-label">
                        Subtotal 12%:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.tarifa12|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-label">
                        Subtotal 0%:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.base0|floatformat:2 }}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-label">
                        Total Descuento:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.getTotalDescuentoNotaCredito|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-label">
                        IVA:
                    </td>
                    <td class="td-info">
                        $ {{  ajuste_venta.monto_iva|floatformat:2  }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-label">
                        ICE:
                    </td>
                    <td class="td-info">
                        $ {{  ajuste_venta.total_ice|floatformat:2  }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-label">
                        Total:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.getTotalNotaCredito|floatformat:2 }}
                    </td>
                </tr>
            </table>
    </div>

    {% if detalle_may %}
        <div class="div-centrar div-tabla">
            <h3 class="sustitulo-comprobante" style="text-decoration: underline;">Asiento Contable</h3>
            <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Centro de Costos</th>
                </tr>
                {% for obj_asiento in detalle_may %}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td> {{ obj_asiento.detalle }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3" style="text-align: right; font-weight: bold;"> TOTALES: </td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_debe|floatformat:"2" }}</td>
                        <td class="linea-total" style="text-align: right">{{ mayor_cab.get_total_haber|floatformat:"2" }}</td>
                    <td colspan="3"></td>
                </tr>
            </table>

            <p class="desc-label">Descripción: <span class="desc-info"> {{ ajuste_venta.concepto }}</span></p>



            <div class="text-center div-botones-alto" style="margin-top: 30px;">
                <a class="boton boton-ok" href="{% url "detalle_nota_credito_pdf" ajuste_venta.id %}" target="_blank">Generar PDF</a>

                {% if_emite_docs_electronicos %}
                    {% if ajuste_venta.estado_firma >= 4 %}
                        <a class="boton boton-silver" href="{% url "ride_nota_credito_electronica" ajuste_venta.web_url %}" target="_blank">Generar Nota Crédito RIDE</a>
                    {% endif %}
                {% endif_emite_docs_electronicos %}

                <a class="boton boton-gray" href="{% url "lista_nota_credito" %}">Regresar</a>
            </div>
        </div>
    </div>

    {% else %}
        <div class="text-center div-botones-alto" style="margin-top: 30px;">
            <a class="boton boton-gray" href="{% url "lista_nota_credito" %}">Regresar</a>
        </div>
    {% endif %}


{% endblock %}