{% extends "base_reporte_pdf.html" %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Comprobante de Nota de Crédito{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{empresa.logotipo}}{% endblock %}
{% block datos_empresa %}
    <span>{{ empresa.direccion }} Teléfonos: {{ empresa.telefono }}</span>
{% endblock %}
{% block razon_social %}{{empresa.razon_social }}{% endblock %}
{% block usuario %}{{ request.user.first_name }} {{ request.user.last_name }}{% endblock %}
{% block reporte_titulo %}Comprobante Nota de Crédito: {{ ajuste_venta.num_comp }}{% endblock %}
{% block tabla_contenido %}
        <table id="table-info-basica">
            <tr>
                <td class="td-label1">
                    Fecha:
                </td>
                <td class="td-info1">
                    {{ ajuste_venta.fecha_emi|date:"d-m-Y" }}
                </td>
                <td class="td-label2">
                    Fecha Doc. Modifica:
                </td>
                <td class="td-info2">
                    {{ ajuste_venta.fecha_doc_modifica|date:"d-m-Y" }}
                </td>
            </tr>
            <tr>
                <td class="td-label1">
                    Documento:
                </td>
                <td class="td-info1">
                    Nº: {{ ajuste_venta.vigencia_doc_empresa.serie }}-{{  ajuste_venta.num_doc }}
                </td>
                <td class="td-label2">
                    Doc. Modifica:
                </td>
                <td class="td-info2">
                    {{ ajuste_venta.num_doc_modifica }}
                </td>
            </tr>
            <tr>
                <td class="td-label1">
                    Cliente:
                </td>
                <td class="td-info1">
                    {{ ajuste_venta.cliente.razon_social }}
                </td>
            </tr>
            <tr>
                <td class="td-label1">
                    Dirección:
                </td>
                <td class="td-info1">
                    {{ ajuste_venta.cliente.getDirecciones }}
                </td>
            </tr>
            <tr>
                <td class="td-label1">
                    Estado:
                </td>
                <td class="td-info1">
                    {% if ajuste_venta.status == 2 %}Anulada{% else %}Activa{% endif %}
                </td>
            </tr>

            </table>
        <div style="clear: both"></div>
        <div class="div-centrar div-tabla" style="margin-bottom: 35px;">
            {% if detalles %}
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px;">Detalle de la Nota de Crédito</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none">
                    <thead>
                        <tr>
                            <th style="width: 50px;border: none; border-bottom: 1px solid #A2A3A5;">Cant.</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5;">Item</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; width: 70px;">Precio U.</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; width: 70px;">% IVA</th>
                            <th style="border: none; border-bottom: 1px solid #A2A3A5; width: 70px;">% ICE</th>
                            <th style=" border: none; border-bottom: 1px solid #A2A3A5; width: 110px;">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj_det in detalles %}
                            <tr>
                                <td style="border: none; vertical-align: top;">{{ obj_det.cantidad_devolver|default_if_none:"" }}</td>
                                <td style="border: none; vertical-align: top; font-size: 11px;">{{ obj_det.item.nombre }}</td>
                                <td style="border: none; vertical-align: top; text-align: right;" >{{ obj_det.valor }}</td>
                                <td style="border: none; vertical-align: top;  text-align: right;" >{{ obj_det.item.iva }}</td>
                                {% if obj_det.porcentaje_ice != None%}
                                    <td style="border: none; vertical-align: top;  text-align: right;">{{ obj_det.porcentaje_ice }}</td>
                                {% else %}
                                    <td style="border: none; vertical-align: top;">    </td>
                                {% endif %}
                                {% if obj_det.cantidad_devolver %}
                                    <td style="border: none; vertical-align: top; text-align: right;"> $ {% multiplicacion_snippet obj_det.cantidad_devolver obj_det.valor %}</td>

                                {% else %}
                                    <td style="border: none; vertical-align: top; text-align: right;"> $ {{ obj_det.valor  }}</td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <br>

        <div id="div-totales" style="margin-top: 40px;">
            <table id="table-totales" style="font-size: 11px;">
                <tr>
                    <td style="width: 500px;"></td>
                    <td class="td-label">
                        Subtotal_12%:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.baseiva|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td ></td>
                    <td class="td-label">
                        Subtotal_0%:
                    </td>
                    <td class="td-info">$ {{ ajuste_venta.base0|floatformat:2 }}</td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-label">
                       Total  Descuento:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.getTotalDescuentoNotaCredito|floatformat:2 }}
                    </td>
                </tr>
                <tr>
                    <td ></td>
                    <td class="td-label">
                        IVA:
                    </td>
                    <td class="td-info">
                        $ {{  ajuste_venta.monto_iva|floatformat:2  }}
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td class="td-label">
                        ICE:
                    </td>
                    <td class="td-info">
                        $ {{  ajuste_venta.total_ice|floatformat:2  }}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="td-label">
                        Total:
                    </td>
                    <td class="td-info">
                        $ {{ ajuste_venta.getTotalNotaCredito|floatformat:2 }}
                    </td>
                </tr>
            </table>
        </div>

        {% if detalle_may %}
            <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 11px; border: none;">
                    <thead style="">
                        <tr>
                            <th style="width: 120px; border: none; ">Código</th>
                            <th style="border: none;">Cuenta</th>
                            <th style="width: 100px;border: none;">Debe</th>
                            <th style="width: 100px;border: none;">Haber</th>
                            <th style="border: none;">Centro de Costos</th>
                        </tr>
                    </thead>
                    <tbody style="">
                    {% for obj_asiento in detalle_may%}
                        <tr>
                            <td style="border: none;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td style="border: none;" {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                            <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td style="border: none;" class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                            <td style="border: none;" class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" style="border: none; text-align: right; font-weight: bold;"> TOTALES: </td>
                        <td style="border: none; border-top: 1px solid #000000; text-align: right;">$ {{ mayor_cab.get_total_debe|floatformat:"2" }}</td>
                        <td style="border: none; border-top: 1px solid #000000; text-align: right;">$ {{ mayor_cab.get_total_haber|floatformat:"2" }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
         {% endif %}

        <p style="font-size: 11px; font-weight: bold;">Descripción: <span class="desc-info"  style="font-size: 11px; font-weight: normal;">{{ venta.concepto}}</span></p>



        <div class="div-centrar div-tabla">
               <div id="div-firmas">
                    <table id="table-firmas" style="margin-top: 40px; text-align: center">
                         <tr>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">
                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; padding-left: 10px; padding-right: 10px;">
                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
        <div style="clear: both"></div>
{% endblock %}