{% extends "base.html" %}
{% block title %}Notas de Crédito{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}
{% load snnipet_ventas %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style type="text/css">
        .anular_generar, .anular{
           cursor: pointer; cursor: hand;
        }
        td a span{
            cursor: pointer; cursor: hand;
        }
        .div-botones
        {
            padding: 0px;
        }

        .factura-final{
            float: left;
            padding-left: 14px;
        }
        .comprobante-final{
            float: left;
            padding-left: 14px;
        }

        #foto_usuario #foto_usuario_int .bootstrap-filestyle label.btn span {
            top: -8px !important;
        }
        #foto_usuario #foto_usuario_int .input-large {
            width: 239px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        {% if_emite_docs_electronicos %}
            var url_get_correo = "{% url "get_correo_cliente_nota_credito" %}";
            var url_enviar_correo = "{% url "enviar_correo_nota_credito" %}";
        {% endif_emite_docs_electronicos %}
    </script>
    <script src="{{ STATIC_URL }}js/js_nota_credito/lista_nota_credito.js"></script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Buscar Notas de Crédito{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
        <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
        </div>
        <div class="row row-buscador">
            <form action="" class="form-group" id="formulario" method="GET">

                <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="col-lg-12 contenedor">
                        <div class="comprobante-cabecera-left" style="width: 680px; margin: auto;">
                            <table class="tabla-comprobante-cabecera">
                                <tr>
                                    <td style="width: 150px;">
                                        <label>Rango de Fechas:</label>
                                    </td>
                                    <td>
                                        {{ buscador.fecha|add_class:"calendario-gris input-calendario" }}
                                    </td>

                                    <td style="width: 150px; padding-left: 15px;">
                                        <label>Hasta</label>
                                    </td>
                                    <td>
                                        {{ buscador.fecha_final|add_class:"calendario-gris input-calendario" }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label>Cliente:</label>
                                    </td>

                                    <td style="width: 150px;" colspan="3">
                                       {{ buscador.cliente }}
                                    </td>
                                </tr>
                                 <tr>
                                     <td>
                                        <label># de Comprobante:</label>
                                    </td>
                                    <td>
                                        {{ buscador.num_comp}}
                                    </td>
                                    <td style="padding-left: 15px;">
                                        <label># Documento:</label>
                                    </td>
                                    <td >
                                        {{ buscador.ndocumento }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Rango de Monto:</label>
                                    </td>
                                     <td>
                                        {{ buscador.rango_monto_ini }}
                                    </td>
                                    <td style="padding-left: 15px;">
                                        <label>Hasta</label>
                                    </td>
                                     <td>
                                        {{ buscador.rango_monto_hasta}}
                                    </td>
                                </tr>

                                 <tr>
                                    <td>
                                        <label>Vendedor:</label>
                                    </td>
                                    <td style="width: 150px;" colspan="3">
                                        {{ buscador.vendedor }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>Item:</label>
                                    </td>
                                    <td style="width: 150px;" colspan="3">
                                        {{ buscador.item }}
                                    </td>
                                </tr>
                                <tr>
                                     <td>
                                        <label>Estado:</label>
                                    </td>

                                    <td style="width: 150px; padding-right: 20px;">
                                        {{ buscador.estado}}
                                    </td>
                                </tr>

                                <tr style="display: none;">
                                   <td>
                                        {{ buscador.page}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="text-center" style="clear: both; margin-top: 20px;">
                    <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                    <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
                </div>

            </form>
        </div>
    </div>

    <div class="div div-agregar">
       <a class="boton boton-ok" href="{% url "agregar_nota_credito" %}">Agregar</a>
    </div>

    <div class="botones-administracion">
    {% if objetos %}
        {% if_emite_docs_electronicos %}
            <a id="ver" class="boton boton-administrador" href="#">Ver</a>

            <a style="display: none;" id="copiar" class="boton boton-administrador" href="#">Copiar</a>

            <a id="anular" class="boton boton-administrador" href="#">Anular</a>

            <a  id="nc_electronica" class="boton boton-administrador" href="#">Enviar Nota Crédito Electrónica</a>
            <a id="enviar_mail_nc_electronica" class="boton boton-administrador" href="#">Enviar Nota Crédito por Correo</a>

        {% else %}

            <a id="ver" class="boton boton-administrador" href="#">Ver</a>

            <a id="copiar" class="boton boton-administrador" href="#">Copiar</a>

            <a id="anular" class="boton boton-administrador" href="#">Anular</a>

            <a id="anular_generar" class="boton boton-administrador" href="#">Anular y Generar</a>

            <a id="anular-factura" class="boton boton-administrador" href="#">Anular - Nota Credito</a>

        {% endif_emite_docs_electronicos %}
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>

   <!-- Si hay objetos, si no, no aparce ni el paginado  -->
   {% if objetos %}
        <div class="table-responsive">
            <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th style="width: 85px;">F. Emisión</th>
                        <th style="width: 90px;">Nº Comp.</th>
                        <th style="width: 135px;">Nº Doc.</th>
                        <th style="width: 300px;">Cliente</th>
                        <th style="width: 250px;">Nº Doc. Modifica</th>
                        <th style="width: 350px;">Razón de Modificación</th>
                        <th style="width: 300px;">Concepto</th>
                        {% if_emite_docs_electronicos %}
                            <th style="width: 65px"><i class="fa fa-flag" title="Estado Envio SRI"></i></th>
                        {% endif_emite_docs_electronicos %}
                        <th style="width: 150px;">T. Pagar </th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                {% for obj in objetos %}
                    <tr>
                    <td  style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_nota_credito" obj.id %}"
                                data-copiar="#"
                                data-anular="#"
                                data-anular_generar="#"
                                {% if_emite_docs_electronicos %}
                                    data-enviar_n_c_electronica="{% url "enviar_nota_credito_electronica_sri" obj.id %}"
                                    data-enviar_correo="{% url "enviar_correo_nota_credito" %}"
                                    data-anular-nota-credito="{% url "anular_nota_credito" obj.id %}"

                                    data-estado_firma="{{ obj.estado_firma }}"
                                {% endif_emite_docs_electronicos %}
                                data-status="{{ obj.status }}"
                            />
                        </td>
                        <td style="text-align: center;">{{obj.fecha_emi|date:"Y-m-d" }}</td>
                        <td class="nombre text-center">{{obj.num_comp }}</td>
                        <td class="num_doc text-center">{{obj.vigencia_doc_empresa.serie}}-{{obj.num_doc}}</td>
                        <td class="razon_social">{{obj.cliente.razon_social|slice:"0:25"}}{% if obj.cliente.razon_social|length > 25 %}...{% endif %}</td>
                        <td>{{obj.num_doc_modifica}} </td>
                        <td>{{obj.razon_modifica|default_if_none:""|slice:"0:30"}}{% if obj.razon_modifica|length > 25 %}...{% endif %}</td>
                        <td>{{obj.concepto|default_if_none:""|slice:"0:30"}}{% if obj.concepto|length > 25 %}...{% endif %}</td>
                        {% if_emite_docs_electronicos %}
                            <td style="text-align: center">{% autoescape off %}{{ obj.get_estado_nota_credito_electronica }}{% endautoescape %}</td>
                        {% endif_emite_docs_electronicos %}
                        <td class="text-right">$ {{obj.getTotalNotaCredito|floatformat:2}}</td>
                        <td style="text-align: center">
                        {% if obj.status == 1%}
                            <span class="item-activo">Activo</span>
                        {% elif  obj.status == 2 %}
                            <span class="sin-acceso">Anulada</span>
                        {% endif %}
                        </td>
                    {% endfor%}
                </tr>
            </tbody>
        </table>

        {% paginacion_html objetos arreglo_paginado muestra_paginacion %}

    </div>

   {% else %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
   {% endif %}

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    {# Div Formulario para Anular la N/C direcatemente #}
    <div id="anular_venta_modal" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title-modal" id="tit-factura">Anular N° de Factura</h4>
                </div>
                <div class="modal-body" id="body-factura">
                    <h6 class="campos-requeridos">Todos los campos son requeridos.</h6>
                    <form id="form_anular_factura" method="POST">
                        <div class="row row-formulario-modal">
                        {# Aqui se valida si el ingreso de los documentos es manual o automático #}
                            {% if False %}
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.documento|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.numero_doc.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.numero_doc|add_class:"text-modal" }}
                                </div>
                            {% else %}
                                <p style="padding-bottom: 20px"><label class="label-modal">Tenga en cuenta que se anulará el siguiente número de factura,
                                    como el sistema es en línea, presione
                                   el icono de actualizar para mostrarle el último número de factura utilizado antes de aceptar</label>
                                </p>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.fecha_reg.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.fecha_reg|add_class:"text-modal" }}
                                </div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">{{ form_anular_factura.documento.label }}</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    {{ form_anular_factura.documento|add_class:"text-modal" }}
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Comp. utilizado:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultimo_comprobante" class="comprobante-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Comprobante"></a>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0;">
                                    <label class="label-modal">Último # Factura utilizada:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0;">
                                    <span id="ultima_factura" class="factura-final"></span>
                                    <a class="retencion-reload" title="Actualizar Número de Factura"></a>
                                </div>

                            {% endif %}
                        </div>

                    </form>

                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok-doc-anul">Aceptar</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-factura">Cancelar</button>

                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0; margin-top: 20px;">
                            <button type="button" class="close cerrar-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p class="alert--text mensaje-error-retencion"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div id="envio_correo" class="modal fade formulario-cm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Envío de Correo Electrónico</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Los siguientes datos son opcionales:</p>

                        <form id="form_envio_correo" method="POST">
                            <div class="row row-formulario-modal">
                                <div style="display: none">{{ form_correo.id_nota_credito }}</div>
                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">{{ form_correo.file.label }}:</label>
                                </div>
                                <div id="foto_usuario" class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                     <div id="foto_usuario_int">
                                        {{ form_correo.file|add_class:"" }}
                                     </div>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">Correo del Cliente:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                    <p id="correo_cliente"></p>
                                </div>

                                <div class="col-xs-5 col-sm-5" style="padding: 0px;">
                                    <label class="label-modal">C.C:</label>
                                </div>
                                <div class="col-xs-7 col-sm-7 control-modal" style="padding: 0px;">
                                    {{ form_correo.cc|add_class:"text-modal" }}
                                </div>
                            </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="boton yes boton-ok" id="ok_send_mail">Enviar al Correo</button>
                        <button type="button" class="boton cancel boton-gray" data-dismiss="modal" id="cancel-ret">Cancelar</button>

                        <!-- div para mostrar errores -->
                        <div class="alert alert-danger alert-dismissable error-modal" style="margin-bottom:0px; margin-top: 20px;">
                            <button type="button" class="close close-error"  aria-hidden="true">×</button>
                            <div class="media">
                                <figure class="pull-left alert--icon">
                                        <i class="pe-7s-close-circle"></i>
                                </figure>
                                <div class="media-body">
                                    <p id="error-envio" class="alert--text"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}