{% load widget_tweaks %}
<table id="tabla_hide" class="tabla-comprobante-detalle-externa">
    <tr>
        <td style="border: none;">
            <table id="tabla_forma_pago" class="table-striped tabla-comprobante-detalle tabla-formato-detalle">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="width: 250px;">Forma / Pago</th>
                        <th style="width: 100px;">Valor</th>
                        <th style="width: 150px;">Entidad</th>
                    </tr>
                </thead>
                {{ forms.management_form }}
                <tbody>
                {% for formularios in forms %}
                    <tr>
                        <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar_forma_pago" title="Eliminar">
                            <img src="/static/cm_html/images/eliminar_tr_icono.png">
                        </a></td>
                        {% for form in formularios %}
                            <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </td>
    <tr>
    <tr style="margin: 0px; padding: 0px;">
         <td style="border: none; margin: 0px; padding: 0px;">
             <table id="tb-boton-add" style="width: 900px;">
                 <tr>
                     <td  style="border: 0px;width: 382px; vertical-align: top;">
                         <a class="tr-agregar" id="add_forma_pago">
                             <img src="/static/cm_html/images/agregar_tr_icono.png">
                                Agregar otra fila
                        </a>
                     </td>
                 </tr>
             </table>
         </td>
    </tr>
</table>