{% load widget_tweaks %}
{{ forms.management_form }}
<table class="tabla-comprobante-detalle-externa">
   <tr>
       <td style="border: none;">
            <table id="tabla_formset_detalle_stock" class="tabla-venta-item-final tabla tabla-comprobante-detalle tabla-formato-detalle tabla-comprobante-venta">
                <thead>
                    <tr>
                        <th style="background: #F6F6F6; width: 35px;"></th>
                        <th style="display: none"></th>
                        <th style="width: 250px;">Item</th>
                        <th style="width: 120px;">Centro de Costo</th>
                        <th>Cantidad</th>
                        <th style="width: 150px;">Unidad</th>
                        <th>Precio U.</th>
                        <th>% IVA</th>
                        <th>% ICE</th>
                        <th><span class="descuento" id="simbolo_descuento"></span>Descuento</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                {% for formularios in forms %}
                    <tr>
                          <td style="background: #F6F6F6 !important;" class="tr-delete"><a class="boton-eliminar-tr eliminar_stock" title="Eliminar">
                                <img src="/static/cm_html/images/eliminar_tr_icono.png">
                            </a>

                          </td>
                        {% for form in formularios %}
                            {% if form.label == "id_item" or form.label == "tipo_item"  %}
                                    <td style="display: none">{{ form }}</td>
                            {% else %}
                                <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       </td>
   </tr>

    <tr style="margin: 0px; padding: 0px;">
       <td style="border: none; margin: 0px; padding: 0px;">
           <table id="tb-boton-add">
             <tr>
                 <td  style="border: 0px;">
                     <a class="tr-agregar" id="add_stock" style="color: #E75300;">
                         <img src="/static/cm_html/images/agregar_tr_icono.png">
                            Agregar otra fila
                    </a>
                 </td>
            </tr>
           </table>
       </td>
    </tr>
</table>