{% load widget_tweaks %}

{% if parametro_hide == 0 %}
    <table id="tabla_formset_empleados" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-empleados">
        <thead>
            <tr>
                <th style="display: none"></th>
                <th style="width: 350px;">Empleado</th>
                <th style="width: 100px;">Sueldo</th>
            </tr>
        </thead>

        <tbody>
            {% for formularios in forms %}
                <tr>
                    {% for form in formularios %}
                        {% if form.label == "id_empleado" %}
                            <td style="display: none">{{ form }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="info_empleado"> {{ formularios.empleado.value}}</td>
                    <td style="text-align: right;">  {{ formularios.sueldo }}</td>
                </tr>
            {% endfor %}
        </tbody>
        {{ forms.management_form }}
    </table>
    <div id="tiene_docs" style="display: none" data-error="0"></div>

{% elif parametro_hide == 1 %}

    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

{% else  %}

    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

{% endif %}

