{% extends "base.html" %}
{% block title %}Detalle Contrato{% endblock %}
{% load widget_tweaks %}
{% load formulario_base %}
{% load operaciones_template %}
{% load snnipet_cabecera_transaccion_id %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
        .td-label12{
            padding-left: 5px;
            width: 110px;
        }
        .td-label1{
            padding-left: 0px;
            width: 110px;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}";
    </script>
    <script src="{{ STATIC_URL }}js/js_contrato/agregar_contrato.js"></script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Detalles de Contrato{% endblock %}
 {% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="row row-comprobante-cabecera" style="width: inherit;">
        <div class="col-lg-12">
            <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
                <table class="tabla-comprobante-cabecera">
                    <tr>
                        <td class="td-label1" style="width: 130px">
                            <label class="control-label" for="{{ formulario.fecha_reg}}">
                            <b>Fecha de Registro</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1">
                            {{ formulario.fecha_reg }}
                        </td>
                        <td class="td-label1"  style="width: 130px">
                            <label class="control-label" for="{{ formulario.fecha_entrega}}">
                            <b>Fecha de Entrega</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-control1">
                            {{ formulario.fecha_entrega }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="">
                            <b># Contrato</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {{ formulario.num_cont }}
                        </td>
                        <td>
                            <label class="control-label" for="{{ formulario.cliente.razon_social }}">
                            <b>Cliente  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {{ formulario.cliente.razon_social }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.tipo_pago.descripcion }}">
                            <b>Tipo de Pago</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {{ formulario.tipo_pago.descripcion }}
                        </td>
                        {% if formulario.tipo_pago.id == 2 %}
                            <td class="td-label12 plazo">
                                <label class="control-label" for="{{ formulario.plazo }}">
                                <b>Plazo </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control12 plazo">
                                {{ formulario.plazo }}
                            </td>
                            </tr>
                            <tr class="vence">
                                <td class="td-label12">
                                    <label class="control-label">
                                        <span class="no-requerido"></span>
                                        <b>Vencimiento</b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control12">
                                    <label id="vence"></label>
                                </td>
                            </tr>
                        {% endif %}
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.vendedor }}">
                            <b>Vendedor </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.vendedor.nombres_completos }} {{ formulario.vendedor.apellidos_completos }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.responsable }}">
                            <b>Responsable </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.responsable }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.concepto }}">
                            <b>Descripcion </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.concepto }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.costo_est }}">
                            <b>Costo Estimado </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.costo_estimado }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.valor }}">
                            <b>Valor </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        {% if formulario.baseiva == 0.0 %}
                            <td colspan="3">
                                {{ formulario.base0 }}
                            </td>
                        {% else %}
                            <td colspan="3">
                                {{ formulario.baseiva }}
                            </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="{{ formulario.monto_iva }}">
                            <b>Impuesto </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.monto_iva|floatformat:"2" }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" for="">
                            <b>Total</b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td colspan="3">
                            {{ formulario.getTotal|floatformat:"2" }}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label class="control-label" for="">
                            <b>Utilidad </b>
                            <span class="dospuntos">:</span> </label>
                        </td>
                        <td colspan="3">{% resta_snippet formulario.getTotal formulario.costo_estimado %} </td>
                    </tr>
                </table>
            </div>
            {% if contrato_detalle %}
                <div class="row row-cabecera">
                    <div class="div-centrar div-tabla" style="margin: auto; width: 680px;">


                        <h3 class="sustitulo-comprobante">Transacciones Asociadas al contrato</h3>

                        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellspacing="0" cellpadding="0">
                            <tr>
                                <th># Comprobante</th>
                                <th>Tipo Documento</th>
                                <th># Documento</th>
                                <th>Total</th>
                            </tr>



                            {% for obj in contrato_detalle %}
                                <tr>
                                    {% if obj.tipo_comprobante.id == 1 %}
                                        <td><a target="_blank"><ins>{{ obj.get_modulo.num_comp }}</ins></a></td>
                                        <td>{{ obj.get_modulo.documento.descripcion_documento|slice:"0:20" }}</td>
                                        <td>{{ obj.get_modulo.num_doc }}</td>
                                    {% elif  obj.tipo_comprobante.id == 2 %}
                                        <td><a target="_blank"><ins>{{ obj.get_modulo.numero_comprobante }}</ins></a></td>
                                        <td>{{ obj.get_modulo.documento.descripcion_documento|slice:"0:20" }}</td>
                                        <td>{{ obj.get_modulo.vigencia_doc_empresa.serie }}-{{ obj.get_modulo.num_documento }}</td>
                                    {% endif %}
                                    <td class="td-derecha">{{ obj.valor }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="text-center" style="padding: 30px 0px;">
       <a class="boton boton-gray" href="{% url "lista_contrato" %}" title="Cancelar">Regresar</a>
    </div>

{% endblock %}