{% extends 'base.html' %}
{% block title %}Configuración de Empresa{% endblock %}
{% load formulario_configuracion_empresa%}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.si.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .input-group-addon{
            width: 40px;
        }
        .input-group{
            width: 100%;
        }
        .input-large{
            width: 58%;
            margin-right: 0;
            margin-left: 0;
        }
        .bootstrap-filestyle label{
            width: 40%;
            margin-right: 0;
            margin-left: 0;
        }
    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }

    #foto_usuario{
    font-size: 0px;
    }

    #foto_usuario_int{
        font-size: 0px;
    }

    #foto-clear_id, label[for="foto-clear_id"],
    #foto_usuario_int br, #foto_usuario_int a{
        display: none;
    }



    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.si.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>
        /******************
         *
         * @param event
         * @constructor
         */
        function Numerico(event)
        {
            if ( $.inArray(event.keyCode,[46,8,9,27,13,190,127]) !== -1 ||
                 // Allow: Ctrl+A
                (event.keyCode == 65 && event.ctrlKey === true) ||
                 // Allow: home, end, left, right
                (event.keyCode >= 35 && event.keyCode <= 39) || (event.keyCode == 110))
            {
                 return;
            }
            else {
                // Ensure that it is a number and stop the keypress
                if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                    event.preventDefault();
                }
            }
        }

        function EsContribuyenteEspecial(){
            var desc = $("#id_contribuyente_especial");

            if ($(desc).is(':checked')){
                $("#num_resolucion").show();
            }else{
                $("#num_resolucion").hide();
            }

        }

        $(function(){
            $(".selectpicker").selectpicker();
            $('#id_fecha_inicio_actividades').datepicker({
                todayBtn: true,
                autoclose: true
            }).on('changeDate', function (ev) {
                $(this).datepicker('hide');
            });
            $(":file").filestyle({buttonText: "Buscar"});
            $(".numericos").keydown(function(event){
                Numerico(event);
            });

            $("#id_contribuyente_especial").click(function(){
                EsContribuyenteEspecial();
            });

            EsContribuyenteEspecial();

        });
    </script>
{% endblock %}

{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-700 %}container-navigation-700{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"{% endblock %}

{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}Configuración de Empresa{% endblock %}
{% block container-contenido-700 %}container-contenido-700{% endblock %}

{% block content %}
     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    <form method="POST" action="{% url "configuracion_empresa" %}" class="formulario formulario_cliente row" enctype="multipart/form-data" role="form" >{% csrf_token %}

        <div class="row row-persona-cabecera row-configuracion-empresa" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                <h3  class="sub-title-comprobante">
                      DATOS GENERALES
                </h3>

                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 180px; vertical-align: top; padding-top: 20px;">
                             <label class="control-label" for="{{ formulario.logotipo.label }}">
                            {% if formulario.logotipo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.logotipo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td class="td-imagen-avatar">
                             <img class="imagen-avatar" src="{% get_logotipo empresa.logotipo %}">
                            <div id="foto_usuario">
                                 <div id="foto_usuario_int">
                                    {% if formulario.logotipo.errors %}{{ formulario.logotipo|add_class:"campo_requerido" }}{% else %}{{ formulario.logotipo|add_class:"" }}{% endif %}
                                 </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ formulario.rucci.label }}">
                            {% if formulario.rucci.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.rucci.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.rucci.errors %}{{ formulario.rucci|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.rucci|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.razon_social.label }}">
                            {% if formulario.razon_social.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.razon_social.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.razon_social.errors %}{{ formulario.razon_social|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.razon_social|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.tipo_empresa.label }}">
                            {% if formulario.tipo_empresa.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo_empresa.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.tipo_empresa.errors %}{{ formulario.tipo_empresa|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.tipo_empresa|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.nombre_comercial.label }}">
                            {% if formulario.nombre_comercial.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.nombre_comercial.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.nombre_comercial.errors %}{{ formulario.nombre_comercial|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.nombre_comercial|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.fecha_inicio_actividades.label }}">
                            {% if formulario.fecha_inicio_actividades.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.fecha_inicio_actividades.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.fecha_inicio_actividades.errors %}{{ formulario.fecha_inicio_actividades|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.fecha_inicio_actividades|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.contribuyente_especial.label }}">
                            {% if formulario.contribuyente_especial.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.contribuyente_especial.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td style="text-align: left; padding-left: 12px;">
                            {% if formulario.contribuyente_especial.errors %}{{ formulario.contribuyente_especial|add_class:"campo_requerido" }}{% else %}{{ formulario.contribuyente_especial }}{% endif %}
                        </td>
                    </tr>
                    <tr id="num_resolucion">
                        <td>
                             <label class="control-label" for="{{ formulario.num_resolucion.label }}">
                            {% if formulario.num_resolucion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.num_resolucion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.num_resolucion.errors %}{{ formulario.num_resolucion|add_class:"campo_requerido" }}{% else %}{{ formulario.num_resolucion }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.representante_legal.label }}">
                            {% if formulario.representante_legal.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.representante_legal.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.representante_legal.errors %}{{ formulario.representante_legal|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.representante_legal|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.tipo_identificacion.label }}">
                            {% if formulario.tipo_identificacion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.tipo_identificacion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.tipo_identificacion.errors %}{{ formulario.tipo_identificacion|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.tipo_identificacion|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.direccion.label }}">
                            {% if formulario.direccion.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.direccion.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.direccion.errors %}{{ formulario.direccion|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.direccion|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.correo.label }}">
                            {% if formulario.correo.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.correo.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.correo.errors %}{{ formulario.correo|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.correo|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.telefono.label }}">
                            {% if formulario.telefono.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.telefono.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.telefono.errors %}{{ formulario.telefono|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.telefono|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <label class="control-label" for="{{ formulario.actividad.label }}">
                            {% if formulario.actividad.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ formulario.actividad.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if formulario.actividad.errors %}{{ formulario.actividad|add_class:"txt-100pc campo_requerido" }}{% else %}{{ formulario.actividad|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="row row-persona-cabecera row-configuracion-empresa" style="margin: auto; margin-top: 30px; margin-bottom: 30px;">
            <div class="col-lg-12 col-persona">
                <h3  class="sub-title-comprobante">
                      DATOS DEL CONTADOR
                </h3>
                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ contadorform.nombre_contador.label }}">
                            {% if contadorform.nombre_contador.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ contadorform.nombre_contador.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if contadorform.nombre_contador.errors %}{{ contadorform.nombre_contador|add_class:"txt-100pc campo_requerido" }}{% else %}{{ contadorform.nombre_contador|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ contadorform.ruc_contador.label }}">
                            {% if contadorform.ruc_contador.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ contadorform.ruc_contador.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if contadorform.ruc_contador.errors %}{{ contadorform.ruc_contador|add_class:"txt-100pc campo_requerido" }}{% else %}{{ contadorform.ruc_contador|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ contadorform.telefono_contador.label }}">
                            {% if contadorform.telefono_contador.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ contadorform.telefono_contador.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if contadorform.telefono_contador.errors %}{{ contadorform.telefono_contador|add_class:"txt-100pc campo_requerido" }}{% else %}{{ contadorform.telefono_contador|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ contadorform.correo_contador.label }}">
                            {% if contadorform.correo_contador.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ contadorform.correo_contador.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if contadorform.correo_contador.errors %}{{ contadorform.correo_contador|add_class:"txt-100pc campo_requerido" }}{% else %}{{ contadorform.correo_contador|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ contadorform.direccion_contador.label }}">
                            {% if contadorform.direccion_contador.field.required %}
                                <span class="requerido">*</span>
                            {% else %}
                                <span class="no-requerido"></span>
                            {% endif %}
                            <b>{{ contadorform.direccion_contador.label }}  </b>
                            <span class="dospuntos">:</span></label>
                        </td>
                        <td>
                            {% if contadorform.direccion_contador.errors %}{{ contadorform.direccion_contador|add_class:"txt-100pc campo_requerido" }}{% else %}{{ contadorform.direccion_contador|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <div class="row row-persona-cabecera row-configuracion-empresa" style="margin: auto;">
            <div class="col-lg-12 col-persona">
                <h3  class="sub-title-comprobante">
                      UTILIDAD/PÉRDIDA DEL EJERCICIO
                </h3>

                <table class="tabla-persona-cabecera" style="margin-top: 20px;">
                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ form_utilidad_perdida.cuenta_utilidad_ejercicio.label }}">
                                {% if form_utilidad_perdida.cuenta_utilidad_ejercicio.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ form_utilidad_perdida.cuenta_utilidad_ejercicio.label }}  </b>
                            </label>
                        </td>
                        <td>
                            {% if form_utilidad_perdida.cuenta_utilidad_ejercicio.errors %}{{ form_utilidad_perdida.cuenta_utilidad_ejercicio|add_class:"txt-100pc campo_requerido" }}{% else %}{{ form_utilidad_perdida.cuenta_utilidad_ejercicio|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td style="width: 180px;">
                             <label class="control-label" for="{{ form_utilidad_perdida.cuenta_perdida_ejercicio.label }}">
                                {% if form_utilidad_perdida.cuenta_perdida_ejercicio.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ form_utilidad_perdida.cuenta_perdida_ejercicio.label }}  </b>
                            </label>
                        </td>
                        <td>
                            {% if form_utilidad_perdida.cuenta_perdida_ejercicio.errors %}{{ form_utilidad_perdida.cuenta_perdida_ejercicio|add_class:"txt-100pc campo_requerido" }}{% else %}{{ form_utilidad_perdida.cuenta_perdida_ejercicio|add_class:"txt-100pc" }}{% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


       <div class="text-center" style="margin-bottom: 80px; margin-top: 45px;">
            <button class="boton boton-ok" type="submit">Guardar</button>
            <a class="boton boton-gray" href="{% url "administracion" %}">Cancelar</a>
        </div>
    </form>
{% endblock %}