{% extends "base.html" %}

{% block title %}Detalle Asiento Contable{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style type="text/css">
         .linea-total{
            border-top: 2px solid !important;
         }
    </style>
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
<script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
<script src="{{ STATIC_URL }}js/js_contabilidad/comprobante_detalle_asiento_contable.js"></script>
{% endblock %}



{% block item-contabilidad %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Detalle de Asiento Contable{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}

 <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 200px; width: 100%;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>N° Comprobante: </label>
                    </td>
                    <td class="td-dato">
                        <label>N° {{ objeto_cabecera.numero_comprobante }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>  Fecha:</label>
                    </td>
                    <td class="td-dato">
                        <label>  {{ objeto_cabecera.fecha|date:"d/m/Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado: </label>
                    </td>
                    <td class="td-dato">
                        <label>

                             {% if objeto_cabecera.status == 1 %}
                            Activo
                        {% else %}
                            Anulado
                        {% endif %}

                        </label>
                    </td>
                </tr>

                 <tr>
                    <td>
                        <label>Glosa: </label>
                    </td>
                    <td class="td-dato">
                        {{ objeto_cabecera.concepto_comprobante|slice:"0:85" }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Usuario Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ objeto_cabecera.usuario_creacion }}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Fecha Creación: </label>
                    </td>
                    <td class="td-dato">
                        <label>{{ objeto_cabecera.fecha_creacion|date:"Y-m-d" }}</label>
                    </td>
                </tr>
            </table>
        </div>
        <h3 class="sustitulo-comprobante" style="text-decoration: underline">Detalle de Asiento</h3>

        <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Centro de Costos</th>
                </tr>

                {% for obj in objeto_detalle_debe %}
                    <tr>
                        <td> {{ obj.plan_cuenta.codigo  }}</td>
                        <td> {{ obj.plan_cuenta.descripcion }}</td>
                        <td> {{ obj.detalle|slice:"0:85" }}{% if obj.detalle|length > 85 %}...{% endif %}</td>
                        <td class="td-derecha" style="width: 120px;">$ {{ obj.valor }}</td>
                        <td class="td-derecha"></td>
                        <td class="td-derecha">{{ obj.centro_costo.descripcion  }}</td>
                    </tr>
                {% endfor%}
                {% for obj in objeto_detalle_haber %}
                    <tr>
                        <td class="td-haber-cuenta"> {{ obj.plan_cuenta.codigo  }}</td>
                        <td class="td-haber-cuenta"> {{ obj.plan_cuenta.descripcion }}</td>
                        <td> {{ obj.detalle }}</td>
                        <td class="td-derecha"></td>
                        <td class="td-derecha" style="width: 120px;">$ {{ obj.valor }}</td>
                        <td class="td-derecha">{{ obj.centro_costo.descripcion  }}</td>
                    </tr>
                {% endfor%}
                <tr>
                    <td></td>
                    <td colspan="2" class="td-total">TOTAL</td>
                    <td class="linea-total td-derecha">$ {{ total_debe|floatformat:2  }}</td>
                    <td class="linea-total td-derecha">$ {{ total_haber|floatformat:2  }}</td>
                    <td class="td-derecha"></td>
                </tr>
        </table>

        <div class="text-center div-botones-alto" style="margin-top: 30px;">

            <a class="boton boton-ok" href="{% url 'generar_asiento_pdf'  objeto_cabecera.id %}" target="_blank" style="margin-right: 10px;">
               Generar PDF
            </a>

            <a class="boton boton-gray" href="{% url "lista_asientos" %}">Regresar</a>
        </div>
     </div>


{% endblock %}




