{% extends "base.html" %}
{% block title %}Reporte de Libro Diario{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load snnipet_generales %}
{% load snnipet_cabecera_transaccion_id %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style type="text/css">
        #info_cabecera{
            margin-top: 60px;
            border-top: 1px solid #CFCECE;
        }
        #boton-consultar{
            margin-top: 15px;
            text-align: right;
        }

        #boton-cancelar{
            float: left;
            text-align: left;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/libro_diario.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function(){
            $(".tabla-comprobante-detalles").each(function(){
               var total_debe = 0.0;
               var total_haber = 0.0;
               var t_total_debe = $(this).find(".total_debe");
               var t_total_haber = $(this).find(".total_haber");

                $(this).find(".td-debe").each(function(){
                   if ($(this).text()!=""){
                       var debe = parseFloat($(this).text().replace(",","."));
                       total_debe = total_debe + debe;
                   }
                });
                 $(this).find(".td-haber").each(function(){
                   if ($(this).text()!=""){
                       var haber = parseFloat($(this).text().replace(",","."));
                       total_haber = total_haber + haber;
                   }
                });

                $(t_total_debe).text(total_debe.toFixed(2));
                $(t_total_haber).text(total_haber.toFixed(2));
            });
        });
    </script>
{% endblock %}
{% block item-reportes %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %} Contabilidad General / Libro Diario{% endblock %}

{% block superior-iconos %}

{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
     {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
         <div class="div div-buscador-cerrar">
            <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
         </div>
         <form action="" class="form-group" id="formulario" method="GET">
            <div class="row row-comprobante-cabecera" style="width: auto;">
                <div class="col-lg-12 contenedor">
                    <div class="comprobante-cabecera-left" style="margin: auto;">
                        <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                            <tr>
                                <td style="width: 140px;">
                                    <label><b>Fecha Inicio: </b></label>
                                </td>
                                <td>
                                   {{ buscador.fecha_inicio|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                                <td style="width: 120px; text-align: right; padding-right: 20px;">
                                    <label><b>Fecha Final: </b></label>
                                </td>
                                <td>
                                   {{ buscador.fecha_fin|add_class:"calendario-gris input-calendario txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 140px;">
                                    <label><b># Comprobante: </b></label>
                                </td>
                                <td>
                                   {{ buscador.num_comp|add_class:"txt-150" }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label><b>Tipo Comprobante: </b></label>
                                </td>

                                <td colspan="3">
                                   {{ buscador.tipo_comprobante|add_class:"combo txt-100pc" }}
                                </td>
                            </tr>
                        </table>
                        <div style="display: none;">
                            {{ buscador.page }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
            </div>
         </form>
    </div>
    <div class="botones-administracion botones-administracion-media">
        <div class="opcion-buscar">
            <a class="buscador-abrir" title="Iniciar su búsqueda">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
     </div>

     {% if objetos %}

    {% for obj in objetos%}
        <div class="container container-comprobante">
            <div class="row row-comprobante-medio">

                <div class="col-lg-9 col-comprobante-detalles">
                    <p><label class="control-label"><b style="color: #dd4814;">Tipo Comprobante: </b> {{ obj.tipo_comprobante.descripcion }}</label></p>
                    <p><label class="control-label"><b style="color: #dd4814;">Número Comprobante: </b> {{ obj.numero_comprobante }}</label></p>
                    <p><label class="control-label"><b style="color: #dd4814;">Fecha Asiento: </b> {{ obj.fecha|date:"d-m-Y" }}</label></p>
                </div>

                <div class="col-lg-3 col-comprobante-opciones">
                    {% if obj.tipo_comprobante.id == 6 %}
                        <a class="opcion-comprobante opcion-libro" title="Ver" href="{% url "libro_diario_pdf" obj.id %}" target="_blank"><img src="{{ STATIC_URL }}cm_html/images/libro_icono.png"></a>
                        <a class="opcion-comprobante opcion-editar" title="Editar" href="{% url "modificar_asiento" obj.id %}?param=1"><img src="{{ STATIC_URL }}cm_html/images/editar_icono.png"></a>
                            {% if obj.status == 1%}
                                <a class="opcion-comprobante opcion-anular"  title="Anular" href="#" id="{{ obj.id }}" name="{{ obj.numero_comprobante }}" data-name="?param=1" ><img src="{{ STATIC_URL }}cm_html/images/anular_icono.png"></a>
                            {% else %}
                                <span class="label label-danger">Anulada</span>
                            {% endif %}

                    {% elif obj.tipo_comprobante.id == 1 %}<!-- Compra -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 2 %}<!-- Venta -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 3 %}<!-- Ingreso -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 4 %}<!-- Egreso -->
                         {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 8 %}<!-- Caja Chica -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 9 %}<!-- Pago -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 10 %}<!-- Cobro -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 11 %}<!-- Cruce de Documentos Pagos -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 12 %}<!-- Cruce de Cuentas Pagos -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 13 %}<!-- Compra de Inventario -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 14 %}<!-- Ingreso de Inventario -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 15 %}<!-- Egreso de Inventario -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 16 %}<!-- Retencón en Venta -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 17 %}<!-- Cruce de Documentos Cobros -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 18 %}<!-- Cruce de Cuentas Cobros-->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 19 %}<!-- Contrato -->

                    {% elif obj.tipo_comprobante.id == 20 %}<!--  -->

                    {% elif obj.tipo_comprobante.id == 21 %}<!-- Cruce de Cuentas Cobros-->

                    {% elif obj.tipo_comprobante.id == 22 %}<!-- Nota de Crédito -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 23 %}<!-- Transacciones Bancarias -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 24 %}<!-- N/C Bancos -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 25 %}<!-- N/D Bancos -->
                        {% getTransaccionId obj.id %}

                    {% elif obj.tipo_comprobante.id == 26 %}<!-- Asiento de Apertura-->
                        {% getTransaccionId obj.id %}
                    {% endif %}
                </div>
        </div>

       <div class="table-responsive">
         <table class="table tabla table-striped tabla-formato tabla-comprobante-detalles">
              <thead>
                    <tr>
                        <th style="text-align: left; padding-left: 60px !important;">Cuenta</th>
                        <th style="text-align: right; padding-right: 30px !important;">Debe</th>
                        <th style="text-align: right; padding-right: 30px !important;">Haber</th>
                    </tr>
              </thead>
              <tbody>
              {% for det in obj.getDetalleComp %}
                  <tr>
                        <td style="text-align: left; padding-left: 60px  !important;">{{ det.plan_cuenta.codigo }} - {{ det.plan_cuenta.descripcion }} </td>
                        {% if det.dbcr == "D"%}
                            <td class="td-debe">{{ det.valor|floatformat:2 }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                        {% if det.dbcr == "H"%}
                            <td class="td-haber">{{ det.valor|floatformat:2 }}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                  </tr>
              {% endfor %}
               </tbody>
                <tr>
                    <td colspan="3" style="text-align: left; word-break: break-all; table-layout: fixed;
                    padding-left: 60px !important; background: #F6F6F6 !important;"><b style="color: #dd4814;">Concepto:</b> {{ obj.concepto_comprobante }}</td>
                </tr>
                <tr>
                    <td style="text-align: right; color: #dd4814; background: white;"> TOTAL </td>
                    <td class="total_debe" style="text-align: right; background: #E6E6E6;"></td>
                    <td class="total_haber" style="text-align: right; background: #E6E6E6;"></td>
                </tr>
         </table>
       </div>
    </div>
    {% endfor %}


    {% endif %}
    {% if not objetos %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}

    {% paginacion_html objetos  arreglo_paginado mostrar_paginacion %}
    <div class="div div-agregar" style="padding-bottom: 60px;">
        <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar</a>
    </div>
     <!-- Div para los formulario Popup-->
   <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
   <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}