{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Conciliación Bancaria{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    #id_concepto{
        height: 60px;
        width: 100%;
        padding: 10px;
        max-width: 100%;
        min-width: 100%;
    }
    #encabezado{
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        padding: 10px;
    }

    h6{
        color: #dd4814;
        padding-bottom: 20px;
        text-align: justify;
        font-size: 16px;
    }

    #total{
       padding: 15px;
       text-align: center;
       margin: auto;
       margin-bottom: 25px;
    }

    .campo_requerido{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }
    .campo_requerido:hover{
        border: 1px solid rgb(221, 72, 20);
        outline: none 0px;
        box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
    }

    input[type=checkbox]{
        cursor: pointer;
        display: inline-block;

        width: 16px;
        height: 25px;
    }

    .tabla-comprobante-detalle tbody tr td:last-child {
        background: #FFF !important;
        border: 0px !important;
        border-right: 2px solid #E6E6E6 !important;

        border-bottom: 2px solid #E6E6E6 !important;
    }

    #id_valor{
        width: 100px !important;
        text-align: right;
    }

    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var url_get_transacciones_banco = "{% url "get_transacciones_conciliar" %}";
        var parametro_hide = "{{ parametro_hide }}";
    </script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_transaccion_banco/conciliacion_bancaria.js"></script>
    <script type="text/javascript">
        var fecha_data = $("#id_fecha_cierre").val();
        var dia = "{{ dia_actual }}";
        var fecha_comp = dia.split("-");
        var dia_fecha_asiento = new Date(parseInt(fecha_comp[0]),parseInt(fecha_comp[1]),parseInt(fecha_comp[2]));
        $(function () {
            if($("#id_fecha_cierre").val()=="")
                $("#id_fecha_cierre").val(dia);
            else
                $("#id_fecha_cierre").val($("#id_fecha_cierre").attr("value"));

        });
    </script>

{% endblock %}

{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-700{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
{% endblock %}
{% block ruta-principal %}Bancos{% endblock %}
 {% block ruta-actual %}Conciliación Bancaria{% endblock %}

{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST" action="{% url "conciliacion_bancaria" %}" enctype="multipart/form-data" class="form-horizontal" role="form">{% csrf_token %}
        <div class="comprobante-cabecera-left" style="margin: auto; width: 680px;">
            <h2 class="sub-title-comprobante">Datos de la Conciliación </h2>
                <div style="margin-top: 20px;">
                    <table class="tabla">
                        <tr>
                            <td class="td-label1" style="width: 200px !important;">
                                <label class="control-label" for="{{ formulario.fecha_cierre.label }}">
                                {% if formulario.fecha_cierre.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.fecha_cierre.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-control1" style="width: 500px !important;">
                                {% if formulario.fecha_cierre.errors %}{{ formulario.fecha_cierre|add_class:"campo_requerido  input-calendario" }}{% else %}{{ formulario.fecha_cierre|add_class:"input-calendario" }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1">
                                <label class="control-label" for="{{ formulario.cuenta_banco.label }}">
                                {% if formulario.cuenta_banco.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ formulario.cuenta_banco.label }}  </b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td class="td-label1" style="padding-top: 10px;">
                                {% if formulario.cuenta_banco.errors %}{{ formulario.cuenta_banco|add_class:"campo_requerido" }}{% else %}{{ formulario.cuenta_banco }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="td-label1" style="vertical-align: top; padding-top: 5px;">
                                     <label class="control-label" for="{{ formulario.ver_historial.label }}">
                                    {% if formulario.ver_historial.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ formulario.ver_historial.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                            <td class="td-control1" colspan="3"  style="text-align: left; vertical-align: top; padding-top: 5px;">{{ formulario.ver_historial }}</td>
                        </tr>
                    </table>

                    <div style="margin-top: 25px; text-align: center;">
                        <button type="button" class="boton boton-silver"  id="conciliar">Conciliar</button>
                    </div>
                </div>
        </div>

        <div class="row row-comprobante-detalle" style="margin-top: 50px;">
            <div id="div_detalle_transacciones">
                {% if parametro_hide == 0 %}
                    <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-conciliacion">
                        <thead>
                            <tr>
                                <th style="display: none"></th>
                                <th style="width: 80px;"></th>
                                <th style="width: 90px;">Tipo Comp</th>
                                <th style="width: 90px;"># Comp.</th>
                                <th style="width: 80px;">Fecha Reg.</th>
                                <th style="width: 130px;"># Cheque</th>
                                <th style="width: 200px;">Beneficiario</th>
                                <th style="width: 150px;">Detalle</th>
                                <th style="width: 100px;">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for formularios in forms %}
                                <tr>
                                    {% for form in formularios %}
                                        {% if form.label == "id_banco"  %}
                                            <td style="display: none">{{ form }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td style="width: 50px; text-align: center"> {{ formularios.check}}</td>
                                    <td> {{ formularios.tipo_comprobante.value}}</td>
                                    <td> {{ formularios.num_comp.value }}</td>
                                    <td> {{ formularios.fecha_reg.value|date:"Y-m-d" }}</td>
                                    <td> {{ formularios.num_cheque.value }}</td>
                                    <td style="width: 210px;"> {{ formularios.beneficiario.value}}</td>
                                    <td style="width: 210px;"> {{ formularios.detalle.value}}</td>
                                    <td style="text-align: right;"> $ {{ formularios.valor.value|floatformat:"2" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        {{ forms.management_form }}
                    </table>
                {% endif %}
           </div>
        </div>

         <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
            <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
            <a class="boton boton-gray" href="{% url "lista_transaccion_banco" %}">Cancelar</a>
         </div>

    </form>

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
