{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Cuentas Bancarias{% endblock %}
{% load permisostag %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_transaccion_banco/lista_cuenta_banco.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
           $(".selectpicker").selectpicker();
           $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
           });
        });
    </script>
{% endblock %}
{% block item-banco %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/banco_icono.png"
 {% endblock %}
 {% block ruta-principal %}Bancos{% endblock %}
 {% block ruta-actual %}Buscar Cuentas Bancarias{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
       <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="col-lg-12 contenedor">
                        <div class="comprobante-cabecera-left" style="margin: auto;">
                            <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                                <tr>
                                    <td>
                                        <label><b>Tipo Cuenta</b></label>
                                    </td>
                                    <td colspan="3">
                                       {{ buscador.tipo_cuenta|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 140px;">
                                        <label><b>Nombre Cta. Banco</b></label>
                                    </td>
                                    <td>
                                       {{ buscador.descripcion|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b># Cuenta</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.numero_cuenta|add_class:"txt-100pc" }}
                                    </td>
                                </tr>
                            </table>
                            <div style="display: none;">
                                {{ buscador.page }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                    <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                    <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
                </div>
            </form>
       </div>

       {% if_tiene_permiso request "registrar_banco" %}
           <div class="div div-agregar">
                <a class="boton boton-ok" href="{% url "registrar_banco" %}">Agregar</a>
           </div>
       {% endif_tiene_permiso %}

     <div class="botones-administracion">
     {% if objetos %}
        {% if_tiene_permiso request "detalle_banco" %}
            <a id = "ver" class="boton boton-administrador" href="#">Ver</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "modificar_banco" %}
            <a id = "editar" class="boton boton-administrador" href="#">Editar</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "eliminar_banco" %}
            <a id = "eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif_tiene_permiso %}

        {% if_tiene_permiso request "cambiar_estado_cuenta_banco" %}
           <a style="display: none;" id = "estado" class="boton boton-administrador" href="#">Cambiar Estado</a>
        {% endif_tiene_permiso %}
     {% endif %}

        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
     </div>

{% if objetos %}
     <div class="table-responsive">
         <table id = "lista" class="table tabla table-striped tabla-formato">
              <thead>
                    <tr>
                        <th></th>
                        <th>Nombre Cta. Bco</th>
                        <th>Nº de Cuenta</th>
                        <th>Tipo Cuenta</th>
                        <th>Secuencia Cheque</th>
                    </tr>
              </thead>

              <tbody>
                    {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-eliminar = "{% url "eliminar_banco" obj.id %}"
                                data-ver = "{% url "detalle_banco" obj.id numero %}"
                                data-editar ="{% url "modificar_banco" obj.id numero %}"
                                data-estado = "{% url "cambiar_estado_cuenta_banco" obj.id %}"/>
                        </td>
                        <td title="{{obj.descripcion}}" class="nombre">{{obj.descripcion|slice:"0:45"}}{% if obj.descripcion|length > 45 %}...{% endif %}</td>
                        <td>{{obj.numero_cuenta}}</td>
                        <td>{{obj.tipo_cuenta_banco.descripcion}}</td>

                        {% if obj.secuencia_cheque %}
                            <td>{{obj.secuencia_cheque}}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor%}
                    </tr>
              </tbody>
         </table>

         {% paginacion_html objetos arreglo_paginado muestra_paginacion %}
     </div>
{% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
{% endif %}

    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}