{% extends "base.html" %}
{% block title %}Compras por Fecha y Proveedor{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load snnipet_cabecera_transaccion_id %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }

    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_proveedores/estado_cuenta_proveedores.js"></script>
    <script type="text/javascript">

       /*funcion que oculta las cosas de centro de costos*/
        function ocultar_centro_costo(obj)
        {
            if($(obj).is(":checked")){
                $(".centro_costo_tab").hide();
            }
            else{
                $(".centro_costo_tab").show();
            }
        }

       jQuery(document).ready(function($) {
           $('#id_fecha_ini').mask('9999-99-99');
           $('#id_fecha_final').mask('9999-99-99');

           var formulario = $('#formulario');
           var all_centro_costo = $("#id_all_centro_costo");
            $('#limpiar').click(function(){
               limpiar_form(formulario);
               show_hide_prov($("#id_all_prov"));
               $('.datos-mostrar-ocultar').remove();
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            show_hide_prov($("#id_all_prov"));
            saldo_proveedor(1);

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });
            $(".eliminar").click(function(){
                EliminarFila(this);
            });
            $("#id_all_prov").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });
            $("#buscar").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();


           /*cosas para el centro de costos mostrar ocultar*/
           ocultar_centro_costo(all_centro_costo);

            $(all_centro_costo).click(function(){
                ocultar_centro_costo(this)
            })




       });
    </script>


{% endblock %}

{% block item-rol %}item-activo-menu{% endblock %}

{% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Compras / Compras por Fecha y Proveedor{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_compras_por_fecha_proveedor" %}" data-action="{% url "reporte_compras_por_fecha_proveedor" %}" class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Todos los Centros de Costos
                            </td>
                            <td colspan="3" style="text-align: left; padding-left: 5px;">{{ buscador.all_centro_costo }}</td>

                        </tr>

                        <tr>
                            <table class="tabla-comprobante-cabecera centro_costo_tab" id="tabla-centros-costo">
                                    {{ centro_costos.management_form }}
                                    <tbody>
                                    {% for form in centro_costos %}
                                        <tr>
                                            <td class="td-label1" style="text-align: left; width: 130px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.centro_costo.label }}">
                                                {% if form.centro_costo.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.centro_costo.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.centro_costo.errors %}{{ form.centro_costo|add_class:"campo_requerido combo" }}{% else %}{{ form.centro_costo|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                        </tr>

                        <tr>
                            <td style="width: 150px;">
                                <label>{{ buscador.all_prov.label }}</label>
                            </td>
                            <td colspan="3" style="text-align: left; padding-left: 5px;">{{ buscador.all_prov }}</td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ proveedores.management_form }}
                                    <tbody>
                                    {% for form in proveedores %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1" style="text-align: left; width: 116px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.proveedor.label }}">
                                                {% if form.proveedor.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.proveedor.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.proveedor.errors %}{{ form.proveedor|add_class:"campo_requerido combo" }}{% else %}{{ form.proveedor|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro proveedor</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>

        {% if lista_saldo_prov and lista_centro_costos %}
        <div>
            los centros de costos seleccionados o seleccionado

        </div>
        <table style="border: solid 1px;">
            {% for objeto in lista_centro_costos %}
            <tr>
                <td>
                    {{ objeto.descripcion }}
                </td>
            </tr>
            {% endfor %}
        </table>






        <div class="datos-mostrar-ocultar">

        <div class="div div-descargas">
            <a class="img_report img_excel excel" href=""></a>
            <a class="img_report img_pdf excel" href=""></a>
        </div>        
        <div class="row row-cabecera">
            {% for obj_saldo in lista_saldo_prov %}
                <div class="div-centrar div-tabla">
                    <h4 class="reporte-subtitle">Datos de Proveedor: {{ obj_saldo.razon_social }} ({{ obj_saldo.id }})</h4>
                    <table id="table-info-registro" class="table tabla tabla-comprobante table-striped tabla_saldos" cellpadding="0" cellspacing="0">
                        <tr>
                            <th class="text-center">Ruc</th>
                            <th class="text-center">Razon Social</th>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Débito</th>
                            <th class="text-center">Crédito</th>
                            <th class="text-center">Forma Pago</th>
                            <th class="text-center">Saldo Documento</th>
                            <th class="text-center">Saldo proveedor</th>
                        </tr>

                                <tr>
                                    <td>{{ obj_saldo.ruc }}</td>
                                    <td>{{ obj_saldo.razon_social }}</td>
                                    <td>{{ obj_saldo.nombre }}</td>
                                    {% if obj.cxp_pago.cuentas_x_pagar.naturaleza == 2 %}
                                        <td style="text-align: right">{{ obj.cxp_pago.monto|floatformat:"2" }}</td>
                                        <td></td>
                                    {% else %}
                                        <td></td>
                                        <td style="text-align: right">{{ obj.cxp_pago.monto|floatformat:"2" }}</td>
                                    {% endif %}
                                    <td style="text-align: right">{{ obj.cxp_pago.pago.forma_pago.descripcion }}
                                        {% if obj.cxp_pago.pago.num_cheque %}
                                            # {{ obj.cxp_pago.pago.num_cheque }}
                                        {% elif obj.cxp_pago.pago.referencia %}
                                            {{ obj.cxp_pago.pago.referencia }}
                                        {% else %}

                                        {% endif %}
                                        </td>
                                    <td style="text-align: right">{{ obj.cxp_pago.get_saldo_doc|floatformat:"2" }}</td>
                                    <td style="text-align: right">{{ obj.saldo|floatformat:"2" }}</td>
                                </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
        </div>
    {% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}



    <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}