{% extends "base.html" %}
{% block title %}Saldo de cuentas por pagar{% endblock %}
{% load formulario_base %}
{% load snnipet_cabecera_transaccion_id %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

        function limpiar_form(){
            $(".filter-option" ).empty();
            $('#formulario').find('input[type=text]').each(function(){
                $(this).val("");
            });
        }
    </script>

    <script>
        jQuery(document).ready(function($) {
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            var total = 0.0;
            $(".total").each(function(){
                total += parseFloat($(this).text());
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_param = document.URL.split("?")[1]
                var url = $(this).attr("href");
                window.location.href = url + "?" + url_param;
            });

            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}REPORTES{% endblock %}
 {% block ruta-actual %}Compras / Saldo de cuentas por pagar{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" class="form-group" id="formulario" method="GET">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>

                            <td>
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar">
        </div>
    </form>

    {% if objetos %}
        <div class="div div-agregar" style="padding: 0px">
            <a class="boton boton-ok excel" href="{% url "reporte_compras_por_fecha_excel" %}">Excel</a>
            <a class="boton boton-ok excel" href="{% url "reporte_compras_por_fecha_pdf" %}">PDF</a>
        </div>
        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">
                <h3 class="sustitulo-comprobante">Reporte de Compras desde: {{ buscador.fecha_ini.value }} hasta:{{ buscador.fecha_final.value }}</h3>

                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th style="width: 125px">Fecha de Reg.</th>
                        <th style="width: 129px"># Comprobante</th>
                        <th style="width: 80px">Tipo Doc.</th>
                        <th style="width: 129px"># Documento</th>
                        <th style="width: 120px">Proveedor</th>
                        <th>Concepto</th>
                        <th style="width: 72px">Monto</th>
                        <th style="width: 80px">Estado</th>
                    </tr>
                    {% for obj in objetos %}
                        <tr>
                            <td>{{ obj.cuenta_x_pagar.fecha_reg|date:"Y-m-d" }}</td>
                            <td><a><ins>{{ obj.cuenta_x_pagar.num_comp }}</ins></a></td>
                            <td>{{ obj.cuenta_x_pagar.documento.descripcion_documento }}</td>
                            <td>{{ obj.cuenta_x_pagar.num_doc }}</td>
                            <td>{{ obj.cuenta_x_pagar.proveedor.razon_social|slice:"0:12" }}</td>
                            <td>{{ obj.cuenta_x_pagar.compra_cabecera.concepto }}</td>
                            <td>{{ obj.cuenta_x_pagar.monto }}</td>
                            <td>{% if obj.cuenta_x_pagar.status == 1 %}Activa{% else %}Anulada{% endif %}</td>
                        </tr>
                        {% for pagos in obj.lista_pagos %}
                            <tr>
                                <td>{{ pagos.pago.fecha_reg|date:"Y-m-d" }}</td>
                                <td><a href="{% url "detalle_pago_proveedores" pagos.pago.id %}" target="_blank"><ins>{{ pagos.pago.num_comp }}</ins></a></td>
                                <td>{{ pagos.pago.documento.descripcion_documento }}</td>
                                <td></td>
                                <td>{{ pagos.pago.proveedor.razon_social|slice:"0:12" }}</td>
                                <td>{{ pagos.pago.concepto|slice:"0:20" }}&nbsp;&nbsp;"{{ pagos.pago.forma_pago.descripcion }}"&nbsp;&nbsp;
                                    {% if pagos.pago.num_cheque %}
                                        #{{ pagos.pago.num_cheque }}
                                    {% else %}
                                        {{ pagos.pago.referencia }}
                                    {% endif %}</td>
                                <td>{{ pagos.monto }}</td>
                                <td>{% if pagos.pago.status == 1 %}Activa{% else %}Anulada{% endif %}</td>
                            </tr>
                        {% endfor %}
                    {% endfor%}
                </table>
            </div>
        </div>
    {% endif %}
    <div class="div div-agregar">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}