<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="print">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="print">

<style type="text/css">

    @page {
     size: a3 landscape;
     margin: 1cm;
    }

   .titulo-vista{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    text-decoration: underline;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
    padding: 5px;
    }

    .table-condensed > thead > tr > th{
        border-bottom: 1px solid #CACACA;
        border-top: 1px solid #CACACA;
        color: #dd4814;
    }
    .tr-impar td{
        background: #ffffff;
    }
    .tr-par td{
        background: #ECEAEB;
    }

   .table-bordered th,
   .table-bordered td {
    border: 1px solid #ddd !important;
    }

   .table-condensed > tbody > tr > td{
        border-bottom: 1px solid #CACACA;
   }

    .table td,
    .table th {
    background-color: #fff !important;
    font-size: 12px;
    }

    .pie {
     clear: both;

    }

</style>

</head>

<body class="container">

        <img style="text-align: center; margin: auto;" width="300" src="clipmaestro/static/img/logo_pdf.png"/>
         <p style="text-align: left; font-size: 14px; font-style: italic; font-weight: bold">Fecha: <label>{{ hoy |date }}</label> </p>
         <p style="text-align: left; font-size: 14px; font-style: italic; font-weight: bold">Usuario: <label>{{ usuario }}</label> </p>
         <h2 class="titulo-vista">Reporte de Clientes</h2>

        <table class="table  table-condensed">
          <thead class="encabezado">
                <tr>
                    <th>Ruc</th>
                    <th>Nombre</th>
                    <th>Razón Social</th>
                    <th>Email</th>
                    <th>Estado</th>
                </tr>
          </thead>

            <tbody>

                    {% for obj in objetos %}

                        {% if forloop.counter|divisibleby:2 %}

                            <tr class="tr-par">
                                <td>{{obj.ruc}}</td>
                                <td>{{obj.nombre}}</td>
                                <td>{{obj.razon_social }}</td>
                                <td>{{obj.correo}}</td>

                                <td class="td_enlace_crud">
                                 {% if obj.status == 1 %}
                                 <a class="enlace_crud inactivar"
                                    href="#"  name="{{ obj.id }}" ><span class="item_activo" title="Clic para Inactivar">Activo</span></a>

                                 {% elif obj.status == 2 %}
                                 <a class="enlace_crud activar"  name="{{ obj.id }}" href="#" >
                                    <span class="item_inactivo" title="Clic para Activar">Inactivo</span>
                                 </a>
                                 {% endif %}
                                 </td>
                            </tr>
                        {% else %}
                            <tr class="tr-impar">
                                <td>{{obj.ruc}}</td>
                                <td>{{obj.nombre}}</td>
                                <td>{{obj.razon_social }}</td>
                                <td>{{obj.correo}}</td>

                                <td class="td_enlace_crud">
                                 {% if obj.status == 1 %}
                                 <a class="enlace_crud inactivar"
                                    href="#"  name="{{ obj.id }}" ><span class="item_activo" title="Clic para Inactivar">Activo</span></a>

                                 {% elif obj.status == 2 %}
                                 <a class="enlace_crud activar"  name="{{ obj.id }}" href="#" >
                                    <span class="item_inactivo" title="Clic para Activar">Inactivo</span>
                                 </a>
                                 {% endif %}
                                 </td>
                            </tr>
                        {% endif %}
                    {% endfor%}
            </tbody>
        </table>
</body>

</html>



