{% extends "base.html" %}
{% block title %}Guías de Remisión - Venta{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}
{% load snnipet_ventas %}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .anular_generar, .anular{
       cursor: pointer; cursor: hand;
    }
    td a span{
        cursor: pointer; cursor: hand;
    }
    .div-botones
    {
        padding: 0px;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
    function numerico(event){
        if ( $.inArray(event.keyCode,[46,8,9,27,13,110,190]) !== -1 ||
            (event.keyCode == 65 && event.ctrlKey === true) ||
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                 return;
        }
        else
        {
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                event.preventDefault();
            }
        }
    }
    /*****************************
     * Función que redondea el n´mero ingresado a 2 decimales
     */
    function redondear(e){
        var numero = $(e).val();
        var contador = 0.0;

        if(numero != ""){
            if (!isNaN(numero))
                $(e).val(parseFloat(numero).toFixed(2));
            else
                $(e).val((0).toFixed(2));
        }
        else
            $(e).val((0).toFixed(2));
    }

    $(document).ready(function(){
        $(".selectpicker").selectpicker();
        $(".datepicker").datepicker();
        $(".numerico").keydown(function(event){
            numerico(event)
        });
        $(".evento_page").each(function(){
            $(this).click(function(){
                var page = $(this).attr("data-page");
                $("#id_page").val(page);
                $("#buscar").click();
            });
        });

    });
    function limpiar_form(){
            $(".filter-option" ).empty();
            $('#formulario').find('input[type=text]').each(function(){
                $(this).val("");
            });
             $('#formulario').find('option:selected').each(function(){
                 $(this).val("");
             });

            $('#formulario').find(':checked').each(function() {
                $(this).removeAttr('checked');
            });
        }
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $(".buscador-cerrar").click(function(){
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#cerrar").click(function(){
               $("#error").fadeOut("slow");
            });
            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    window.location.href = $("#lista input[type='radio']:checked").attr("data-ver");
                }else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para ver el datalle de la guia de remisión</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#anular").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();

                    var url = $("#lista input[type='radio']:checked").attr("data-anular");
                    var status = $("#lista input[type='radio']:checked").attr("data-status");

                    if (status == 1){
                        $("#tit-alert").html("Anular Venta");
                        $("#body-alert").html('<p>Desea anular la Guía de Remisión número de documento: "<strong>'+nombre+'</strong> "?</p>');
                        $("#alert-yn").attr("data-href", url);
                        $("#alert-yn").modal();

                    }else{
                        $("#tit-alert-ok").html("ALERTA");
                        $("#body-alert-ok").html('<p>La Guía de Remisión que desea anular ya se encuentra anulada</p>');
                        $("#alert-ok").modal();
                    }

                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para anular la guía de remisión</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#ver_guia_rem").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-ver_guia");
                    $.ajax({
                        url:"{% url "tiene_guia_rem" %}",
                        type: 'POST',
                        async: false,
                        cache: false,
                        timeout: 300,
                        data: {
                            'id': $("#lista input[type='radio']:checked").val()
                        },
                         error: function(){
                            return true;
                        },
                         success: function(data)
                        {
                            if(data.status == 0)
                            {
                                $("#tit-alert-ok").html("Alerta");
                                $("#body-alert-ok").html('<p>La venta seleccionada no tiene ' +
                                        'registrada una guía de remisión </p>');
                                $("#alert-ok").modal();
                            }
                            else
                            {
                                window.open(url,'_blank')
                            }
                        }
                    });
                }
                else{

                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para ver la guía de remisión de la venta</p>');
                    $("#alert-ok").modal();
                }

            });
            $("#ok-alert").on("click",function(){
                window.location.href = $("#alert-yn").attr("data-href");
            });
        });
    </script>
{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Guia Remisión{% endblock %}
 {% block ruta-actual %}Guia Remisión - Venta{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}

    <div class="botones-administracion">
        <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        <a id="anular" class="boton boton-administrador" href="#">Anular</a>
    </div>

    <div class="table-responsive">
        <table id="lista" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th></th>
                    <th style="width: 90px;">F. Emisión</th>
                    <th style="width: 130px;">Nº de Comp.</th>
                    <th style="width: 140px;">Nº de Doc.</th>
                    <th>Cliente</th>
                    <th>Concepto</th>
                    <th>Cant.Vendida</th>
                    <th>Cant.Entregada</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                    {% for obj in objetos %}
                    <tr>
                        <td  style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-ver="{% url "detalle_guia_remision" obj.id %}?param=1"
                                data-anular="{% url "anular_guia_rem_venta" obj.id %}"
                                data-status="{{ obj.status }}"
                        </td>
                        <td style="text-align: center;">{{obj.fecha_emi|date:"d-m-Y" }}</td>
                        <td>{{venta.numero_comprobante}}</td>
                        <td class="nombre">{{obj.num_doc}}</td>
                        <td>{{obj.cliente.razon_social}}</td>
                        <td>{{obj.concepto}}</td>
                        <td>{{ obj.cantidadItemVenta }}</td>
                        <td>{{ obj.getCantidadesDetalleGuiaRem }}</td>
                        <td>
                        {% if obj.status == 1%}
                            <span class="item-activo">Activo</span>
                        {% else %}
                            <span class="sin-acceso">Anulada</span>
                        {% endif %}
                        </td>
                    {% endfor%}
                </tr>
            </tbody>
        </table>

        <div class="paginacion">
            <ul  class="pager">
                {% if objetos.has_previous %}
                  <span class="page">
                  <a href="?page={{ previous }}">&lt;< </a>
                  </span>
                {% else %}
                    <b><<</b>
                {% endif %}

                {% if objetos.has_previous %}
                  <span class="page">
                  <a href="?page={{ objetos.previous_page_number }}" > < </a>
                  </span>

                {% else %}
                    <b><</b>
                {% endif %}

                {% for numero in arreglo_paginado %}
                    {% ifequal numero objetos.number %}
                     <span class="current"> <b>{{ numero }}</b></span>

                    {% else %}
                        <a  data-page="{{ numero }}"  class="evento_page"> {{ numero }} </a>
                    {% endifequal %}
                {% endfor %}

                {% if objetos.has_next %}
                  <span class="page">
                    <a data-page="{{ objetos.next_page_number }}" class="evento_form"> >  </a>
                  </span>

                {% else %}
                     <b>></b>
                {% endif %}

                {% if objetos.has_next %}
                  <span class="page">
                  <a data-page="{{ total_paginas }}" class="evento_form">&gt;> </a>
                  </span>
                {% else %}
                    <b>>></b>
                {% endif %}

             </ul>
        </div>
    </div>

    <div class="div div-agregar" style="margin-top:50px; text-align: center;">
            <a class="boton boton-administrador" href="{% url "lista_ventas" %}">Regresar
        </a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}