{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% load snnipet_ventas %}
{% block titulo %}Reporte Cuentas por Cobrar Pendientes{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Clientes - Cuentas por Cobrar Pendientes{% endblock %}
{% block tabla_contenido %}
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 20px;">
            <tbody>
                <tr>
                    <td style="width: 80px;">
                        Hasta:
                    </td>
                    <td>
                        {{ hasta|date:"Y-m-d"}}
                    </td>
                </tr>
            </tbody>
        </table>
        {% for obj_cliente in objetos %}
            <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 15px;">
                <tbody>
                    <tr>
                        <td style="width:80px; font-weight: bold;">
                            Cliente:
                        </td>
                        <td>
                            {{ obj_cliente.cliente.razon_social }} ({{ obj_cliente.cliente.ruc }})
                        </td>

                    </tr>
                </tbody>
            </table>

            <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr style="height: 10px;">
                        <th style="text-align: center; width: 80px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">F. Registro</th>
                        <th style="text-align: center; width: 80px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">F. Emisión</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Tipo Doc.</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;"># Documento</th>
                         <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Débito</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Crédito</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Cobrado/Cruzado</th>
                        <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Saldo Pendiente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in obj_cliente.lista_saldo %}
                        <tr>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 9px;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                            <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{ obj.fecha_emi|date:"Y-m-d" }}</td>
                            <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.documento.descripcion_documento }}</td>
                            <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.num_doc }}</td>
                              {% if obj.naturaleza == 1 %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto|floatformat:"2" }}</td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                            {% else %}
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;"></td>
                                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.monto|floatformat:"2" }}</td>
                            {% endif %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% get_monto_cobrado_fecha obj.id fecha_final %}</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% get_monto_saldo_cxc_fecha obj.id fecha_final %}</td>
                        </tr>
                    {% endfor%}
                    <tr>
                        <td colspan="4" style="text-align: right; padding: 2px 5px; font-size: 9px;">Totales:</td>
                        <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ obj_cliente.saldo_deudor|floatformat:"2" }}</td>
                        <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ obj_cliente.saldo_acreedor|floatformat:"2" }}</td>
                        <td style="text-align: right; padding: 2px 5px; font-size: 9px;">{{ obj_cliente.saldo|floatformat:"2" }}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj_cliente.total_saldo_pendiente|floatformat:"2" }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <tr>
                <td colspan="4" style="text-align: right;padding: 2px 5px; font-size: 9px;">Totales:</td>
                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_debito|floatformat:"2" }}</td>
                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_credito|floatformat:"2" }}</td>
                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_cobrado_cruzado|floatformat:"2" }}</td>
                <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ total_cobrar|floatformat:"2" }}</td>
            </tr>
        </table>
{% endblock %}