{% load widget_tweaks %}
<table class="tabla-persona-cabecera" id="tabla_direcciones">
        <tr>
            <td style="width: 100px;">
                <label class="control-label" for="{{ formulario_direccion.descripcion.label }}">
                {% if formulario_direccion.descripcion.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.descripcion.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td colspan="3">
                {% if formulario_direccion.descripcion.errors %}{{ formulario_direccion.descripcion|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_direccion.descripcion|add_class:"txt-100pc" }}{% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 100px;">
                <label class="control-label" for="{{ formulario_direccion.direccion1.label }}">
                {% if formulario_direccion.direccion1.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.direccion1.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td colspan="3">
                {% if formulario_direccion.direccion1.errors %}{{ formulario_direccion.direccion1|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_direccion.direccion1|add_class:"txt-100pc" }}{% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 100px;">
                <label class="control-label" for="{{ formulario_direccion.direccion2.label }}">
                {% if formulario_direccion.direccion2.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.direccion2.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td colspan="3">
                {% if formulario_direccion.direccion2.errors %}{{ formulario_direccion.direccion2|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_direccion.direccion2|add_class:"txt-100pc" }}{% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 100px;">
                <label class="control-label" for="{{ formulario_direccion.atencion.label }}">
                {% if formulario_direccion.atencion.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.atencion.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td colspan="3">
                {% if formulario_direccion.atencion.errors %}{{ formulario_direccion.atencion|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_direccion.atencion|add_class:"txt-100pc" }}{% endif %}
            </td>
        </tr>

        <tr>
            <td >
                <label class="control-label" for="{{ formulario_direccion.ciudad.label }}">
                {% if formulario_direccion.ciudad.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.ciudad.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td style="width: 270px;">
                {% if formulario_direccion.ciudad.errors %}{{ formulario_direccion.ciudad|add_class:"combo campo_requerido" }}{% else %}{{ formulario_direccion.ciudad|add_class:"combo" }}{% endif %}
            </td>

            <td style="padding-left: 20px;" >
                <label class="control-label" for="{{ formulario_direccion.telefono.label }}">
                {% if formulario_direccion.telefono.field.required %}
                    <span class="requerido">*</span>
                {% else %}
                    <span class="no-requerido"></span>
                {% endif %}
                <b>{{ formulario_direccion.telefono.label }}  </b>
                <span class="dospuntos">:</span></label>
            </td>
            <td style="width: 140px;">
                {% if formulario_direccion.telefono.errors %}{{ formulario_direccion.telefono|add_class:"campo_requerido txt-150" }}{% else %}{{ formulario_direccion.telefono|add_class:"txt-150" }}{% endif %}
            </td>
        </tr>

         <!--
            <tr>
                <td colspan="4">
                    <table id="tb-boton-add">
                         <tr>
                             <td  style="border: 0px;">
                                 <a class="tr-agregar" id="add_direccion" style="color: #E75300;">
                                     <img src="/static/cm_html/images/agregar_tr_icono.png">
                                        Agregar otra dirección
                                </a>

                             </td>
                         </tr>
                    </table>
                </td>
            </tr>
        -->
    {{ forms.management_form }}
</table>