{% load widget_tweaks %}
{{ forms.management_form }}
<table id="tabla_formset2" class="center-table">
        <thead>
            <tr>
                <th style="border: 0px;"></th>
                <th >Código_Cuenta</th>
                <th >Id_Proveedor</th>
                <th>Proveedor</th>
                <th >Sust. Trib.</th>
                <th >Tipo Doc.</th>
                <th>Nº de Documento</th>
                <th>Fecha Emi.</th>
                <th>No. Aut.</th>
                <th>Fecha Venc.</th>
                <th>IVA</th>
                <th style="display: none;">B/S</th>
                <th>Cost./Gast.</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>

        {% for formularios in forms %}
            <tr>
                 <td style="border: 0px;"><a class="boton btn-eliminar eliminar"  style="background-color: #4B4B4D;" >-</a></td>
                {% for form in formularios %}
                        <td>{{ form}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
</table>
