{% extends "base.html" %}
{% block title %}Modificar Inventario Costos{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <style type="text/css">
        .numero{
            text-align: right;
        }

        #tabla_reporte tbody tr td.numero:first-child{
            text-align: center;
        }

        .td-item{
            text-align: left;
        }
        .reprocesar{
            background-color: red;
        }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var formulario = $("#formulario");
                $('#limpiar').click(function(){
               limpiar_form(formulario);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    formulario.submit();
            });

            $(".selectpicker").selectpicker();

            $('#id_anio').mask('9999');
            $("#id_anio").datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            });

            $("#recalcular").click(function(){
                $("#tit-alert").html("REPROCESAR INVENTARIO");
                $("#body-alert").html('<p>¿Está seguro que desea reprocesar los costos y modificar todo el inventario?"</p>');
                $("#alert-yn").modal();

            });

            $("#ok-alert").click(function(){
                var action = formulario.attr("action");
                formulario.attr("action", action+"?reprocesar=1");
                $("#buscar").click();
            });


        });
    </script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
 {% block container-navigation-media %}container-navigation-media{% endblock %}
 {% block container-contenido-media %}container-contenido-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"
 {% endblock %}
 {% block ruta-principal %}Inventarios{% endblock %}
 {% block ruta-actual %}Modificar Movimiento de Inventario{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "modificar_inventario" %}" data-action="{% url "modificar_inventario" %}" class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Año:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.anio|add_class:"calendario-gris input-calendario txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Item:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.item|add_class:"combo" }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="button" class="boton boton-silver" value="Reprocesar"  id="recalcular">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>
    </form>

    {% if lista %}
        <div class="div div-agregar" style="margin-bottom: 10px;">
            <a class="boton boton-ok excel" target="_blank" href="{% url "repaso_reproceso_inventario" %}">Excel</a>
        </div>
        <div class="row row-cabecera">
            {% for obj_list in lista %}
                {% if obj_list.lista %}
                    <div class="div-centrar div-tabla">
                        <table id="table-info-registro" style=" border-spacing:  20px;">
                             <tr>
                                <td>
                                    <p class="tabla-pre-detalles">ITEM: <label class="detalle-codigo">{{ obj_list.item.id }} - {{ obj_list.item.codigo }} - {{ obj_list.item.nombre }}</label></p>
                                </td>
                                <td style="text-align: right;">
                                    <p class="tabla-pre-detalles">CANTIDAD INICIAL: <label class="detalle-codigo">{{ obj_list.cantidad_inicial }}</label></p>
                                </td>
                                <td style="text-align: right;">
                                    <p class="tabla-pre-detalles">COSTO INICIAL: <label class="detalle-codigo">{{ obj_list.costo_inicial|floatformat:9 }}</label></p>
                                </td>
                             </tr>
                             <tr>
                                 <td></td>
                                <td style="text-align: right">
                                    <p class="tabla-pre-detalles">CANTIDAD FINAL: <label class="detalle-codigo">{{ obj_list.cantidad_actual }}</label></p>
                                </td>
                                <td style="text-align: right">
                                    <p class="tabla-pre-detalles">COSTO FINAL: <label class="detalle-codigo">{{ obj_list.costo_actual|floatformat:9 }}</label></p>
                                </td>
                             </tr>
                        </table>
                        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                                <tr>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Num_Comp</th>
                                    <th class="text-center">Movimiento</th>
                                    <th class="text-center">Cantidad_Inv.</th>
                                    <th class="text-center">Costo_Inv.</th>
                                    <th class="text-center">Costo_Proceso.</th>
                                    <th class="text-center">Cantidad Actual</th>
                                    <th class="text-center">Costo Actual</th>
                                    <th class="text-center">Estado</th>
                                </tr>
                                {% for obj in obj_list.lista %}
                                    <tr>
                                        <td>{{ obj.det_inv.inventario_cabecera.fecha_reg|date:"Y-m-d" }}</td>
                                        <td>{{ obj.det_inv.inventario_cabecera.num_comp }}</td>
                                        <td>{{ obj.det_inv.inventario_cabecera.tipo_mov_inventario.descripcion }}</td>
                                        <td class="numero">{{ obj.det_inv.cantidad }}</td>
                                        <td class="numero">{{ obj.costo_linea|floatformat:9 }}</td>                     <!-- Costo de Inventario-->
                                        <td class="numero">{{ obj.det_inv.costo|floatformat:9 }}</td>                   <!-- Costo de Procesado-->
                                        <td class="numero">{{ obj.cantidad_act }}</td>
                                        <!-- Cantidad Reprocesada -->

                                        {% if  obj.det_inv.inventario_cabecera.tipo_mov_inventario.modifica_costo %}
                                            <td class="numero">{{ obj.costo_act|floatformat:9 }}</td>                       <!-- Costo Reprocesado-->
                                        {% else %}
                                            <td class="numero">{{ obj.det_inv.costo|floatformat:9 }}</td>                       <!-- Costo Reprocesado-->
                                        {% endif %}

                                        {% if obj.reprocesar == False %}
                                            <td style="text-align: center">
                                                <i class="fa fa-check" title="Correcto"  style="font-size: 14px;"></i>
                                            </td>
                                        {% else %}
                                            <td style="text-align: center">
                                                <i class="fa fa-warning" title="Reprocesar" style="font-size: 14px; color: #E75300;"></i>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                        </table>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>{{ mensaje }}</p>
    {% endif %}

    <div class="div div-agregar" style="padding-bottom: 30px;">
        <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar</a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}