{% load widget_tweaks %}
{% if flag %}
    <div class="row row-comprobante-detalle">
        <table id="tabla_hide" class="tabla-comprobante-detalle-externa" style="width: 1000px;">
            <tr>
                <td style="border: none;">
                    <table id="tabla_detalle_compra" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                        <thead>
                            <tr>
                                <th style="background: #F6F6F6; width: 35px;"></th>
                                <th style="display: none"></th>
                                <th>Item</th>
                                <th style="width: 150px;">Cantidad Comprada</th>
                                <th style="width: 150px;">Cantidad devuelta</th>
                                <th style="width: 150px;">Costo Total</th>
                                <th style="width: 150px;">P. Unitario</th>
                            </tr>
                        </thead>
                        {{ formulario.management_form }}
                        <tbody>
                        {% for formularios in formulario %}
                            <tr>
                                <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                    <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                </a></td>
                                {% for form in formularios %}
                                        {% if form.label == "id_det_inv"%}
                                            <td style="display: none">{{ form }}</td>
                                        {% else %}
                                            <td>{% if form.errors %}{{ form|add_class:"campo_requerido" }}{% else %}{{ form }}{% endif %}</td>
                                        {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            <tr>
            <tr style="margin: 0px; padding: 0px;">
                 <td style="border: none; margin: 0px; padding: 0px;">
                     <table id="tb-boton-add">
                         <tr>
                             <td  style="border: 0px;">
                                 <a class="tr-agregar" id="add_detalle_compra">
                                     <img src="/static/cm_html/images/agregar_tr_icono.png">
                                        Agregar otra fila
                                </a>

                             </td>
                         </tr>
                     </table>
                 </td>
            </tr>
        </table>
    </div>
    <div id="tiene_docs" data-error="0" style="display: none"></div>
{% else %}
    <div id="tiene_docs" data-error="1" style="display: none"></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
{% endif %}