{% extends "base.html" %}
{% block title %}Provisionamiento en Compras{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function getURLUltimaSeq(){
            return "{% url "ajax_seleccionar_ultima_secuencia" %}";
        }
        function getURLGetSeqCompras(){
            return "{% url "ajax_seleccionar_ultima_secuencia_compras" %}";
        }
        var fecha_actual = "{% now "Y-m-d" %}";
    </script>

    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script type="text/javascript">
        var URL_Vigencia_Retencion = "{% url "get_documentos_provision_retencion" %}";
    </script>
    <script src="{{ STATIC_URL }}js/js_ventas/funciones_venta.js"></script>
    <script src="{{ STATIC_URL }}js/js_provision_docs/funciones_provision_doc.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function validar_fecha_actual_provision_compra(obj){
            try
            {
                var str_fecha = fecha_actual.split("-");
                var date = new Date(parseInt(str_fecha[0]),parseInt(str_fecha[1]),parseInt(str_fecha[2]));
                var str_fecha_reg = $(obj).val().split("-");
                var fecha_reg = new Date(parseInt(str_fecha_reg[0]),parseInt(str_fecha_reg[1]),parseInt(str_fecha_reg[2]));

                if(fecha_reg > date){
                    $("#tit-alert-ok").html("ALERTA");
                    $("#body-alert-ok").html("NO puede ingresar una fecha superior a la fecha actual: "+fecha_actual);
                    $("#alert-ok").modal();
                    $(obj).val(fecha_actual);

                }
            }
            catch(err){
                $(obj).val("");
                $("#tit-alert-ok").html("NO puede ingresar una fecha superior a la fecha actual");
                $("#body-alert-ok").html("");
                $("#alert-ok").modal();
            }
        }
        function SelectSecuenciasDocCompras(url){
            $.ajax(
            {
                url: url,
                type: 'POST',
                async: false,
                cache: false,
                timeout: 300,
                data: {"id": $("#id_serie").val()
                },
                error: function(){
                },
                success: function(data)
                {
                    if(data.status == 1)
                    {
                        $("#id_utlimo_doc_emititdo").val(data.secuencia);
                        $("#id_utlimo_comp_emititdo").val(data.secuencia_comp);
                    }
                }
            });
        }

    </script>

    <script type="text/javascript">
        $(document).ready(function($) {

            ValidaDocumentoVigenciaRetencion(URL_Vigencia_Retencion);

            presentarInformacionCompraRet();

            $(".con_retencion").click(function(){
                presentarInformacionCompraRet();
            });

            $(".sin_ret").click(function(){
                presentarInformacionCompraRet();
            });

            $(".numerico").keydown(function(event) {
                NumeroEntero(event);
             });

            $("#id_serie").change(function(){
                SelectSecuenciasDocCompras(getURLGetSeqCompras());
                CalcularSeqProvision();
            });

            // Inhabilita el boton de submit evitando que se haga más de una petición
            $("input[type='submit']").click(function(){
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });

            SelectSecuenciasDocCompras(getURLGetSeqCompras());

            $("#id_cantidad_prov").change(function(){
                CalcularSeqProvision();
            });

            $("#id_cantidad_comp_prov").change(function(){
                CalcularSeqProvision();
            });

            $('#id_fecha').mask("9999-99-99").datepicker({
                         todayBtn: true,
                         autoclose: true
            }).on('changeDate', function (ev) {
                //validar_fecha_actual_provision_compra(this);
                ValidaDocumentoVigenciaRetencion(URL_Vigencia_Retencion);
            });

            $(".selectpicker").selectpicker();
        });
    </script>


{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Provisionamiento en Compras{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}
    <form action="{% url "provision_compra" %}" class="form-group" id="formulario" method="POST">

           <div class="comprobante-cabecera-left"   style="padding-right: 40px; padding-left: 40px; text-align: center; margin: auto" >
                <h3 class="sub-title-comprobante"  style="text-align: left;">PROVISIONAMIENTO EN COMPRAS</h3>
                <table class="tabla-comprobante-cabecera tabla-provision">
                <tr>
                    <td class="td-label1" style="width: 180px;">
                        <span class="requerido">*</span>
                        <b>Fecha: </b>
                    </td>
                    <td class="td-control1">
                        {% if formulario_provision.fecha.errors %}
                            {{ formulario_provision.fecha |add_class:"calendario-gris input-calendario campo_requerido" }}
                        {% else %}
                            {{ formulario_provision.fecha |add_class:"calendario-gris input-calendario" }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b>Compras con Retención</b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control1">
                        <input type="radio" class="con_retencion" name="tipo" value="1">
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b>Compras sin Retención</b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control1">
                        <input  type="radio" class="sin_ret" name="tipo" value="2">
                    </td>
                </tr>
                <tr id="tr_serie_ret">
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b>{{ formulario_provision.serie.label }}  </b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control2">
                        {{ formulario_provision.serie|add_class:"combo" }}
                    </td>

                </tr>
                <tr id="tr_doc_ret">
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b>{{ formulario_provision.utlimo_doc_emititdo.label }}  </b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control2">
                        {{ formulario_provision.utlimo_doc_emititdo |add_class:"txt-100pc" }}
                    </td>
                </tr>

                <tr>
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b>{{ formulario_provision.utlimo_comp_emititdo.label }}  </b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control2">
                        {{ formulario_provision.utlimo_comp_emititdo |add_class:"txt-100pc" }}
                    </td>
                </tr>

                 <tr>
                    <td class="td-label1">
                        <span class="requerido">*</span>
                        <b id="label_cantidad_doc">{{ formulario_provision.cantidad_prov.label }}</b>
                        <b id="label_cantidad_comp"># Comp. a provisionar</b>
                        <span class="dospuntos">:</span>
                    </td>
                    <td class="td-control2">
                        {% if formulario_provision.cantidad_prov.errors %}{{ formulario_provision.cantidad_prov|add_class:"campo_requerido txt-100pc" }}{% else %}{{ formulario_provision.cantidad_prov |add_class:"txt-100pc" }}{% endif %}
                    </td>
                </tr>

           </table>
               <h3 class="sub-title-comprobante" style="text-align: left; margin-top: 30px;">CONFIRMACIÓN</h3>
               <table>
                    <tbody>
                         <tr id="label-doc-ret">
                             <td>
                                 <p style="text-align: left; margin-top: 10px;"># Docs. Retención</p>
                             </td>
                         </tr>
                         <tr id="rango-doc-ret">
                             <td class="td-label1" style="width: 180px;">
                                <b>Desde:</b>
                             </td>
                             <td class="td-control1" style="padding-left: 10px; width: 130px;">
                                {{ formulario_provision.num_inicio_doc | add_class:"txt-100pc" }}
                             </td>

                             <td class="td-label1"  style="width: 100px;">
                               <b style="margin-left: 46px;">Hasta</b>
                               <span class="dospuntos">:</span>
                             </td>
                             <td class="td-control1" style="width: 130px;">
                                {{ formulario_provision.num_fin_doc |add_class:"txt-100pc" }}
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <p style="text-align: left; margin-top: 10px;"># Comp. Compra</p>
                             </td>
                         </tr>
                         <tr>
                             <td class="td-label1" style="width: 180px;">
                                <b>Desde:</b>
                             </td>
                             <td class="td-control1" style="padding-left: 10px; width: 130px;">
                                {{ formulario_provision.num_inicio_comp | add_class:"txt-100pc" }}
                             </td>

                             <td class="td-label1"  style="width: 100px;">
                               <b style="margin-left: 46px;">Hasta</b>
                               <span class="dospuntos">:</span>
                             </td>
                             <td class="td-control1" style="width: 130px;">
                                {{ formulario_provision.num_fin_comp |add_class:"txt-100pc" }}
                             </td>
                         </tr>
                    </tbody>
               </table>
       </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                <input class="boton boton-ok" id="buscar" type="submit" value="Grabar">
                <a class="boton boton-gray" href="{% url "lista_compras" %}" title="Cancelar">Cancelar</a>
           </div>
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                </div>
                <div class="modal-footer">
                    <!-- Param=1 Registrar Venta;  Param=2 Provision Venta ; Param=3 Provision Compra -->
                    <button type="button" class="btn btn-primary yes boton boton-ok"
                            data-dismiss="modal" id="enviar"
                            data-href="{% url "agregar_vigencia_documento_empresa" %}?param=3">Aceptar
                    </button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}