{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Naremaster" />
	<title>Reporte de Retención Fuente</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">


          <style type="text/css">
 *{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


#page-comprobante{
    margin: auto;
    width: 1000px;
    margin-top: 30px;
}

.div-centrar{

    margin: auto;

}

.div-cabecera{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#logo{
    float: left;
}

#logo img{
    max-height: 44px;
    width: auto;
}

#detalle-empresa{
    float: right;
}

#detalle-empresa ul{
    list-style: none;
}

#detalle-empresa ul li{
    text-align: right;
    font-size: 12px;
}

#detalle-empresa ul li.li-em-bold{
    font-weight: bold;
}

.div-centrar h3{
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: bold;
}

#table-info-basica{
    width: 100%;
    font-size: 11px;
}

#table-info-basica tr .td-label1{
    width: 20%;
    font-weight: bold;
    font-size: 11px;
    vertical-align: top;

}

#table-info-basica tr .td-info1{
    width: 40%;
    font-size: 11px;
    vertical-align: top;
}

#table-info-basica tr .td-label2{
    width: 20%;
    font-weight: bold;
    font-size: 11px;
    vertical-align: top;
}

#table-info-basica tr .td-info2{
    width: 20%;
    font-size: 11px;
    vertical-align: top;
}

.div-info-basica{
    padding-bottom: 20px;
}

.div-tabla{
    margin-bottom: 30px
}
.div-tabla h4{
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-decoration: underline;

    font-weight: bold;
}

#table-info-registro{
     width: 100%;
    font-size: 13px;
    margin-top: 5px;
}


#table-info-registro tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 3px;
    text-align: center;
}

#table-info-registro tr th:last-child{
    border-right: 1px solid gray;


}

#table-info-registro tr td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 3px;
}

#table-info-registro tr td:last-child{
    border-right: 1px solid gray;
    text-align: right;

}
#table-info-registro tr:last-child td{
    border-bottom: 1px solid gray;


}

#table-info-retencion{
    width: 100%;
    margin: auto;
}

#table-info-retencion .td-label{
    width: 16%;
    font-weight: bold;
    font-size: 13px;
}


#table-info-retencion .td-info{
    width: 16%;
    font-size: 13px;
}

#table-info-registro tr td.td-haber-cuenta{
    padding-left: 20px;
}

#table-info-registro tr td.td-derecha{
    text-align: right;
    padding-right: 3px;
}

.desc-label{
    font-weight: bold;
    font-size: 13px;
    padding-top: 30px;
}


.desc-info{
    font-weight: normal;
    font-size: 13px;
}

#div-totales{
    width: 100%;
    margin: auto;
    font-size: 13px;
}

#table-totales{
    float: right;
}

#table-totales tr td.td-label{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}
#table-totales tr td.td-info{
    text-align: right;
    padding-left: 20px;
}

#div-firmas{
    width: 100%;
    margin: auto;
    font-size: 13px;
    margin-top: 60px;
}

#table-firmas{
   margin: auto;
   width: 100%;
}

#table-firmas tr td{
   padding: 0px 30px;
}

#table-firmas tr td hr{
   border-top: 1px solid black;
}

#table-firmas tr td p{
   padding-top: 3px;
   font-weight: bold;
}

.div-footer label.lbl-empresa{
    float: left;
    font-size: 11px;
    font-weight: bold;
}


.div-footer label.lbl-indice{
    float: right;
    font-size: 11px;
    font-weight: bold;
}

#table-cobro{
     margin: auto;
   width: 100%;
}

#table-info-registro  tr td.td-total{
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}


 .tr-tipo1{
     border: 1px solid #000000;
 }


    </style>
<style type="text/css">
    /*
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    height: 1cm;

                }
            }
            */

    @page {
      size: a4 landscape;
      margin: 1cm;
      margin-bottom: 2cm;
      margin-top: 1cm;
      @frame footer {
        -pdf-frame-content: footerContent;
        left: 1cm;
        right: 1cm;
        bottom: 0cm;
        height: 1cm;
      }
    }

</style>
</head>

<body>


<div id="page-comprobante">

         <div class="div-centrar div-cabecera" >
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">
                        <p style="text-align: center;">
                            <img style="text-align: center; margin: auto;" height="44" src="clipmaestro/static/img/logo_tmp.jpg"/>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-weight: bold;font-size: 10px; display: block;">Inpulso S.A.</span>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {{ request.user.first_name }} {{ request.user.last_name }}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {{ fecha_actual|date:"d/m/Y" }}</span>
                        </p>

                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>

    <div class="div-centrar div-info-basica">

        <h5 style="text-align: center; color: #000000;  font-size: 18px; font-weight: normal; padding-bottom: 0px; margin-bottom: 0px;">Reporte de Retención Fuente</h5>
         {% if proveedor_ruc != "" and total_registros > 0 and fecha_inicio %}
            <p style="text-align: center; font-weight: bold;">Proveedor: {{ proveedor_ruc }} | Fechas:  {{ fecha_inicio|date:"d/m/Y"}} - {{fecha_fin|date:"d/m/Y"}}

            </p>

        {% endif %}
        {% if proveedor_ruc == "" and total_registros > 0 and fecha_inicio %}
            <p style="text-align: center; font-weight: bold;">Fechas:  {{ fecha_inicio|date:"d/m/Y"}} - {{fecha_fin|date:"d/m/Y"}}

            </p>

        {% endif %}

        <table class="table table-hover  tabla table-striped" border="0">
           <thead >
                <tr>
                    <th style="text-align: center;  padding: 5px;">Fecha</th>
                    <th style="text-align: center;  padding: 5px;"># Comp.</th>
                    <th style="text-align: center;  padding: 5px; width: 175px;">Glosa</th>
                    {% if proveedor_ruc == "" %}
                    <th style="text-align: center;  padding: 5px;width: 175px;">Proveedor</th>
                    {% endif %}
                    <th style="text-align: center;  padding: 5px;"># Doc.</th>
                    <th style="text-align: center;  padding: 5px;">Base</th>
                    <th style="text-align: center;  padding: 5px;">Retención</th>
                    <th style="text-align: center;  padding: 5px;">Verificación</th>
                    <th style="text-align: center;  padding: 5px;">Diferencia</th>
                </tr>
            </thead>

            <tbody>
                {% if retenciones %}
                    {% for obj in retenciones %}
                        {% if obj.tipo == 3 %}
                         <tr>
                            {% if proveedor_ruc == "" %}
                                <td colspan="9" style="font-weight: bold;">Codigo: {{obj.codigo }} - {{obj.descripcion }}</td>
                            {% else %}
                                 <td colspan="8"  style="font-weight: bold;">Codigo: {{obj.codigo }} - {{obj.descripcion }}</td>
                            {% endif %}
                         </tr>
                        {% endif %}
                        {% if obj.tipo == 1 %}
                        <tr class="tr-tipo1">

                            <td style="text-align: center; padding: 3px;">{{obj.fecha_emision|date:"d-m-Y" }}</td>

                            <td style="text-align: center; padding: 3px;">{{obj.numero_comprobante|slice:"-6:"}}</td>
                            <td style="text-align: left; padding: 3px;">{{obj.concepto|slice:":30"}}</td>
                            {% if proveedor_ruc == "" %}
                            <td style="text-align: left; padding: 3px;">{{obj.nombre|slice:":30"}}</td>
                            {% endif %}
                            <td style="text-align: left; padding: 3px;">{{obj.numero_retencion }}</td>
                            <td style="text-align: right; padding: 3px;">{{obj.valor|floatformat:2}}</td>
                            <td style="text-align: right; padding: 3px;">{{obj.total|floatformat:2}}</td>
                            <td style="text-align: right; padding: 3px;">{{ obj.verificacion|floatformat:2 }}</td>
                            <td style="text-align: right; padding: 3px;">{{ obj.diferencia|floatformat:2 }}</td>

                         </tr>
                        {% endif %}
                        {% if obj.tipo == 2 %}
                        <tr style="font-weight: bold; ">

                            <td style="text-align: center; padding: 3px 3px 5px 3px;">{{obj.fecha_emision|date:"d-m-Y" }}</td>

                            <td style="text-align: center; padding: 3px 3px 5px 3px;">{{obj.numero_comprobante}}</td>
                            <td style="text-align: left; padding: 3px 3px 5px 3px;">{{obj.concepto}}</td>
                            {% if proveedor_ruc == "" %}
                            <td style="text-align: center; padding: 3px 3px 5px 3px;">{{obj.nombre}}</td>
                            {% endif %}
                            <td style="text-align: right; padding: 3px 3px 5px 3px;">{{obj.numero_retencion }}</td>
                            <td style="text-align: right; padding: 3px 3px 5px 3px;">{{obj.valor|floatformat:2}}</td>
                            <td style="text-align: right; padding: 3px 3px 5px 3px;">{{obj.total|floatformat:2}}</td>
                            <td style="text-align: right; padding: 3px 3px 5px 3px;">{{ obj.verificacion|floatformat:2 }}</td>
                            <td style="text-align: right; padding: 3px 3px 5px 3px;">{{ obj.diferencia|floatformat:2 }}</td>

                         </tr>

                        {% endif %}
                    {% endfor%}
                {% endif %}
                <tr style="font-weight: bold; ">
                    <td></td>

                    <td></td>

                    {% if proveedor_ruc == "" %}
                    <td></td>
                    {% endif %}
                    <td colspan="2" style="text-align: right; padding: 3px;">Totales General:</td>
                    <td style="text-align: right; padding: 3px;">{{ total_final_base|floatformat:2  }}</td>
                    <td style="text-align: right; padding: 3px;">{{ total_final_retencion|floatformat:2  }}</td>
                    <td style="text-align: right; padding: 3px;">{{ total_final_verificacion|floatformat:2  }}</td>
                    <td style="text-align: right; padding: 3px;">{{ total_final_diferencia|floatformat:2  }}</td>

                </tr>
            </tbody>




        </table>


    </div>
<!--
        <div class="div-centrar div-info-basica">

            <h5 style="text-align: center; color: #000000;  font-size: 18px; font-weight: normal;">Reporte de Compras</h5>
            <table id="table-info-basica">
                {% if proveedor_ruc != "" %}
                 <tr>
                    <td class="td-label1">
                        Proveedor:
                    </td>
                    <td class="td-info1">
                        {{ proveedor_ruc}}
                    </td>

                 </tr>
                {% endif %}
                 <tr>
                      {% if fecha_inicio == "0001-01-01" %}
                            <td class="td-label1">
                                Fecha Final:
                            </td>

                            <td class="td-info1">
                           {{ fecha_fin|date:"d-m-Y" }}

                            </td>
                         {% else %}
                            <td class="td-label1">
                               Rango de Fechas:
                            </td>

                            <td class="td-info1">
                            {{ fecha_inicio|date:"d-m-Y" }} - {{ fecha_fin|date:"d-m-Y" }}

                            </td>

                         {% endif %}

                </tr>
                <tr>
                    <td class="td-label1">Total:</td>
                    <td  class="td-info1">${{total_compras|floatformat:2}}</td>
                </tr>

            </table>
        </div>

         <div class="div-centrar div-tabla">
            <table id="table-info-registro" cellpadding="0" cellspacing="0" style="font-size: 10px; border: none;">
                <thead style="background: #E9E8E6;">
                    <tr>
                        <th style="border: none; padding-top: 8px;width: 110px;">Serie</th>

                        <th style="border: none;padding-top: 8px; width: 80px">F. Emisión</th>
                        <th style="border: none;padding-top: 8px;">Proveedor</th>
                        <th style="border: none;padding-top: 8px;">Concepto</th>
                        <th style="border: none;padding-top: 8px;width: 60px">Estado</th>
                        <th style="border: none;padding-top: 8px;">Total Pagar</th>


                    </tr>
                </thead>
                <tbody style="background: #F5F4F2;">
                 {% if compras %}
                    {% for compra in compras %}
                     <tr>
                            <td style="border: none;padding-top: 2px;">{{ compra.numero_doc_sri }}</td>
                            <td style="border: none;padding-top: 2px;">{{ compra.fecha_emision|date:"d-m-Y" }}</td>
                            <td style="border: none;padding-top: 2px;">{{ compra.proveedor.nombre }}</td>
                            <td style="border: none;padding-top: 2px;">{{ compra.concepto}}</td>
                            <td style="border: none;padding-top: 2px; text-align: center;">
                            {% if compra.status == 1%}
                                    <span class="item_activo">Activo</span>
                            {% else %}
                                    <span class="sin-acceso">Anulada</span>
                            {% endif %}
                            </td>
                            <td style="border: none;padding-top: 2px;" class="td-derecha">$ {{ compra.total|floatformat:2 }}</td>
                        </tr>
                    {% endfor%}
                 {% endif %}

                 </tbody>
            </table>
         </div>
        <br>

         <div class="div-centrar div-tabla">

               <div id="div-firmas">
                    <table id="table-firmas" style="text-align: center">

                         <tr>

                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Elaborado por:</p>
                            </td>
                            <td style="border: none; width: 30px;">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; ">Aprobado por:</p>
                            </td>
                            <td style="border: none; width: 30px; ">

                            </td>
                            <td style="padding: 0px;padding-bottom: 10px; padding-top: 50px; background: #F5F4F2; padding-left: 10px; padding-right: 10px;">

                               <p style="font-size: 11px;border-top: 1px solid #000000; padding-right: 10px; padding-left: 10px;">Revisado por:</p>
                            </td>
                        </tr>

                    </table>

                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </div>

   </div>
   -->
</div>

<div id="footerContent" style="text-align: right;">
     Página: <pdf:pagenumber>
</div>
</body>
</html>