{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Saldos de Cuentas{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario}}{% endblock %}
{% block reporte_titulo %}Reporte Saldos de Cuentas{% endblock %}
{% block tabla_contenido %}
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <tr>
                {% if mes %}
                <td style="width: 80px; padding-bottom: 5px; font-weight: bold;">Mes: </td>
                <td style="text-transform: lowercase; padding-bottom: 5px;">{{ mes }}</td>
                {% endif %}
                {% if anio %}
                <td style="width: 80px; padding-bottom: 5px; font-weight: bold;">Año: </td>
                <td style=" padding-bottom: 5px;">{{ anio }}</td>
                {% endif %}
                {% if acu %}
                <td style="width: 80px; padding-bottom: 5px; font-weight: bold;">Acumulado: </td>
                <td style=" padding-bottom: 5px;">{{ acu }}</td>
                {% endif %}

            </tr>
        </table>
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>

                    <th style="text-align: center; width: 120px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Código de Cuenta</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Descripción de Cuenta</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Total</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in saldos %}
                <tr>
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.codigo }}</td>
                    <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.descripcion }}</td>
                    <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{{ obj.total|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}