{% extends "base.html" %}
{% block title %}Reporte Documento 104 con IVA{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script>

        function limpiar_form(){
            $(".filter-option" ).empty();
            $('#formulario').find('input[type=text]').each(function(){
                $(this).val("");
            });
        }
    </script>

    <script>
        jQuery(document).ready(function($) {
            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function(){
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });

            $(".excel").click(function(e){
                e.preventDefault();
                var url_param = document.URL.split("?")[1]
                var url = $(this).attr("href");
                window.location.href = url + "?" + url_param;
            });
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $(".selectpicker").selectpicker();
            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });

        });

    </script>


{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Reporte Documento 104 con IVA{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <form action="" class="form-group" id="formulario" method="GET">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Fecha:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                             <td style="width: 150px;">
                                <label>Fecha fin:</label>
                            </td>

                            <td style="width: 150px; padding-right: 20px;">
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                            </td>
                        </tr>
                        <tr>

                        </tr>

                        <tr style="display: none">
                            <td colspan="4">{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 0px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar">
        </div>
    </form>
    {% if objetos %}
    <div class="div div-agregar"  style="padding: 0px">
            <a class="boton boton-ok excel" href="{% url "reporte_104IVA_excel" %}">Excel
        </a>
    </div>
    {% endif %}
    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->

        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    {% for obj in cabecera_tabla %}
                        {% for obj2 in obj %}
                            <th class="text-center">{{ obj2 }}</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for obj in objetos %}
                <tr>
                    {% for objlista in obj %}
                        <td>{{objlista}}</td>
                    {% endfor%}
                </tr>
                {% endfor%}
            </tbody>
        </table>
    {% if objetos %}
        <div class="paginacion">
            <ul  class="pager">

            {% if objetos.has_previous %}
              <span class="page">
              <a data-page="1" class="evento_page">&lt;< </a>
              </span>
            {% else %}
                <b><<</b>
            {% endif %}


            {% if objetos.has_previous %}
              <span class="page">
              <a data-page="{{ objetos.previous_page_number }}" class="evento_page" > < </a>
              </span>

            {% else %}
                <b><</b>
            {% endif %}


            {% for num in objetos.paginator.page_range %}
                {% ifequal num objetos.number %}
                 <span class="current" > <b data-page="{{ num }}">{{ num }}</b></span>
                {% else %}
                    <a  data-page="{{ num }}" class="evento_page"> {{ num }} </a>
                {% endifequal %}
            {% endfor %}


            {% if objetos.has_next %}
                <span class="page">
                    <a data-page="{{ objetos.next_page_number }}" class="evento_page"> > </a>
                </span>

            {% else %}
                 <b>></b>
            {% endif %}

            {% if objetos.has_next %}
                <span class="page">
                    <a data-page="{{ total_paginas }}" class="evento_page">&gt;> </a>
                </span>
            {% else %}
                <b>>></b>
            {% endif %}

            </ul>
        </div>
    {% endif %}
    </div>
    <div class="div div-agregar">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>
    <!-- Div para los alert-->
    <div id="cambio_ret" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Cambion de Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p class="sub-titulo-modal">Datos de la nueva retención</p>
                    <form id="form-nueva-ret" method="POST">
                        <h6 style="color: #DD4814">* Todos los Campos son requeridos</h6>
                            <div class="row">
                                {% for form in formulario_retencion %}
                                    {% if form.html_name == "id_ret" %}
                                        <div style="display: none">
                                            {{ form|add_class:"form-control text-modal numerico" }}
                                        </div>
                                    {% else %}
                                        <div class="col-xs-5 col-sm-5 ">
                                            <label class="label-modal">{{ form.label }}</label>
                                        </div>
                                        <div class="col-xs-7 col-sm-7">
                                            {{ form|add_class:"form-control text-modal numerico" }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                    </form>
                    <p id="error-retencion" class="sub-titulo-modal"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary yes" id="ok-ret">Aceptar</button>
                        <button type="button" class="btn btn-default cancel" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}