{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% load formulario_base %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
{% endblock %}
{% block script %}
<script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
<script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
<script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        function limpiar_form(){
                $(".filter-option" ).empty();
                $('#formulario').find('input[type=text]').each(function(){
                    $(this).val("");
                    $(this).removeAttr("value");
                });
            }
        $(document).ready(function(){
            $("#id_cedula").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 || (event.keyCode == 65 && event.ctrlKey === true) || (event.keyCode >= 35 && event.keyCode <= 39)){
                     return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
                        event.preventDefault();
                    }
                }
            });

            $("#estado").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var prox_estado = tr.find(".estado").attr("data-pro_estado");
                    var url = $("#lista input[type='radio']:checked").attr("data-estado");
                    $("#tit-alert").html("Cambiar Estado");
                    $("#body-alert").html('<p>¿ Desea '+prox_estado+' al usuario:  "<strong>'+nombre+'</strong>"?</p>');
                    $("#alert-yn").attr("data-href", url);
                    $("#alert-yn").modal();
                }
                else
                {
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para cambiar de estado al usuario.</p>');
                    $("#alert-ok").modal();
                }
            });
            $("#eliminar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();

                    var url = $("#lista input[type='radio']:checked").attr("data-eliminar");
                    $("#tit-alert").html("Eliminar Usuario");
                    $("#body-alert").html('<p>¿ Desea eliminar al usuario:  "<strong>'+nombre+'</strong>"?</p>');
                    $("#alert-yn").attr("data-tipo", 0);
                    $("#alert-yn").attr("data-href", url);
                    $("#alert-yn").modal();
                }

                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para eliminar un usuario.</p>');
                    $("#alert-ok").modal();
                }

            });

            $("#editar").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-editar");
                    window.location.href = url;
                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para editar el perfil del usuario.</p>');
                    $("#alert-ok").modal();
                }
            });

            $("#ver").click(function(){
                if ($("#lista input[type='radio']:checked").length != 0){
                    var tr = $("#lista input[type='radio']:checked").parent().parent();
                    var nombre = tr.find(".nombre").text();
                    var url = $("#lista input[type='radio']:checked").attr("data-ver");
                    window.location.href = url;
                }
                else{
                    $("#tit-alert-ok").html("Alerta");
                    $("#body-alert-ok").html('<p>Seleccione un item para ver el detalle del usuario.</p>');
                    $("#alert-ok").modal();
                }
             });
            /*************************************
            * Evento Click del popup alert ok
            */
            $("#ok-alert").on("click",function(){
                var url = $("#alert-yn").attr("data-href");
                var id = $("#alert-yn").attr("data-id");
                window.location.href = url;
            });
        });
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".opcion-buscar").bind('click', function(event) {
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").addClass("opcion-buscar-hide");
                $( ".container-buscador").removeClass("container-buscador-hide");
            });
            $(".buscador-cerrar").click(function(){
                $( ".container-buscador" ).slideToggle(1000);
                $(".opcion-buscar").removeClass("opcion-buscar-hide");
            });
        });
     </script>

{% endblock %}
{% block item-administracion %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"
 {% endblock %}
 {% block ruta-principal %}Administración{% endblock %}
 {% block ruta-actual %}Usuarios{% endblock %}
{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>


         {% endfor %}
    {% endif %}
    <div class="container-buscador container-buscador-hide">
         <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
         </div>
        <form action="" class="form-group" method="GET" id="formulario">
         <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td>
                                <label class="control-label"><b>{{ buscador.cedula.label }}</b></label>
                            </td>

                            <td>
                                {{ buscador.cedula|add_class:"txt-100pc" }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <label class="control-label"><b>{{ buscador.nombre.label }}</b></label>
                            </td>

                            <td colspan="3">
                                {{ buscador.nombre|add_class:"txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>{{ buscador.usuario.label }}</b></label>
                            </td>

                            <td colspan="3">
                                {{ buscador.usuario|add_class:"txt-100pc" }}
                            </td>
                        </tr>
                    </table>
                    <div style="display: none">{{ buscador.page }}</div>
                </div>
            </div>
        </div>
         <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="busqueda2" type="submit" value="Buscar">

            <input type="reset" class="boton boton-gray" onclick="limpiar_form();" value="Limpiar" title="Limpiar">
         </div>

        </form>
    </div>

    <div class="div div-agregar">
            <a class="boton boton-ok" href="{% url "agregar_persona" %}">Agregar
        </a>
    </div>

    <div class="botones-administracion">
        {% if objetos %}
         <a id ="ver" class="boton boton-administrador" href="#">Ver</a>
         <a id ="editar" class="boton boton-administrador" href="#">Editar</a>
         <a id ="estado" class="boton boton-administrador" href="#">Cambiar Estado</a>
         <a id ="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif %}
         <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
    </div>
{% if objetos %}
     <div class="table-responsive">
         <table id="lista" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>
                    <th></th>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Fecha Nacimiento</th>
                    <th>Teléfono</th>
                    <th>Estado</th>
                </tr>
            </thead>

            <tbody>

                    {% for obj in objetos %}
                    <tr>
                        <td style="width: 51px; text-align: center;">
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                data-eliminar = "{% url "eliminar_persona" obj.id %}"
                                data-ver = "{% url "detalle_persona" obj.id %}"
                                data-editar ="{% url "modificar_persona" obj.id  %}"
                                data-estado ="{% url "cambiar_estado_usuarios" obj.id %}"
                                data-id = "{{ obj.id }}" />
                        </td>
                        <td>{{ obj.cedula }}</td>
                        <td title="{{obj.nombres_completos }}" >{{obj.nombres_completos|slice:"0:27" }}{% if obj.nombres_completos|length > 27 %}...{% endif %}</td>
                        <td class="nombre">{{obj.username }}</td>
                        <td>{{obj.email}}</td>
                        <td style="text-align: center;">{{obj.fecha_nacimiento|date:"Y-m-d"}}</td>
                        {% if obj.telefono %}
                        <td>{{obj.telefono}}</td>
                        {% else %}
                        <td> </td>
                        {% endif %}
                        <td style="text-align: center;" class="td_enlace_crud">
                             {% if obj.estado == 1 %}
                             <label class="enlace_crud estado" data-pro_estado="Inactivar" id="{{obj.id}}"   name="{{obj.nombre}}">Activo</label>
                             {% else %}
                             <label class="enlace_crud estado" data-pro_estado="Activar" id="{{obj.id}}"   name="{{obj.nombre}}">Inactivado</label>
                             {% endif %}
                        </td>
                    {% endfor%}

                </tr>
            </tbody>
        </table>
{% endif %}
            {% if not objetos %}
            <p class="resultado-vacio">Su consulta no generó resultados.</p>
            {% endif %}
        {% paginacion_html objetos arreglo_paginado mostrar_paginacion %}

     </div>



    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}