{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Reasignar Centro de Costo{% endblock %}
{% load permisostag %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_contabilidad/reasignar_centro_costo.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var url_get_transacciones_centro_costo = "{% url "get_transacciones_centro_costo_reasignar" %}";
        var parametro_hide = "{{ parametro_hide }}";
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var formulario = $('#formulario');
            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();

            $("#grabar").hide();
            $("#buscar").click(function(e){
                get_transacciones_reasignar_centro_costo(url_get_transacciones_centro_costo);
            });
        });
    </script>

{% endblock %}

{% block item-contabilidad %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/contabilidad_icono.png"
 {% endblock %}
 {% block ruta-principal %}Contabilidad{% endblock %}
 {% block ruta-actual %}Reasignar Centro Costo{% endblock %}

{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url "rectificar_centro_costo" %}"  enctype="multipart/form-data" class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {% if formulario.fecha_ini.errors %}
                                    {{ formulario.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ formulario.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {% if formulario.fecha_final.errors %}
                                    {{ formulario.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ formulario.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b># Comp.</b></label>
                            </td>
                            <td colspan="3">
                                {{ formulario.num_comp|add_class:"txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Tipo Comprobante</b></label>
                            </td>

                            <td colspan="3">
                               {{ formulario.tipo_comp|add_class:"combo txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Cuenta Contable</b></label>
                            </td>

                            <td colspan="3">
                               {{ formulario.cuentas|add_class:"combo txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Centro Costo</b></label>
                            </td>

                            <td colspan="3">
                               {{ formulario.centro_costo|add_class:"combo txt-100pc" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label><b>Con Centro Costo</b></label>
                            </td>

                            <td colspan="3">
                               {{ formulario.con_centro_costo|add_class:"txt-check" }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <button type="button" class="boton boton-ok"  id="buscar">Buscar</button>
            <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
        </div>


        <div class="row row-comprobante-detalle" style="margin-top: 50px;">
            <div id="div_detalle_transacciones">
                <p>{{ parametro_hide }}</p>
                {% if parametro_hide == 0 %}
                    {{ forms.management_form }}
                    <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-reasignar-centro-costo">
                        <thead>
                            <tr>
                                <th style="width: 100px;"># Comp.</th>
                                <th style="width: 100px;">Fecha Reg.</th>
                                <th style="width: 150px;">Cliente/Proveedor</th>
                                <th style="width: 150px;">Cuenta</th>
                                <th style="width: 80px;">Valor</th>
                                <th style="width: 150px;">Centro Costo</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for formularios in forms %}
                                <tr>
                                    {% for form in formularios %}
                                        {% if form.label == "id_modulo" or form.label == "id_comprobante_detalle" %}
                                            <td style="display: none">{{ form }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="num_comp"> {{ formularios.num_comp.value }}</td>
                                    <td class="fecha_reg"> {{ formularios.fecha_reg.value|date:"Y-m-d" }}</td>
                                    <td class="cliente_proveedor"> {{ formularios.cliente_proveedor.value|default_if_none:"" }}</td>
                                    <td> {{ formularios.cuenta.value|default_if_none:"" }}</td>
                                    <td style="text-align: right;"> $ {{ formularios.valor.value|floatformat:"2" }}</td>
                                    <td> {{ formularios.centro_costo }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
           </div>
        </div>
        <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
            <input class="boton boton-ok" id="grabar" type="submit" data-action="" value="Grabar">
            <a class="boton boton-gray" href="{% url "lista_centro_costos" %}">Cancelar</a>
        </div>
    </form>


{% endblock %}