{% load widget_tweaks %}

{% if parametro_hide == 0 %}
    {{ forms.management_form }}
    <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-reasignar-centro-costo">
        <thead>
            <tr>
                <th style="width: 100px;"># Comp.</th>
                <th style="width: 100px;">Fecha Reg.</th>
                <th style="width: 150px;">Cliente/Proveedor</th>
                <th style="width: 150px;">Cuenta</th>
                <th style="width: 80px;">Valor</th>
                <th style="width: 150px;">Centro Costo</th>
            </tr>
        </thead>

        <tbody>
            {% for formularios in forms %}
                <tr>
                    {% for form in formularios %}
                        {% if form.label == "id_modulo" or form.label == "id_comprobante_detalle" %}
                            <td style="display: none">{{ form }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="num_comp"> {{ formularios.num_comp.value }}</td>
                    <td class="fecha_reg"> {{ formularios.fecha_reg.value|date:"Y-m-d" }}</td>
                    <td class="cliente_proveedor"> {{ formularios.cliente_proveedor.value|default_if_none:"" }}</td>
                    <td> {{ formularios.cuenta.value|default_if_none:"" }}</td>
                    <td style="text-align: right;"> $ {{ formularios.valor.value|floatformat:"2" }}</td>
                    <td> {{ formularios.centro_costo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="tiene_docs" style="display: none" data-error="0"></div>

{% elif parametro_hide == 1 %}
    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

{% else  %}
    <div id="tiene_docs" style="display: none" data-error="1"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <div class="media">
                        <figure class="pull-left alert--icon">
                            {% if message.tags %}
                                {% if message.tags == "error" %}
                                    <i class="pe-7s-close-circle"></i>
                                {% else %}
                                    <i class="pe-7s-info"></i>
                                {% endif %}
                            {% endif %}
                        </figure>
                        <div class="media-body" style="text-align: center;">
                            <p class="alert--text">{{ message }}.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
{% endif %}

