{% extends "base.html" %}
{% block title %}Comprobante Compra Caja Chica{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css" media="screen">
    <style type="text/css">


    </style>
{% endblock %}

{% block content %}
    <div id="page-comprobante">
        <div class="div-centrar div-info-basica">
            <h2 class="titulo-vista">Comprobante de Compra sin Retención: {{ compra.numero_comprobante }}</h2>
            <table id="table-info-basica">
                <tr>
                    <td class="td-label1">
                        Fecha de Registro:
                    </td>
                    <td class="td-info1">

                        {{ compra.fecha|date:"d-m-Y" }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Responsable(Cuenta):
                    </td>
                    <td class="td-info1">

                        {{ compra.plan_cuenta.descripcion }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Concepto:
                    </td>
                    <td class="td-info1">
                        {{ compra.concepto }}
                    </td>
                </tr>
                <tr>
                    <td class="td-label1">
                        Estado:
                    </td>
                    <td class="td-info1">

                        {% if compra.status == 2 %}Anulada{% else %}Activa{% endif %}
                    </td>
                    <td class="td-label2">
                        {% if compra.pago == 2 %}
                            Sujeto retención:
                        {% endif %}
                    </td>
                </tr>
            </table>
            <div style="clear: both"></div>
        </div>

            <div class="div-centrar div-tabla">
                <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Detalle de la Compra</p>
                <table id="table-info-registro" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>Código Cuenta</th>
                        <th>Nº de Id.</th>
                        <th>Sust. Trib.</th>
                        <th>Tipo Doc.</th>
                        <th># Documento</th>
                        <th>Autorización</th>
                        <th>Fecha E.</th>
                        <th>Fecha V.</th>
                        <th>Código IVA</th>
                        <th>% IVA</th>
                        <th>Costo/Gasto</th>
                        <th>Base 0%</th>
                        <th>Base IVA%</th>
                    </tr>

                    {% for obj_reem in ats %}
                        <tr>
                            <td>{{ obj_reem.getDatos.plan_cuenta.codigo|slice:":1" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_reem.getDatos.plan_cuenta.codigo|slice:"6:9" }}</td>
                            <td>{{ obj_reem.num_id }}</td>
                            <td>{{ obj_reem.sustento_tributario_sri.codigo }}</td>
                            <td>{{ obj_reem.documento.descripcion_documento }}</td>
                            <td>{{ obj_reem.num_doc }}</td>
                            <td>{{ obj_reem.autorizacion }}</td>
                            <td>{{ obj_reem.fecha_emi|date:"d-m-Y" }}</td>
                            <td>{{ obj_reem.vence|date:"d-m-Y" }}</td>

                            <td>{{ obj_reem.getDatos.codigo_sri.codigo }}</td>
                            <td>{{ obj_reem.getDatos.codigo_sri.porcentaje}}  </td>

                            {% if obj_reem.getDatos.iva_cg == 1 %}
                                <td>Costo</td>
                            {% else %}
                                <td>Gasto</td>
                            {% endif %}

                            {% if obj_reem.getDatos.codigo_sri.porcentaje == 0.0 %}
                                <td>{{ obj_reem.base0 }}</td>
                            {% else %}
                                <td>0,0</td>
                            {% endif %}

                            {% if obj_reem.getDatos.codigo_sri.porcentaje == 12.0 %}
                                <td>{{ obj_reem.baseiva }}</td>
                            {% else %}
                                <td>0,0</td>
                            {% endif %}

                        </tr>
                    {% endfor %}

                </table>
            </div>

        <div class="div-centrar div-tabla">
            <p style="font-size: 12px; font-style: italic; font-weight: bold; text-decoration: underline; padding: 0px; padding-top: 10px;">Asiento Contable</p>

            <table id="table-info-registro" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                    <th>Centro de Costos</th>

                </tr>
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{{ obj_asiento.centro_costo.descripcion }}</td>

                    </tr>
                {% endfor %}

            </table>
            <p class="desc-label">Descripción: <span class="desc-info">Ilustración Plan B</span></p>

            <div id="div-totales">
                <table id="table-totales">
                    <tr>
                        <td class="td-label">
                            Subtotal 12%:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getBaseTotalBaseIVA|floatformat:2 }}
                        </td>
                    </tr>
                    <tr>
                        <td class="td-label">
                            Subtotal 0%:
                        </td>
                        <td class="td-info">
                            $ {{ compra.getBaseTotalBase0|floatformat:2 }}
                        </td>
                    </tr>

                    <tr>
                        <td class="td-label">
                            IVA:
                        </td>
                        <td class="td-info">
                           {% multiplicacion_snippet compra.getBaseTotalBaseIVA 0.12 %}
                        </td>
                    </tr>

                    <tr>
                        <td class="td-label">
                            Total:
                        </td>
                        <td class="td-info">
                            $ {{ compra.total_pagar|floatformat:2 }}
                        </td>
                    </tr>
                </table>
            </div>

            <div style="clear: both"></div>
            <div class="text-center">
                <a class="boton boton-print" href="{% url 'detalle_compra_caja_chica_pdf'  compra.id %}" target="_blank">Generar PDF</a>
                <a class="boton boton-cancel" href="{% url "lista_compras_caja_chica" %}">Regresar</a>
            </div>
        </div>
   </div>
{% endblock %}