{% extends "base.html" %}
{% block title %}Compras Caja Chica{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <style>
    .anular_generar, .anular{
       cursor: pointer; cursor: hand;
    }
    td a span{
        cursor: pointer; cursor: hand;
    }
    .div-botones
    {
        padding: 0px;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script>
    $(document).ready(function()
        {

            /*******************************************************
            *   Parametros del popup yes/no
            *   id = alert-yn
            *   id-cambio-titulo = tit-alert
            *   id-cambio-cont = body-alert
            *   id-aceptar = ok-alert
            */
            $(".anular").click(function(){
                $("#alert-yn").attr("data-id", $(this).attr("id"));
                $("#alert-yn").attr("data-target",2);
                $("#tit-alert").html("Anular Compra");
                $("#body-alert").html('<p>Desea anular la compra sin retención con nmero de comprobante:  <strong>'+$(this).attr("name")+'</strong></p>')
                $("#alert-yn").modal();
            });
            /*************************************
             * Evento Click del popup alert
             * opt = 1 # Anular y Generar
             * opt = 2 # Anular
             */
            $("#ok-alert").on("click",function(){
                var opt = $("#alert-yn").attr("data-target");
                var id = $("#alert-yn").attr("data-id");
                if(opt == 1){
                    window.location.href = '/cajachica/anulargenerar/'+id;
                }
                if (opt == 2){
                    window.location.href = '/cajachica/anular/'+id;
                }
            });

            $('.anular_generar').click(function(){
                $("#alert-yn").attr("data-id", $(this).attr("id"));
                $("#alert-yn").attr("data-target",1);
                $("#tit-alert").html("Anular y Generar Compra");
                $("#body-alert").html('<p>Desea anular la compra sin retención con número de comprobante <strong>'+$(this).attr("name")+'</strong>' +
                        ' y generar otra</p>')
                $("#alert-yn").modal();
            });
        });
    </script>
    <script>
        $(function($){
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });
        $(document).ready(function(e){
            $("#nav-search-input-fecha").datepicker({constrainInput: false,changeMonth: true,changeYear: true,yearRange: "1900:2014"});
            $("#nav-search-input-fecha").datepicker("option", "dateFormat","yy-mm-dd");
        });
    </script>
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}.
            </div>
        {% endfor %}
    {% endif %}
    <div id="buscadores">
        <table>
            <tr>
                <td >
                    <form action="" class="row form-group" method="GET">
                        <table>
                            <tr>
                                <td>
                                    <label class="label-td"> RUC o Nombre: </label>
                                </td>
                                <td>
                                    <input type="text" id="nav-search-input" class="form-control"  value="{{ request.GET.q }}" name="nomb_ruc">
                                </td>
                                <td>
                                    <input type="submit" class="btn-buscadores"/>
                                </td>
                                <td>
                                    <label class="label-td"> Fecha Emision: </label>
                                </td>
                                <td>
                                    <input type="text" id="nav-search-input-fecha" class="form-control"  value="{{ request.GET.q }}" name="fecha">
                                </td>
                                <td>
                                    <input type="submit" class="btn-buscadores"/>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div class="div div-botones">
        <a class="boton boton-ok" href="{% url "vista_caja_chica" %}">Agregar</a>
    </div>
    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->
        <h2 class="titulo-vista" style="text-decoration: underline; ">Compras sin Rentención</h2>
        <table class="table table-hover  tabla table-striped">
            <thead>
                <tr>
                    <th>Fecha Registro</th>
                    <th>Concepto</th>
                    <th>Total pagar</th>
                    <th>Estado</th>
                    <th>Ver</th>
                    <th>Reporte</th>
                    <th>Copiar</th>
                    <th>Anular y Generar</th>
                    <th>Anular</th>
                </tr>
            </thead>
            <tbody>
                    {% for obj in objetos_cabecera %}
                    <tr>
                        <td>{{obj.fecha|date:"d-m-Y" }}</td>
                        <td>{{obj.concepto}}</td>
                        <td>$ {{obj.total_pagar|floatformat:2}}</td>

                        <td style="text-align: center;">
                        {% if obj.status == 1%}
                                <span class="item_activo" style="">Activo</span>
                        {% else %}
                                <span class="sin-acceso">Anulada</span>
                        {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'detalle_compra_caja_chica'  obj.id %}">
                                <span class="item_activo" title="Click para ver">Ver</span>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'detalle_compra_caja_chica_pdf'  obj.id %}" target="_blank">
                                <span class="item_activo" title="PDF">Pdf</span>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url "copiar_caja_chica" obj.id %}">
                                <span class="item_activo" title="Copiar">Copiar</span>
                            </a>
                        </td>
                        <td style="text-align: center;">
                            {% if obj.status == 1%}
                                <a class="anular_generar" id="{{ obj.id }}" name="{{obj.numero_comprobante}}">
                                    <span class="item_activo" title="Anular y Generar">A/G</span>
                                </a>
                             {% else %}
                                    <span class="sin-acceso">A y G</span>
                            {% endif %}
                        </td>

                        <td style="text-align: center;">
                            {% if obj.status == 1%}
                            <a class="anular" id="{{ obj.id }}" name="{{ obj.numero_comprobante }}">
                                <span class="item_activo" title="Click para Anular">Anular</span>
                            </a>
                            {% else %}
                                <span class="sin-acceso">Anular</span>
                            {% endif %}
                        </td>
                    {% endfor%}
                </tr>
            </tbody>
        </table>
        <div class="paginacion">
            <ul  class="pager">

            {% if objetos.has_previous %}
              <span class="page">
              <a href="?page={{ previous }}">&lt;< </a>
              </span>
            {% else %}
                <b><<</b>
            {% endif %}


            {% if objetos.has_previous %}
              <span class="page">
              <a href="?page={{ objetos.previous_page_number }}" > < </a>
              </span>

            {% else %}
                <b><</b>
            {% endif %}


            {% for num in objetos.paginator.page_range %}
                {% ifequal num objetos.number %}
                 <span class="current"> <b>{{ num }}</b></span>

                {% else %}
                    <a  href="?page={{ num }}"> {{ num }} </a>
                {% endifequal %}
            {% endfor %}


            {% if objetos.has_next %}
              <span class="page">
              <a href="?page={{ objetos.next_page_number }}"> >  </a>
              </span>

            {% else %}
                 <b>></b>
            {% endif %}

            {% if objetos.has_next %}
              <span class="page">
              <a href="?page={{ total_paginas }}" >&gt;> </a>
              </span>
            {% else %}
                <b>>></b>
            {% endif %}

            </ul>
        </div>
    </div>
    <!-- Div para los alert-->
    <div id="cambio_ret" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-ret">Cambion de Retención</h4>
                </div>
                <div class="modal-body" id="body-ret">
                    <p>Datos de la nueva retención</p>
                        <form>
                            <div class="row">
                                <label class="col-md-6"># Retención</label>
                                <input class="form-control col-md-6" id="num_ret_camb"/>
                            </div>
                            <div class="row">
                                <label class="col-md-6"># Autorización</label>
                                <input class="form-control col-md-6" id="aut_ret_camb"/>
                            </div>
                        </form>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary" id="ok-ret">Aceptar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel-ret">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}