{% extends "base.html" %}
{% block title %}ATS{% endblock %}
{% load formulario_base %}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_reportes %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .opciones li{
        display: inline;
        margin-left: 5px;
        margin-right: 5px;
    }
    .opciones ul{
        text-align: center;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/libro_mayor.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_contabilidad/balance_comprobacion.js"></script>
    <script>

        function presentar_ocultar_campos()
        {
            var sel = $('input[name="generar_editar_ats"]:checked');
            switch (parseInt(sel.val()))
            {
                case 1:
                {
                    $(".editar-ats").fadeOut("slow");
                    break;
                }
                case 2:
                {
                    $(".editar-ats").fadeIn("slow");
                    break;
                }
            }

        }

        jQuery(document).ready(function($) {
            var formulario = $('#formulario');
            var sel = $('input[name="generar_editar_ats"]');

            presentar_ocultar_campos();

            sel.change(function() {
                presentar_ocultar_campos()
            });

            $('#limpiar').click(function(){
               limpiar_form(formulario);
            });

            $("#tabla_reporte tbody tr").each(function(){
                $(this).find("td").each(function()
                {
                    if(!isNaN($(this).text())){
                        $(this).addClass("numero");
                    }
                    else{
                        $(this).addClass("text-center");
                    }
                })
            });
            $("#limpiar").click(function(){
                limpiar_form();
                show_hide_prov($("#id_sel_all"));
            });

            show_hide_prov($("#id_sel_all"));
            saldo_cuenta();

            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#cuenta");
            });

            $("#id_sel_all").click(function(){
                show_hide_prov(this);
            });
            $(".excel").click(function(e){
                e.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $('#id_anio').mask('9999');
            $("#id_anio").datepicker( {
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years"
            }).on('changeDate', function(ev) {
            $(this).datepicker("hide")});

            $(".selectpicker").selectpicker();

            $("#enviar").click(function(){
                var form = $("#formulario");
                var sel = $('input[name="generar_editar_ats"]:checked');
                switch (parseInt(sel.val()))
                {
                    case 1:
                    {
                        form.attr("method", "POST");
                        form.attr("action", form.attr("data-action"));
                        form.send();
                        break;
                    }
                    case 2:
                    {
                        form.attr("method", "GET");
                        form.attr("action", form.attr("data-action-editar"));
                        $("#lista_compras_ats").remove();
                        form.send();
                        break;
                    }
                }
            });
            // Cuando EDITE el ATS
            $("#grabar").click(function(){
                var form = $("#formulario");
                form.attr("method", "POST");
                form.attr("action", form.attr("data-action-editar"));
                form.send();
            });
            $("#id_num_doc").mask("999-999-999999999");

        });
    </script>


{% endblock %}

{% block item-sri %}item-activo-menu{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/sri_icono.png"
 {% endblock %}
 {% block ruta-principal %}SRI{% endblock %}
 {% block ruta-actual %}ATS{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "vista_ATS" %}" data-action="{% url "vista_ATS" %}" data-action-editar="{% url "editar_ats" %}" class="form-group" id="formulario" method="POST">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 80px;">
                                <label>Mes</label>
                            </td>
                            <td style="width: 220px;">
                                {% if buscador.mes.errors %}
                                    {{ buscador.mes|add_class:"combo campo_requerido" }}
                                {% else %}
                                    {{ buscador.mes|add_class:"combo" }}
                                {% endif %}
                            </td>
                            <td style="width: 120px; padding-left: 15px">
                                <label>Año</label>
                            </td>
                            <td>
                                {% if buscador.anio.errors %}
                                    {{ buscador.anio|add_class:"txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.anio|add_class:"txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr class="editar-ats">
                            <td>
                                <label>Proveedor</label>
                            </td>
                            <td style="width: 220px;">
                                {{ buscador.proveedor|add_class:"combo" }}
                            </td>
                            <td style="padding-left: 15px">
                                <label># Documento</label>
                            </td>
                            <td>
                                {{ buscador.num_doc|add_class:"txt-150" }}
                            </td>
                        </tr>
                    </table>
                    <table class="tabla-comprobante-cabecera opciones">
                        <tr>
                            <td style="width: 180px"></td>
                            <td>{{ buscador.generar_editar_ats }}</td>
                            <td style="width: 180px"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="enviar" type="submit" value="Enviar">
            <input type="reset" class="boton boton-gray" value="Limpiar" title="Limpiar" id="limpiar">
        </div>

        <div class="div div-agregar">
            <a class="boton boton-gray " href="{% url "administracion" %}">Regresar</a>
        </div>

        {% if formularios|length %}
            <div id="lista_compras_ats" class="table-responsive">
                <!-- Default panel contents -->
                 <!-- Table -->

                <table id="lista" class="table tabla table-striped tabla-formato">
                    <thead>
                        <tr>
                            <th style="display: none"></th>
                            <th style="width: 110px"># Comprobante</th>
                            <th style="width: 110px">Proveedor</th>
                            <th style="width: 110px">RUC</th>
                            <th style="width: 110px"># Documento</th>
                            <th>Sustento tributario</th>
                            <th style="width: 200px">Autorización</th>
                            <th style="width: 120px">Forma Pago</th>
                            <th style="width: 115px">Tipo Pago</th>
                            <th style="width: 145px">Pais</th>
                            <th style="width: 52px">Doble Trib.</th>
                            <th style="width: 52px">Sujeto Ret.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formularios %}
                            <tr>
                                <td style="display: none">{{ form.id }}</td>
                                <td class="text-center">
                                    {{ form.num_comp.value }}
                                    <span style="display: none">{{ form.num_comp }}</span>
                                </td>
                                <td class="text-center">
                                    {{ form.proveedor.value }}
                                    <span style="display: none">{{ form.proveedor }}</span>
                                </td>
                                <td class="text-center">
                                    {{ form.ruc.value }}
                                    <span style="display: none">{{ form.ruc }}</span>
                                </td>
                                <td class="text-center">
                                    {{ form.num_doc.value }}
                                    <span style="display: none">{{ form.num_doc }}</span>
                                </td>
                                <td>{{ form.sustento_tributario }}</td>
                                <td>{{ form.autorizacion }}</td>
                                <td>{{ form.forma_pago }}</td>
                                <td>{{ form.tipo_pago }}</td>
                                <td>{% if form.pais.errors %}{{ form.pais|add_class:"campo_requerido" }}{% else %}{{ form.pais }}{% endif %}</td>
                                <td class="text-center">{{ form.doble_tributacion }}</td>
                                <td class="text-center">{{ form.sujeto_retencion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    {{ formularios.management_form }}
                </table>
                <div class="text-center div-botones-alto">
                    <input class="boton boton-ok" id="grabar" type="submit" value="Grabar" title="Grabar">
                </div>
            </div>
        {% else %}
            <p class="resultado-vacio">Su consulta no generó resultados.</p>
        {% endif %}

    {% csrf_token %}
    </form>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}