*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


#page-comprobante{
    margin: auto;
    width: 1000px;
    margin-top: 30px;
}
.div-centrar{
   
    margin: auto;

}

.div-cabecera{
    padding: 10px;
    border-bottom: 1px solid gray;
}

#logo{
    float: left;
}

#logo img{
    max-height: 44px;
    width: auto;
}

#detalle-empresa{
    float: right;
}

#detalle-empresa ul{
    list-style: none;
}

#detalle-empresa ul li{
    text-align: right;
    font-size: 12px;
}

#detalle-empresa ul li.li-em-bold{
    font-weight: bold;
}

.div-centrar h3{
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: bold;
}

#table-info-basica{
    width: 100%;
    font-size: 13px;
}

#table-info-basica tr .td-label1{
    width: 20%;
    font-weight: bold;
}

#table-info-basica tr .td-info1{
    width: 40%;
}

#table-info-basica tr .td-label2{
    width: 20%;
    font-weight: bold;
}

#table-info-basica tr .td-info2{
    width: 20%;
}

.div-info-basica{
    padding-bottom: 30px;
}

.div-tabla{
    margin-bottom: 30px
}
.div-tabla h4{
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-decoration: underline;
    padding-bottom: 10px;
    font-weight: bold;
}

#table-info-registro{
     width: 100%;
    font-size: 13px;
    margin-top: 5px;
}


#table-info-registro tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 3px;
    text-align: center;
}

#table-info-registro tr:last-child th{
    border-bottom: 1px solid gray;

}

#table-info-registro tr th:last-child{
    border-right: 1px solid gray;
    
 
}

#table-info-registro tr td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 3px;
}

#table-info-registro tr td:last-child{
    border-right: 1px solid gray;
    text-align: right;  
 
}
#table-info-registro tr:last-child td{
    border-bottom: 1px solid gray;
   
   
}

#table-info-retencion{
    width: 100%;
    margin: auto;
}

#table-info-retencion .td-label{
    width: 16%;
    font-weight: bold;
    font-size: 13px;
}


#table-info-retencion .td-info{
    width: 16%;
    font-size: 13px;
}

#table-info-registro tr td.td-haber-cuenta{
    padding-left: 20px;
}

#table-info-registro tr td.td-derecha{
    text-align: right;
    padding-right: 10px;
}

.desc-label{
    font-weight: bold;
    font-size: 13px;
    padding-top: 30px;
}


.desc-info{
    font-weight: normal;
    font-size: 13px;
}

#div-totales{
    width: 100%;
    margin: auto;
    font-size: 13px;
    height: 100px;
}

#table-totales{
    float: right;

}

#table-totales tr td.td-label{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}
#table-totales tr td.td-info{
    text-align: right;
    padding-left: 20px;
}

#div-firmas{
    width: 100%;
    margin: auto;
    font-size: 13px;
    margin-top: 60px;
}

#table-firmas{
   margin: auto;
   width: 100%;
}

#table-firmas tr td{
   padding: 0px 30px;
}

#table-firmas tr td hr{
   border-top: 1px solid black;
}

#table-firmas tr td p{
   padding-top: 3px;
   font-weight: bold;
}

.div-footer label.lbl-empresa{
    float: left;
    font-size: 11px;
    font-weight: bold;
}


.div-footer label.lbl-indice{
    float: right;
    font-size: 11px;
    font-weight: bold;
}

#table-cobro{
     margin: auto;
   width: 100%;
}

#table-info-registro  tr td.td-total{
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}