*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: verdana;
}
*:focus {outline: none;}

#buscadores .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#bg{
     background: #fff;
}

#page{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: #FEEFE8;
}

#tb-boton-add{
    margin-top: 20px;
}

#tb-boton-add tr td{
    border: none;
}

.boton-add-hide{
    position: relative;
    left: -5px;
    padding: 7px 14px;
    text-decoration: none;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    -o-border-radius:0px 5px 5px 5px;
    font-size: 13px;
    margin: 0px 10px;
}

#ocultar{
    display: none;
}

.boton-add-hide:hover{
    text-decoration: none;
    cursor: pointer;
}

#cabecera{
    width: 100%;

    background-color: rgb(221, 72, 20);
    border-color: rgb(191, 62, 17);

    z-index: 1000;
}

#logo{
    display: block;
    float: left;
    height: 60px;

}


#div-central{

}
#left{
    width: 10%;
    float: left;
    background: #FEEFE8;
    display: none;
}

#aside-left{
    width: 15%;
    float: left;
    background: #FEEFE8;

}


#contenido{
    width: 100%;
    background: #ffffff;
    padding-bottom: 100px;

}

#texto{
	margin: 15px 20px 10px 20px;

	height: 100%;
}
#foto{
	width: 50px;
	height: 50px;
	background-color: #D2D2D5;
}
#pie{
    clear: both;
    width: 100%;
    height: 60px;
    background-color: #DDDBDC;
    position:fixed;
    bottom: 0px;
    z-index: 1000;
}
#pie-sin-menu{

    width: 100%;
    height: 60px;
    background-color: #DDDBDC;

}


#logo-pie{
    height: 60px;
    margin-left: 32px;
}

#tabs-centrales{
    display: block;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
}

.flecha-li{
    margin-right: 32px;
}

.flecha-li img{
    margin-top: 18px;
    margin-left: 10px;
}

.flecha-foot img{

    margin-right: 36px;
}


#pie figure{
    float: left;
}

#pie ul li{
    margin-top: 20px;
    margin-left: 20px;
    color: #949599;
}

.btn-buscar{
    background: url("../img/lupa.png");
    width: 24px;
    height: 24px;
    font-size: 0px;
    border: 0px;
}

.buscador-borde{
    border: 1px solid #ffffff;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    width: 182px;

}

.td-left{


}

.td-right{

    border-left: 1px solid #ffffff;
    padding-right: 8px;
}
.txt_buscar{
    background: #dd4814;
    border: 0px;
    outline: none;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -o-border-radius:7px;
    font-size: 13px;
    width: 150px;

}

#buscador{
    margin-top: 13px;
    margin-right: 20px;

}

.navbar-nav{
    margin-top: 5px;
    margin-left: 20px;
}

.nav-tabs{
    margin-left: 20px;
}



/*Controles Clip Maestro*/

.boton{
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius:0px 5px 5px 5px;
    -webkit-border-radius:0px 5px 5px 5px;
    -o-border-radius:0px 5px 5px 5px;
    font-size: 13px;
    margin: 0px 10px;
}

.boton:hover{

    text-decoration: none;
    cursor: pointer;
}

.boton-ok{
    background: #dd4814;
    color: #ffffff;
    border: 1px solid #dd4814;

}

.boton-add{
    background: #dd4814;
    color: #ffffff;
    border: 1px solid #dd4814;

}

.boton-delete{
    background: #FFF;
    color: #dd4814;
    border: none;
    text-decoration: none;

}


.boton-cancel{
    background: none;
    color: #dd4814;
    border: 1px solid #DDDBDC;
}


.boton-print{
    background: #4B4B4D;
    color: #FFF;
    border: 1px solid #DDDBDC;
}


.boton-retencion{
    background: #DDDBDC;
    color: #dd4814;
    border: 1px solid #DDDBDC;
}


.boton-otro{
    background: #DDDBDC;
    color: #4B4B4D;
    border: 1px solid #DDDBDC;
}


.div{
    margin: auto;
    padding: 30px 0;
    text-align: right;
}

.tabla{
    font-size: 12px;
    margin: auto;
    margin-bottom: 30px;
}

.td_enlace_crud{
    text-align: center;
    vertical-align: middle;
}

.enlace_crud{
    color: #dd4814;
    cursor: pointer
;
    text-decoration: none;
    font-size: 12px;
}

.item_activo{
    color: #dd4814;
    text-align: center;
}

.item_inactivo{
    color: #BEBEBE;
    text-align: center;
}

.item_inactivo:hover{
    text-decoration: underline;
}

.tabla th{
    color: #dd4814;
    text-align: center;
    font-weight: normal;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #CACACA;

}

.tabla tr td{
    background: #ECEAEB;
}

.alert{
    margin-top: 25px;
    margin-top: 15px !important;
    margin-bottom: 10px;
}

.formulario{
    margin: auto;
    margin-top: 30px;
}


.formulario_cliente{
    max-width: 1000px;
}

.titulo-uno{
    color: #dd4814;
    padding-bottom: 20px;
    text-align: center;
    font-size: 20px;

}

.titulo-vista{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 100%;

}

.tabla_detalle_cliente{
    width: 600px;
}

.controles-uno{
    width: 82%;
    text-align: center;
    margin-top: 20px;
}

.controles-vista{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

/*Errores Form*/

span ul.errorlist{
    list-style: none;
    text-align: center;
}

.frm-vigencia span ul.errorlist{
    padding-bottom: 0px;
}

span ul.errorlist li{
    color: #dd4814;
    font-size: 12px;
    padding-top: 5px;
    text-align: left;
}

/*Login*/
#contendio_login{
    width: 400px;
    margin: auto;
}

#contendio_login .errorlist{
    display: none;
}

.controles-login{
    margin: auto;
    width: 400px;
    text-align: center;
    margin-left: 40px;
}

.titulo-login{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    width: 400px;
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

.paginacion{
    width: 100%;
}

.btn-filtro{

    width: 70px;
    height: 24px;
}

/*Buscadores*/
#buscadores{
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
}

#buscadores{
    margin: auto;
    max-width: 900px;
    margin-top: 40px;
    font-weight: bold;
}

#buscadores table{
    margin: auto ;
    margin-top: 20px;
}

.btn-buscadores{
    background: url("../img/lupa.png") no-repeat #E75524 4px 4px;
    width: 36px;
    height: 36px;
    font-size: 0px;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    -o-border-radius:0px 5px 5px 0px;
    margin-right: 90px;
    margin-left: 5px;
}

#buscadores table tr td table tr td{

    vertical-align: top;
}

.label-td{
    position: relative;
    top: 5px;
    margin-right: 10px;
}

#plan-cuentas ul li span{
    padding-left: 30px;
}

/*Iconos de Lista de Cuentas*/

.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.add-icon-principal{

    background: url("../img/add_cuenta_principal.jpg");

}

.add-icon{

    background: url("../img/add_cuenta.jpg");
}


.delete-icon{

    background: url("../img/delete_cuenta.jpg");

}


.edit-icon{

    background: url("../img/edit_cuenta.jpg");

}

.filetree li.expandable span.folder {
    background: url("../img/folder_closed.png") 0 0 no-repeat !important;
}

.filetree span.folder {
    background: url("../img/folder_open.png") 0 0 no-repeat !important;
}

.ui-dialog .ui-dialog-titlebar-close{
    background: url("../img/cerrar.png");
}

.treeview li.last {
    background-position: 0 -1756px !important;
}

#plan-cuentas ul li span {
    padding-left: 26px !important;
    margin-left: 6px;
    position: relative;
    top: -3px;
}

.treeview li.lastExpandable {
background-position: -32px -68px !important;
}

.folder ins{
    position: relative;
    top: -4px;
}

/*
.expandable-hitarea {
    background: url("../img/mas.png") no-repeat !important;
    height: 16px !important;
    width: 16px !important;
    cursor: pointer !important;

}
.collapsable-hitarea {
    background: url("../img/menos.png") no-repeat !important;
    height: 16px !important;
    width: 16px !important;
    cursor: pointer !important;

}
*/




.ui-datepicker-month{
    color: #FFF;
    font-weight: normal;
}

.ui-datepicker-year{
    color: #FFF;
    font-weight: normal;
}

select.selectpicker{
    width: 100px;
}

.slc-primary{
    color: #000000;
    background: url("../img/vineta_select.png") #FFF no-repeat right;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 100%;

}

.slc-primary .caret{
    border-top: none;
}

.slc-primary:hover,.slc-primary:focus{
    color: #000000;
}

.dropdown-menu.inner{
    background: #ffffff;
    color: #333;
    font-size: 13px;
}


.btn-group .dropdown-menu > li > a:hover, .btn-group .dropdown-menu > li > a:focus{
    background: #4C4C4E;
    color: #ffffff;
}

.requerido{
    padding-right: 5px;
    color: #dd4814;
    font-weight: bold;
}

.no-requerido{
    padding-left: 15px;
}

.paginacion .pager b{
    font-weight: normal;
    color: #c0c0c0;
    padding: 4px;
}

.paginacion span.current b{
    color: #dd4814;
    padding: 5px;
}

.paginacion a{
    color: #333;
    padding: 5px;

    margin: 0px 2px;
}


.paginacion a:hover{
    color: #dd4814;
    text-decoration: none;

}


#rol-ingresar{
    margin: auto;
    margin-top: 40px;
}

#rol-ingresar form{
    margin-top: 30px;
}

#rol-ingresar form table tr td{
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    padding-right: 20px;
    vertical-align: top;

}

#rol-ingresar form table{
    margin-bottom: 30px;
    margin: auto;
}

#rol-ingresar form h4.sub-titulo-rol{
    color: #dd4814;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 16px;

}

.form-text-area{
    display: block;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-add{
    background: #dd4814;
    color: #FFF;
    margin: 0px 10px;
}

.btn-eliminar{
    background: #dd4814;
    color: #ffffff;
    margin: 0px 5px;
    font-weight: bold;
}

.btn-eliminar:hover{
    color: #dd4814;
}
.tabla-detalle-compra{
    margin: 30px 0px;
}
.tabla-detalle-compra input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}

ul.ui-autocomplete{
    background: #ffffff;

    border-radius: 0px;
}


ul.ui-autocomplete li{
    background: #ffffff;
    padding: 0;
    border: none;
}


ul.ui-autocomplete li:hover{
    border: none;
}

ul.ui-autocomplete li a{
    background: #ffffff;
    color: #333333;
    text-align: justify;
    padding: 5px;
    font-size: 13px;
}

ul.ui-autocomplete li a:hover,ul.ui-autocomplete li a:active{
    background: #333333;
    color: #FFF;
    border: none;
    padding: 5px;
    border-radius: 0px;
}


.slc-b-s{
    background: url("../img/vineta_select.png") #FFF no-repeat right;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;

}

.tabla-detalle-compra .btn-group>.btn:first-child{
    border: none;
}

.tabla-detalle-compra .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 100px;

}


.slc-b-s .caret{
    border-top: none;
}

.slc-b-s:hover,.slc-b-s:focus{
    color: #000000;
}


.tabla-detalle-compra{
        margin-top: 30px;
    }

    .tabla-detalle-compra thead th{
        color: #dd4814;
        border: 1px solid  #a1a1a1;
        text-align: center;
        font-weight: normal;
        padding: 5px 10px;
    }
    .tabla-detalle-compra td{
        border: 1px solid  #a1a1a1;
    }

#encabezado .row{
    width: 600px;
}

/*

.tabla-detalle-asiento .btn-group>.btn:first-child{
    width: 130px;
    border: none;
}

.tabla-detalle-asiento .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 130px;

}
*/
.tabla-detalle-asiento{
    margin: 30px 0px;
}
.tabla-detalle-asiento input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}

.tabla-detalle-caja{
    margin: 30px 0px;
}
.tabla-detalle-caja input[type="text"]{

    border: none;
    padding: 5px 3px;
    height: 30px;
    width: 100%;
}


.slc-c-c{

    background: url("../img/vineta_select.png") #FFF no-repeat right;

    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;
}


.slc-c-c .caret{
    border-top: none;
}

.slc-c-c:hover,.slc-c-c:focus{
    color: #000000;
}



.tabla-detalle-asiento{
    margin: 30px 0px;
        margin-top: 30px;
    }

    .tabla-detalle-asiento thead th{
        color: #dd4814;
        border: 1px solid  #a1a1a1;
        text-align: center;
        font-weight: normal;
        padding: 5px 10px;
    }
    .tabla-detalle-asiento td{
        border: 1px solid  #a1a1a1;
    }

.tabla-cuenta-retencion{
    width: 730px;
}


.tabla-cuenta-retencion .nom_cta{
    padding: 5px;
    border: none;
    background: none;
}

.tabla-cuenta-retencion .numerico{
    padding: 5px;
    background: none;
    text-align: right;
    border: 1px solid #C2C2C2;
}


.tabla-cuenta-retencion tr td:first-child,.tabla-cuenta-retencion tr th:first-child{
    display: none;
}

tabla-cuenta-retencion tr td{
    height: 20px;
}

.slc-c-r{

    background: url("../img/vineta_select.png") #FFF no-repeat 210px;
    border: 1px solid #ccc;
    outline: none;
    color: #333;
    font-size: 13px;
    height: 36px;
}


.slc-c-r .caret{
    border-top: none;
}

.slc-c-r:hover,.slc-c-r:focus{
    color: #000000;
}

.cab_form_cont{
    width: 100%;
    font-size: 13px;
}


.div-pais{
    background: #EEE;
    margin:0;
    padding: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}


.div-pais-size{
    width: 40%;
}

#pago_hide .col-xs-2{
    width: 18.3%;
}

#pago_hide .col-md-10{
    width: 79.7%;
}

.div-pais .slc-primary{

    background: url("../img/vineta_select.png") #BDBDBD no-repeat right;
}


#doc_mofi_hide .col-xs-2{
    width: 18.6%;
}

#doc_mofi_hide .col-xs-10{
    width: 81.3%;
}

.div-doc-update{
    background: #EEE;
    padding: 0px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.div-doc-update .col-md-6 .form-group .lbl-tipo-doc{
    width: 28%;
}


.div-doc-update .col-md-6 .form-group .scl-tipo-doc{
    width: 52%;
}

.div-aut-doc .form-group .lbl-aut-doc{
    width: 14%;
}


.div-aut-doc .form-group .txt-aut-doc{
    width: 85.9%;
}

#doc_mofi_hide .slc-primary{
    background: url("../img/vineta_select.png") #BDBDBD no-repeat right;

}


#doc_mofi_hide input[type="text"]{
    background: #BDBDBD;
}

.tabla-detalle-compra #tabla_formset{
    margin: auto;
}

.tabla-detalle-compra #tabla_formset thead tr th:first-child, .tabla-detalle-compra #tabla_formset tr td:first-child{
    border: 0px;
}

.tabla-detalle-asiento #tabla_formset thead tr th:first-child, .tabla-detalle-asiento #tabla_formset tr td:first-child{
    border: 0px;
}

 .tabla-detalle-asiento tr td:first-child .btn-eliminar:hover,  .tabla-detalle-compra tr td:first-child .btn-eliminar:hover{
     background: #dd4814;
     color: #ffffff;
     margin: 0px 5px;
     font-weight: bold;
     cursor: pointer;
}



#tabla_formset2{

    width: 100%;
}


.detalle-compra-asiento {

    padding-bottom: 20px;
}


.bootstrap-select .btn{
    border-radius: 0px;
}

.calendario-gris{
    background: url("../img/calendario-silver.png") no-repeat right;
}

.centrar-cdt{
    margin-left:28px;
    width: 45px;
}

.centrar-sr{
    margin-left:16px;
    width: 30px;
}

.boton-add{
    padding: 7px 12px;
}
.tabla-detalle-reembolso thead th {
color: #dd4814;
border: 1px solid #a1a1a1;
text-align: center;
font-weight: normal;
padding: 5px 10px;
}
.tabla-detalle-reembolso input[type="text"] {
border: none;
padding: 5px 3px;
height: 30px;
width: 100%;
}
.tabla-detalle-reembolso td {
border: 1px solid #a1a1a1;
}
.tabla-detalle-reembolso {
margin-top: 30px;
}
.tabla-detalle-reembolso {
margin: 30px 0px;
}

.form-control{
    font-size: 13px !important;
    width: 100%;
}
.bootstrap-select.form-control:not([class*="span"]){
    width: 100% !important;
}
/*
#tabla_hide tbody  tr td:last-child{
    border: none;
}

#tabla_formset tr td:last-child{
    border-bottom: 1px solid #A1A1A1 !important;
    border-right: 1px solid #A1A1A1 !important;
}
*/
.sub-title{
    font-size: 18px;
    color: #ffffff;
    background: #DD4814;
    padding: 10px 0px;
    margin-bottom: 24px;
}

.txt-cantidad{
    text-align: right;
}

.sub-title-form{
    color: #DD4814;
    font-size: 16px;
    font-weight: normal;
}

#aside-left .navbar-collapse{

    width: 180px!important;
}

.modal-content{
    background: #ffffff;

    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}

.modal-header{
    border: none !important;
    padding: 20px 30px !important;
}

.modal-header .modal-title{
    color: #DE5819;
    font-weight: normal;
    font-size: 20px;
}

.modal-header .close{
    display: none;
}

.modal-content .modal-body{

    background: #DDDBDC;
    color: #000000;
    padding: 20px 30px !important;
}
.modal-content .modal-body strong{
    font-weight: bold!important;
}

.modal-body label{
    padding-top: 10px;
}


.modal-content .modal-footer{

    margin-top: 0px !important;
    border: none !important;
     padding: 20px 30px !important;
}

.modal-content .modal-footer button{
    border: none !important;
    color: #FFF !important;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    padding: 8px 16px !important;
    font-size: 14px !important;
}

.modal-content .modal-footer button.cancel{
     background: #C6C4C5 !important;
}

.modal-content .modal-footer button.yes{
     background: #DE5819 !important;
}

.modal{
    background: url("../img/bg_modal.png") repeat;
    opacity: 0.7;
}

.sub-titulo-modal{
    font-size: 16px;
    padding-bottom: 10px;
}

.label-modal{
    color: #918F90;
}

.text-modal{
    background: #FFF;
    border: 1px solid #ffffff;
    margin: 5px 0px;
    color: #000000;
    width: 50%;

}
.combo-modal{
    background: #DDDBDC;
    border: 1px solid #ffffff;
    color: #000000;

}
.text-modal:hover{

    border: 1px solid #C0C0C0;
    margin: 5px 0px;
    color: #000000;
}

.sin-acceso{
    color: #8B8B8B;
    font-size: 12px;
}

.pager{
    font-size: 13px;
    text-align: right;
}

.anular_generar,.anular{
    cursor: pointer;
}

.alerta{
    text-decoration: none;
    cursor: pointer;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: #ECEAEB!important;
}

.tabla tr td {
    background: #F7F5F6!important;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th{

}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding: 12px 10px!important;
}

#cargar_pagos{
    cursor: pointer;
}

/*Diseño Administración*/

#header-admin{

}

.navbar{
    border-radius: 0px !important;
    background: #E75524;
}

.navbar-header .navbar-brand{
    padding: 0px 30px;
}

.div-menu-principal .nav-principal li.active{
    background: none!important;
}

.div-menu-principal .nav-principal li.active a{
    color: #ffffff!important;
}

.navbar-default .navbar-nav > .active > a{
    background: none!important;
}


.navbar-default .navbar-nav > li > a{
    color: #F8AF8C!important;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #FFF!important;
}


.nav-cliente{
    margin-right: 20px!important;
    height: 50px;
}

.perfil-cliente img{
    margin-right: 30px!important;
    height: 50px;
    float: left;
    background: #ffffff;
}
label.nombre-cliente{
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    padding-right: 50px;
    background: url("../img/flecha_naranja.png") no-repeat right 5px;
    float: left;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: none!important;
}
.navbar-default .navbar-toggle{
    border-color: #ffffff;
}

#cabecera .navbar{
    margin-bottom: 0px!important;
}

.div-botones{
    padding: 20px 0px !important;
}

.input-large{


    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    vertical-align: middle;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.bootstrap-filestyle .btn{
    background: #4B4B4D;
    color: #FFF;
    border: 1px solid #4B4B4D;
    padding: 6px 15px;
    text-decoration: none;
    border-radius: 0px 5px 5px 5px;
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    -o-border-radius: 0px 5px 5px 5px;
    font-size: 13px;
    margin: 0px;
}

.modal-body textarea.form-control{
    width: 244px;
    height: 60px;
    max-width: 244px;
    min-width: 244px;
    resize: none;
    /*border: 1px solid #C0C0C0;*/
    margin: 5px 0px;
    color: #000;
}

.modal-body input[type="text"].form-control{
    width: 100%;
}

.ui-datepicker-month, .ui-datepicker-year{
    color: #000000 !important;
    font-size: 13px !important;
}

#menu-central .dropdown-submenu {
    position: relative;
}

#menu-central .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

#menu-central .dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#menu-central .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

#menu-central .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

#menu-central .dropdown-submenu.pull-left {
    float: none;
}

#menu-central .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


#menu-central .btn-primary{
    background: none;
    border: none;
    outline: none;
}

.total-valores,.total-registros{
    width: 100%;
    text-align: right;
}

.total-valores p,.total-registros p{
    font-size: 12px;
    text-align: right;
}

.total-valores span,.total-registros span{
    font-weight: bold;
    color: #DD4814;
}

.detalle-busqueda{
    text-align: center;
}

.no-link{
    background: #A3A3A3 !important;

}

.dropdown-menu{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.datepicker .datepicker-days td.active, .datepicker .datepicker-months span.active, .datepicker-years .table-condensed span.active{

    background: #DD4814 !important;

}

.input-right{
    text-align: right;
}

.modal{
    z-index: 2000 !important;
}

.control-fecha{
    background: url("../img/calendario-orange.png") no-repeat right 5px;
}

.btn-clear{
    background: url("../img/lupa.png") #242424;
    width: 30px;
    height: 30px;
    font-size: 0px;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -o-border-radius: 0px 5px 5px 0px;
}

.buscador-compra{
    max-width: 960px !important;
}

.buscador-compra .row{
    padding: 5px 0px !important;
}

.buscador-compra label{
    font-weight: bold !important;
}

input[type="text"].form-control,input[type="password"].form-control,input[type="email"].form-control{
    height: 36px !important;
}

.bootstrap-filestyle label.btn{
    width: 22% !important;
    height: 36px;!important;
    text-align: center;
    float: right;
}

.bootstrap-filestyle input[type="text"]{
    width: 76% !important;
    height: 36px;
    float: left;
}

.dropdown-toggle:focus, .dropdown-toggle:hover {
    border-color: #C0C0C0 !important;
}

.form-group .titulo-uno{
    padding-bottom: 0px;
}

.formulario_centro_costos textarea.form-control{
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    height: 80px !important;
}

textarea.form-control{
    height: inherit; !important
}


.detalle-compra-asiento .slc-b-s, .detalle-compra-asiento .slc-b-s:focus{
    border: none !important;
}




/*Menú*/

#header-admin{
    background: #DD4814;

}

#header-admin .navbar-default{
    background: none;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
}

#header-admin .navbar-brand{
    padding: 0px;


}


#header-admin .navbar-brand #logo{
    position: relative;
    left: 15px;

}

#header-admin .navbar-default .navbar-nav>li>a{
    color: #EBAA84;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

#header-admin .navbar-default .navbar-nav>.active>a,
#header-admin .navbar-default .navbar-nav>.active>a:hover,
#header-admin .navbar-default .navbar-nav>.active>a:focus{
    background: #DD4814;
    color: #ffffff;
}

#header-admin .navbar-default .navbar-nav>li>a:hover,
#header-admin .navbar-default .navbar-nav>li>a:focus{
    background: #DD4814;
    color: #ffffff;
}



#header-admin .perfil-cliente{
    position: relative;
    right: 30px;
}

#menu-central{
    background: #E4E4E6;

    border-radius: 0px 10px 10px 10px;
    -moz-border-radius: 0px 10px 10px 10px;
    -webkit-border-radius:  0px 10px 10px 10px;
    -o-border-radius:  0px 10px 10px 10px;
}

#menu-central .navbar-default{
    background: none;
    border: none;


}

#menu-central .navbar{
    min-height: inherit;
    margin-bottom: inherit;
    border: none;
}

#menu-central .navbar-nav{
    margin-top: inherit;
}


#menu-central .navbar-default .navbar-nav>li>a{
    color: #9A999E;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}


#menu-central li.dropdown-submenu:hover ul.dropdown-menu{
    display: block !important;
    float: right;
}

#menu-central a{
    font-size: 12px !important;
    text-align: left;
    color: #3E3C3C;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu-central a.btn-primary{
    color: #9A999E !important;
    text-align: center;
}

#menu-central .dropdown-menu>li>a:hover,
#menu-central .dropdown-menu>li>a:focus{
    background: #3E3C3C;
    color: #ffffff;
}

.form-group .controles-uno{
    width: 100%;
}


#foto_usuario_int{
    visibility: hidden;
}

#foto_usuario #foto_usuario_int img{
    visibility:visible;
}
#foto_usuario #foto_usuario_int #id_foto, #foto_usuario #foto_usuario_int .bootstrap-filestyle{
    visibility: visible;
}