{% extends "base.html" %}

{% block title %}Pago a Proveedores/Cruce Doc-Cta{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme/jquery-ui-1.10.3.custom.css" media="screen">
{% endblock %}

{% block script %}

<script>
        $(function()
        {
            $( "#fecha" ).datepicker();
            $( "#fecha" ).datepicker("option", "dateFormat","yy-mm-dd");
        });

        $(function($){
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
                dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
        });

</script>


<script>
$(document).ready(function()
    {
        /*****************************************
         * Autocomplete de proveedores
         *****************************************/
        $("#buscar_proveedor").autocomplete({
        source: "/cuentas_pagar/pago_proveedores/buscarproveedores/",
        data:{tag:$(this).val()},
        minLength: 2,
        select: function( event, ui ) {
            event.preventDefault();
            var padres = jQuery(event.target).parent().parent();
            var padre = padres[0];
            var padre_detalle_cta = padre.children[1];
            var cuenta = $(padre_detalle_cta.firstElementChild);
            $(this).val(ui.item.value);
                cuenta.val(ui.item.key);
            }
        });
    });
</script>


{% endblock %}

{% block content %}
     {% if messages %}
             {% for message in messages %}
               <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                   {% if message.tags %}
                        {% if message.tags == "error" %}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% endif %}
                    {% endif %}
                    {{ message }}.
               </div>
             {% endfor %}
        {% endif %}

        <div id="buscadores">
            <table>
                <tr>
                    <td >
                        <form action="" class="row form-group" method="GET">
                            <table>
                                <tr>
                                    <td>
                                        <label class="label-td"> RUC ó Nombre</label>
                                    </td>
                                    <td>
                                        <input type="text" id="buscar_proveedor" class="form-control"  value="{{ request.GET.q }}" name="q">
                                    </td>
                                    <td>
                                        <input type="submit" class="btn-buscadores"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
     <div class="table-responsive">
            <!-- Default panel contents -->
             <!-- Table -->
            <h2 class="titulo-vista">Pago a Proveedores/ Cruce de Cta-Doc</h2>
            <table class="table table-hover  tabla table-striped">
              <thead>
                    <tr>
                        <th>Ruc</th>
                        <th>Nombre</th>
                        <th>Representante</th>
                        <th>Razón Social</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Cruce de Documentos</th>
                        <th>Historial de Pagos</th>
                    </tr>
                </thead>
                <tbody>
                        {% for obj in objetos %}
                    <tr>
                        <td>{{obj.ruc}}</td>
                        <td>{{obj.nombre}}</td>
                        <td>{{obj.representante}}</td>
                        <td>{{obj.razon_social }}</td>
                        <td>{{obj.direccion}}</td>
                        <td>{{obj.telefono}}</td>
                       <td class="td_enlace_crud">
                                <a href="{% url "cruce_documentos_cuentas" obj.id%}">
                                   <span class="glyphicon glyphicon-file"></span>
                                </a>
                       </td>
                       <td class="td_enlace_crud">
                            <a href="{% url "lista_cuentas_proveedor" obj.id %}"><span class="glyphicon glyphicon-list-alt"></span></a>
                       </td>


                    {% endfor%}
                    </tr>
                </tbody>
            </table>

    <div class="paginacion">
        <ul  class="pager">
        {% if objetos.has_previous %}
          <span class="page"><a href="?page={{ previous }}">&lt;< </a></span>{% else %}<b><<</b>{% endif %}

        {% if objetos.has_previous %}
          <span class="page"><a href="?page={{ objetos.previous_page_number }}" > < </a></span>{% else %}<b><</b>{% endif %}

        {% for num in objetos.paginator.page_range %}
            {% ifequal num objetos.number %}
             <span class="current"> <b>{{ num }}</b></span>
            {% else %}
                <a  href="?page={{ num }}"> {{ num }} </a>
            {% endifequal %}
        {% endfor %}

        {% if objetos.has_next %}
          <span class="page"><a href="?page={{ objetos.next_page_number }}">></a></span>{% else %}<b>></b>{% endif %}

        {% if objetos.has_next %}
          <span class="page"><a href="?page={{ total_paginas }}" >&gt;> </a></span>{% else %} <b>>></b> {% endif %}
        </ul>
    </div>

    </div>


     <!-- Div para los alert-->

  <!-- Alerta-->
     <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p></p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}