{% extends "base.html" %}
{% block title %}Pago a Proveedores{% endblock %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load cuentas_x_pagar.snnipet_pagos %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .th_forma_pago
        {
            width: 200px;
        }
        .th_bancos{
            width: 230px;
        }
        .th_tarjetas{
            width: 340px;
        }
        .th_termino
        {
            width: 130px;
        }
        .th_plazo
        {
            width: 90px;
        }
        .th_caja{
            width: 340px;
        }

    dt{
        color: #DD4814;
        border-bottom: 1px solid #DDDBDC;
        font-weight: normal;
        text-align: left;
    }
    .selectpicker a{
        text-align: left;
    }

    input{
        background: transparent;
    }

    #actualizar_secuencia_cheque{
        float: right;
        width: 10%;
        text-align: center;
    }
    .th_fecha_cheque, .th_fecha{
        width: 150px;
    }

    .numero_cheque{
        width: 90%;
        float: left;
    }
    #tabla_formset_detalle_doc tbody tr:last-child td{
        background: #BCBCBC !important;
        color: white !important;
    }

    #tabla_formset_detalle_doc tbody tr:last-child td input{
        /*color: white !important;*/
        border: none !important;
    }

    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script>
        var fecha_actual = "{% now "Y-m-d" %}";
        var url_carg_cta_pag = "{% url "cargar_cuentas_pagar" %}";
        var url_get_ultimo_cheque = "{% url "get_ultimo_cheque" %}";
        var url_get_fecha_actual_comprobante = "{% url "get_fecha_actual_comprobante" %}";
        var url_get_cheque_provisionado = "{% url "get_cheques_provisionados" %}";

        {% if flag %}
            var flag = true;
        {% else %}
            var flag = false;
        {% endif %}






    </script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_pagar/funciones.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_pagar/cuentas_pagar_pago_proveedor.js"></script>

{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Cuentas por Pagar / Registrar Pago a Proveedores{% endblock %}
{% block superior-iconos %}

{% endblock %}


{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <form id="formulario" role="form" class="container-fluid row" enctype="multipart/form-data" action="{% url "pago_proveedores" %}" method="POST">{% csrf_token %}
        <div class="text-center">
            <div class="container container-comprobante-pagos">
                <div class="row row-comprobante-medio-pagos">
                    <h3 class="sub-title-comprobante">PAGO A PROVEEDORES</h3>
                    <table class="tabla-100pc">
                        <tr>
                            <td style="width: 120px;" colspan="2">
                                <label class="control-label" for="Fecha Asiento">
                                    {% if cabecera.observaciones.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.proveedor.label }}</b>
                                    <span class="dospuntos">:</span>
                                </label>
                            </td>
                            <td style="width: 550px;" colspan="2">
                                 {{ cabecera.proveedor }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="">
                                {% if cabecera.observaciones.field.required %}
                                    <span class="requerido">*</span>
                                {% else %}
                                    <span class="no-requerido"></span>
                                {% endif %}
                                <b>{{ cabecera.observaciones.label }}</b>
                                <span class="dospuntos">:</span></label>
                            </td>
                            <td colspan="3">
                                {% if cabecera.observaciones.errors %}{{ cabecera.observaciones|add_class:"textarea-concepto campo_requerido" }}{% else %}{{ cabecera.observaciones|add_class:"textarea-concepto" }}{% endif %}
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="row row-comprobante-detalle" style="margin-right: 0px; margin-left: 0px; margin: auto; margin-top: 20px;">
                    <div id="documentos_pagar">
                        {% t_pago_proveedores forms %}
                    </div>
                    <table id="detalle_forma_pago" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-comprobante-pago">
                        <thead>
                            <tr>
                                <th class="th_forma_pago th_forma_pago_trans">Forma de Pago</th>
                                <th class="th_cheque" style="width: 16px"></th>
                                <th class="th_fecha">Fecha Reg.</th>
                                <th class="th_bancos" style="width: 300px">Banco</th>
                                <th class="th_tarjetas" style="display: none">Tarjetas</th>
                                <th class="th_termino" style="display: none">Termino</th>
                                <th class="th_plazo" style="display: none">Plazo</th>
                                <th class="th_interes" style="display: none">Interes</th>
                                <th class="th_cheque" style="display: none"># Cheque</th>
                                <th class="th_fecha_cheque">Fecha Cheque</th>
                                <th class="th_caja" style="display: none">Cajas Chica</th>
                                <th class="th_referencia" style="display: none">Referencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="th_forma_pago">
                                    {% if formularios.forma_pago.errors %}
                                        {{ formularios.forma_pago|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.forma_pago }}
                                    {% endif %}
                                </td>
                                <td class="th_cheque">
                                    {% if formularios.cheque_provisionado.errors %}
                                        {{ formularios.cheque_provisionado|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.cheque_provisionado }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if formularios.fecha.errors %}
                                        {{ formularios.fecha|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.fecha|add_class:"control-fecha txt-150pc input-calendario" }}
                                    {% endif %}
                                </td>
                                <td class="th_bancos">
                                    {% if formularios.bancos.errors %}
                                        {{ formularios.bancos|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.bancos }}
                                    {% endif %}
                                </td>
                                <td class="th_tarjetas" style="display: none">
                                    {% if formularios.tarjetas.errors %}
                                        {{ formularios.tarjetas|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.tarjetas }}
                                    {% endif %}
                                </td>
                                <td class="th_termino" style="display: none">
                                    {% if formularios.termino.errors %}
                                        {{ formularios.termino|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.termino }}
                                    {% endif %}
                                </td>
                                <td class="th_plazo" style="display: none">
                                    {% if formularios.plazo.errors %}
                                        {{ formularios.plazo|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.plazo }}
                                    {% endif %}
                                </td>
                                <td class="th_interes" style="display: none">
                                    {% if formularios.interes.errors %}
                                        {{ formularios.interes|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.interes }}
                                    {% endif %}
                                </td>
                                <td class="th_cheque" style="display: none">
                                    <p class="chq_prov">
                                        {% if formularios.lista_cheques_prov.errors %}
                                            {{ formularios.lista_cheques_prov|add_class:"campo_requerido" }}
                                        {% else %}
                                            {{ formularios.lista_cheques_prov }}
                                        {% endif %}
                                    </p>
                                    <p class="chq_normal">
                                        {% if formularios.cheque.errors %}
                                            {{ formularios.cheque|add_class:"campo_requerido" }}
                                        {% else %}
                                            {{ formularios.cheque }}
                                        {% endif %}
                                        <a id="actualizar_secuencia_cheque" title="Actualizar Secuencia del Cheque" >
                                            <i id="icon-load" class="fa fa-cog" style="font-size: 18px; cursor: pointer;"></i>
                                        </a>
                                    </p>
                                </td>

                                <td class="th_fecha_cheque">
                                    {% if formularios.fecha_cheque.errors %}
                                        {{ formularios.fecha_cheque|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.fecha_cheque }}
                                    {% endif %}
                                </td>
                                <td class="th_caja" style="display: none">
                                    {% if formularios.caja.errors %}
                                        {{ formularios.caja|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.caja }}
                                    {% endif %}
                                </td>
                                <td class="th_referencia" style="display: none">
                                    {% if formularios.referencia.errors %}
                                        {{ formularios.referencia|add_class:"campo_requerido" }}
                                    {% else %}
                                        {{ formularios.referencia }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center" style="text-align: center; padding: 30px 0;">
                        <input class="boton boton-ok btn_grabar" id="grabar" type="submit" title="Grabar" value="Grabar">
                        <input class="boton boton-ok btn_grabar" id="grabar_agregar" type="submit" title="Grabar y Agregar otro Pago" value="Grabar y Agregar Otro">
                        <a class="boton boton-gray btn_cancelar" href="{% url "lista_pago_proveedores" %}" title="Cancelar" >Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!-- Divs para los alert -->

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}