{% if not bandera_doc_cruzar %}
    <div id="doc_por_cruzar" class="table-responsive">
        <table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th style="width: 40px;"></th>
                    <th style="width: 140px;">Tipo Documento</th>
                    <th>Número</th>
                    <th>Total</th>
                    <th>Saldo</th>
                    <th>Referencia</th>
                    <th style="width: 130px;">Valor</th>
                </tr>
            </thead>
            <tbody>
            {{ formulario_facts.management_form }}
            {% for form in formulario_facts %}
                <tr>
                    <td style="display: none">{{ form.id_cuenta_pagar }}</td>
                    <td><input type="checkbox" value="{{ form.id_cuenta_cobrar }}" name="doc_select" class="checks"/></td>
                    <td>{{ form.tipo_doc }}</td>
                    <td>{{ form.numero_doc }}</td>
                    <td>{{ form.total }}</td>
                    <td>{{ form.saldo }}</td>
                    <td>{{ form.referencia }}</td>
                    <td>{{ form.valor }}</td>
                </tr>
            {% endfor %}

            {{ forms.management_form }}
            <tr>
                <td colspan="6" style="text-align: right; padding-right: 20px; background: #F6F6F6 !important;"><label class="sel_forma_pago" style="text-align: right;"><b>Total Documento</b></label></td>
                <td style="background: #E6E6E6 !important; padding-right:8px;text-align: right;"><label id="total_pagar" style="background: #E6E6E6;text-align: right;">$ 0</label></td>
            </tr>
         </tbody>
        </table>


        <div id="cruce_documentos" class="tabla-detalle-compra col-md-12" style="padding: 0px;">
            <table id="tabla_cruce_documentos" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar tabla-cruce-doc" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th style="display: none"></th>
                        <th style="width: 40px;"></th>
                        <th  style="width: 150px;">Tipo de Documento</th>
                        <th  style="width: 150px;"># de Documento</th>
                        <th style="width: 150px;">Total</th>
                        <th  style="width: 150px;">Saldo</th>
                        <th>Referencia</th>
                        <th style="width: 130px;">Valor</th>
                    </tr>
                </thead>
                <tbody>
                    {% for formularios in formularios %}
                        <tr>
                            {% for form in formularios %}
                                {% if form.label == "id_cuenta_cobrar"  %}
                                    <td style="display: none">{{ form }}</td>
                                {% else %}
                                    <td>{{ form }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
                {{ formularios.management_form }}
            </table>
        </div>
    </div>
{% else %}

    <div id ="doc_por_cruzar" class="jumbotron">
        <h1>Atención</h1>
        <p>No tiene notas de créditos ni Anticipos con el proveedor, o no tiene deudas con el proveedor.</p>
        <p>Intente con cruce de cuentas</p>
    </div>

{% endif %}
{% if not bandera_cta_cruzar %}
    <div id="cta_por_cruzar" class="table-responsive">
        <table id="tabla_cruce_cuenta" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar tabla-cruce-doc" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th style="display: none"></th>
                    <th style="width: 40px;"></th>
                    <th  style="width: 150px;">Tipo de Documento</th>
                    <th  style="width: 150px;"># de Documento</th>
                    <th style="width: 140px;">Total</th>
                    <th style="width: 140px;">Saldo</th>
                    <th>Referencia</th>
                    <th style="width: 220px;">Cuenta</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                {% for formularios in formularios_ctas %}
                    <tr>
                        {% for form in formularios %}
                            {% if form.label == "id_cuenta_pagar"  %}
                                <td style="display: none">{{ form }}</td>
                            {% else %}
                                <td>{{ form }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            {{ formularios_ctas.management_form }}
        </table>
    </div>
{% else %}
    <div id ="cta_por_cruzar" class="jumbotron">
        <h1>Atención</h1>
        <p>No posee ninguna cuenta por pagar con este proveedor</p>
    </div>
{% endif %}