{% extends "base.html" %}
{% block title %}Categorias de Item{% endblock %}
{% load widget_tweaks %}
{% load snnipet_generales %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/estilos.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_categoria_item/lista_categoria_item.js"></script>
{% endblock %}

{% block item-inventario %}item-activo-menu{% endblock %}
{% block ruta-icono %}{{ STATIC_URL }}cm_html/images/ruta/inventario_icono.png"{% endblock %}
{% block ruta-principal %}Inventarios{% endblock %}
{% block ruta-actual %}Buscar Categorías de Item{% endblock %}

{% block content %}
      {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
      {% endif %}
      <div class="container-buscador container-buscador-hide">
            <div class="div div-buscador-cerrar">
                <a class="buscador-cerrar"><img src="{{ STATIC_URL }}cm_html/images/cerrar_icon.png"></a>
            </div>
            <form action="" class="form-group" id="formulario" method="GET">
                <div class="row row-comprobante-cabecera" style="width: auto;">
                    <div class="col-lg-12 contenedor">
                        <div class="comprobante-cabecera-left" style="margin: auto;">
                            <table class="tabla-comprobante-cabecera" style="color: #9A9A9A;">
                                <tr>
                                    <td>
                                        <label><b>Tipo de Categoria</b></label>
                                    </td>
                                    <td colspan="3">
                                       {{ buscador.tipo|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <label><b>Cuenta Inventario</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.cuenta_inventario|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>Cuenta Venta</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.cuenta_venta|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>Cuenta Costo Venta</b></label>
                                    </td>
                                    <td colspan="3">
                                        {{ buscador.cuenta_costo_venta|add_class:"combo txt-100pc" }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label><b>Nombre</b></label>
                                    </td>
                                    <td>
                                       {{ buscador.descripcion}}
                                    </td>
                                </tr>
                            </table>
                            <div style="display: none;">
                                {{ buscador.page }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
                    <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
                    <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
                </div>
            </form>
      </div>
      <div class="div div-agregar">
        <a class="boton boton-ok" href="{% url "registrar_categoria_item" %}">Agregar</a>
      </div>
      <div class="botones-administracion">
      {% if  objetos %}
        <a id="ver" class="boton boton-administrador" href="#">Ver</a>
        <a id="editar" class="boton boton-administrador" href="#">Editar</a>
        <a style="display: none;" id="estado" class="boton boton-administrador" href="#">Cambiar Estado</a>
        <a style="display: none;" id="eliminar" class="boton boton-administrador" href="#">Eliminar</a>
        {% endif %}
        <div class="opcion-buscar">
            <a class="buscador-abrir">Iniciar su búsqueda <img src="{{ STATIC_URL }}cm_html/images/buscar_icon.png"></a>
        </div>
     </div>

    <div class="table-responsive">
    {% if objetos %}

         <table id="lista" class="table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Cta. Venta</th>
                        <th>Cta.Inventario</th>
                        <th>Cta.Costo/Venta</th>
                        <th>Cta.Desc.Venta</th>
                        <th>Cta.Devolu. Venta</th>
                        <th >Cta.Inv.Proceso</th>
                        <th>Cta.Prod.Terminado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objetos %}
                    <tr>
                        <td>
                            <input type="radio" name="seleccion" value="{{obj.id}}" class="table-radio"
                                    data-estado = "{% url "cambiar_estado_categoria_item" obj.id %}"
                                    data-eliminar = "{% url "eliminar_categoria_item" obj.id %}"
                                    data-ver = "{% url "detalle_categoria_item" obj.id  %}"
                                    data-editar ="{% url "editar_categoria_item" obj.id  %}"/>
                        </td>
                        <td title="{{obj.descripcion}}" class="nombre" >{{obj.descripcion|slice:"0:30"}}{% if obj.descripcion|length > 30 %}...{% endif %}</td>
                        <td>{{obj.tipo_item.descripcion}}</td>
                        <td>{{obj.plan_cuenta_venta.descripcion }}</td>
                        <td>{{obj.plan_cuenta_compra.descripcion }} </td>
                        <td>{{obj.plan_cuenta_costo_venta.descripcion }}</td>
                        <td>{{obj.plan_cuenta_devolucion_venta.descripcion }}</td>
                        <td>{{obj.plan_cuenta_descuento_venta.descripcion }}</td>
                        <td>{{ obj.plan_cuenta_inventario_proceso.descripcion }}</td>
                        <td>{{ obj.plan_cuenta_producto_terminado.descripcion }}</td>
                    {% endfor%}
                    </tr>
                </tbody>
            </table>
        {% endif %}
         {% paginacion_html objetos arreglo_paginado muestra_paginacion %}

    </div>
    {% if not objetos %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    <!-- Div para los alert-->
    <div id="alert-yn" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" id="ok-alert">Aceptar</button>
                    <button type="button" class="boton cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}