{% extends "base.html" %}
{% block title %}Cuenta de Retenciones{% endblock %}
{% load formulario_base %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <style>
    .tabla-cuenta-retencion tbody tr td:first-child{
        display: none;
    }

    .tabla-cuenta-retencion tbody tr td:last-child{
        width: 184px;

    }

    .nom_cta{
        background: transparent !important;
        border: 0 !important;
        width: 100%;
    }

    .tabla-cuenta-retencion thead tr th:first-child{
        display: none;
    }

    .numerico{
        background: white !important;
    }


    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.min.js"></script>
    <script>
        $(function(){
            // Inhabilita el boton submit
            $("input[type='submit']").click(function()
            {
                $(this).attr("disabled", false);
                $("form").submit(function(){
                  $("input[type='submit']").attr("disabled", true).val("Por favor, espere...");
                  return true;
                });
            });

           $('.selectpicker').selectpicker();
           $(".numerico").keydown(function(event) {
                if ( $.inArray(event.keyCode,[46,8,9,27,13,190]) !== -1 ||
                    (event.keyCode == 65 && event.ctrlKey === true) ||
                    (event.keyCode >= 35 && event.keyCode <= 39)) {
                         return;
                }
                else {
                    if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ))
                        {
                            event.preventDefault();
                        }
                    }
                });
            $("#submit").click(function(e){
                var cont = 0;
                var porcent = $(".numerico");
                for (var i = 0; i< parseInt(porcent.length); i++)
                {
                    if (parseInt(porcent[i].value)>100 || parseInt(porcent[i].value)<0){
                      cont++;
                    }
                }
                if(cont>0){
                    alert("No puede haber un porcentaje mayor a 100%");
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Editar Cuentas Retención{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
         {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>

                            {% endif %}
                        {% endif %}

                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <div style="margin: auto;">

        <form method="post" action="{% url "cuentas_retenciones" %}">{% csrf_token %}
            <table class="tabla-cuenta-retencion table tabla table-striped tabla-formato">
                <thead>
                    <tr>
                        <th style="visibility: hidden"></th>
                        <th>Cuenta</th>
                        <th style="width: 250px;">Tipo</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    {{ formulario.management_form }}
                    {% for forms in formulario %}
                    <tr>
                        {% for form in forms %}
                        <td>{{ form }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-center" style="text-align: center; padding: 30px 0;">
                <input type="submit" id="submit" class="boton boton-ok" value="Guardar">
                <a class="boton boton-gray" href="{% url "lista_compras" %}">Cancelar</a>
            </div>
        </form>

     </div>

{% endblock %}