{% extends "base.html" %}
{% block title %}Reporte Inventario por Motivo{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% load snnipet_generales %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }

    #tabla_reporte tbody tr td.td-item,#tabla_reporte tbody tr td.td-detalle{
        text-align: left;
        line-height: 1.35em !important;
    }


    #tabla_reporte tbody tr td.td-fecha {
        text-align: center;
        width: 90px;
    }
    #tabla_reporte tbody tr td.td-motivo {
        text-align: left;
        width: 130px;
    }

    #tabla_reporte tbody tr td.td-tipo-comp {
        text-align: left;
        width: 130px;
    }
    #tabla_reporte tbody tr td.td-n-comp {
        text-align: center;
        width: 90px;
    }
    #tabla_reporte tbody tr td.td-n-doc {
        text-align: center;
        width: 130px;
    }




    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/js_reportes/js_bancos/movimientos_bancarios.js"></script>
    <script>
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
                limpiar_form(formulario);
                $('.div-descargas').remove();
                $('.table-responsive').remove();
            });

            $('#id_fecha_ini').mask('9999-99-99').datepicker();
            $('#id_fecha_final').mask('9999-99-99').datepicker();

            $('#tabla_reporte tbody tr').each(function ()
            {
                $(this).find("td").eq(0).addClass("td-motivo");
                $(this).find("td").eq(1).addClass("td-fecha");
                $(this).find("td").eq(2).addClass("td-tipo-comp");
                $(this).find("td").eq(3).addClass("td-n-comp");
                $(this).find("td").eq(4).addClass("td-n-doc");
                $(this).find("td").eq(5).addClass("td-item");
                $(this).find("td").eq(6).addClass("td-detalle");
            });

            $("#tabla_reporte tbody tr").each(function () {
                $(this).find("td").each(function () {
                    if (!isNaN($(this).text())) {
                        $(this).addClass("numero");
                    }
                    else {
                        $(this).addClass("text-center");
                    }
                })
            });

            $(".selectpicker").selectpicker();
            $("#add_proveedor").click(function(e){
                AgregarProveedor(e);
            });

            $(".eliminar").click(function(e){
                EliminarFila(e, this, "#proveedores");
            });

            $("#id_all_items").click(function(){
                show_hide_prov(this);
            });

            $(".excel").click(function(event){
                event.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', formulario.attr("action"));
                if($(this).attr("href")!=url_action)
                {
                    formulario.attr('data-action', url_action);
                    formulario.attr('action', $(this).attr("href")).submit();
                }
                else
                    $('#formulario').submit();
            });

            $("#buscar").click(function(event){
                event.preventDefault();
                var url_action = formulario.attr("data-action");
                formulario.attr('data-action', $(this).attr("action"));
                formulario.attr('action', url_action).submit();
            });

            $(".evento_page").each(function(){
                $(this).click(function(){
                    var page = $(this).attr("data-page");
                    $("#id_page").val(page);
                    $("#buscar").click();
                });
            });


            //var ancho_detalle = ;


            if ($('#tabla_reporte').width() > 1300){
                $('#tabla_reporte tbody tr').find('td:eq(7)').each(function(){
                   if($(this).text()){
                       var cadena_new = $(this).text().substring(0,40);
                       $(this).text(cadena_new);

                   }
                });
            }

        });
    </script>

{% endblock %}

{% block item-reportes %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/reportes_icono.png"
 {% endblock %}
 {% block ruta-principal %}Reportes{% endblock %}
 {% block ruta-actual %}Inventarios / Movimientos de Inventario por Motivo{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "reporte_movim_inventario_motivo" %}" data-action="{% url "reporte_movim_inventario_motivo" %}" class="form-group" id="formulario" method="POST">{% csrf_token %}
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left comprobante-cabecera-motivo  " style="margin: auto;">
                    <table class="tabla-comprobante-cabecera" >
                        <tr>
                            <td style="width: 200px;">
                                <label>Fecha de Inicio:</label>
                            </td>

                            <td>
                                {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-100pc" }}
                            </td>

                             <td style="width: 94px;">
                                <label style="padding-left: 12px;">Fecha de Fin:</label>
                            </td>

                            <td style="width: 150px;">
                                {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-100pc" }}
                            </td>
                        </tr>
                    </table>
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table class="tabla-comprobante-cabecera" id="proveedores">
                                    {{ motivos.management_form }}
                                    <tbody>
                                    {% for form in motivos %}
                                        <tr>
                                            <td style="width: 30px"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="{{ STATIC_URL }}cm_html/images/eliminar_tr_icono.png"></a>
                                            </td>
                                            <td class="td-label1 tipo-mov-inv" style="text-align: left; width: 170px;">
                                                <label class="control-label" style="text-align: left;" for="{{ form.tipo_mov_inv.label }}">
                                                {% if form.tipo_mov_inv.field.required %}
                                                    <span class="requerido">*</span>
                                                {% else %}
                                                    <span class="no-requerido" style="display: none;"></span>
                                                {% endif %}
                                                <b>{{ form.tipo_mov_inv.label }}  </b>
                                                <span class="dospuntos">:</span></label>
                                            </td>
                                            <td class="td-control1 td-relative" colspan="3">
                                                {% if form.tipo_mov_inv.errors %}{{ form.tipo_mov_inv|add_class:"campo_requerido combo" }}{% else %}{{ form.tipo_mov_inv|add_class:"combo" }}{% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr style="margin: 0; padding: 0;">
                            <td style="border: none; margin: 0; padding: 0;">
                                <table id="tb-boton-add" style="margin: 0">
                                    <tr>
                                        <td  style="border: 0;">
                                            <a class="tr-agregar" id="add_proveedor"><img src="{{ STATIC_URL }}cm_html/images/agregar_tr_icono.png">Agregar otro Motivo</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
        </div>
    </form>
    {% if objetos %}
    <div class="div div-descargas">
            <a style="float: right" class="img_report img_excel excel boton_unitario_reporte" title="Descagar en EXCEL" href="{% url "reporte_movim_inventario_motivo_excel" %}"></a>
    </div>

    <div class="table-responsive">
        <!-- Default panel contents -->
         <!-- Table -->
        {% for obj in objetos %}
            <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
                {% for obj_list in obj %}

                    {% if forloop.counter == 1%}

                        <thead>
                            <tr>
                                {% for obj_cab in obj_list %}
                                        <th class="text-center">{{ obj_cab }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    {% else %}
                        <tbody>
                            <tr>
                                {% for obj_td in obj_list %}
                                    <td>{{obj_td}}</td>
                                {%  endfor %}
                            </tr>
                        </tbody>
                    {% endif %}


                {% endfor %}
            </table>
        {% endfor %}

    </div>
    {% else %}
    <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}

    <div class="div div-agregar" style="padding-bottom: 30px;">
            <a class="boton boton-gray excel" href="{% url "reporte_inicio" %}">Regresar
        </a>
    </div>
    <!-- Div para los alert-->

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}