{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Saldos por Item{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario}}{% endblock %}
{% block reporte_titulo %}Reporte Saldos por Item{% endblock %}
{% block tabla_contenido %}
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <tr>
                {% if fecha %}
                <td style="width: 80px; padding-bottom: 5px; font-weight: bold;">Fecha: </td>
                <td style="padding-bottom: 5px; text-align: left;">{{ fecha }}</td>
                {% endif %}
            </tr>
        </table>
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            {% if cabecera_tabla %}
            <thead>
                <tr>

                    <th style="text-align: center; width: 80px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Código</th>
                    <th style="text-align: center; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Item</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Cantidad</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Costo U.</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Total</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% for obj in objetos %}
                <tr>
                    {% for objlista in obj %}
                        <td style="font-size: 11px; padding: 2px 0px;">{{objlista}}</td>
                    {% endfor%}
                </tr>
                {% endfor%}
            </tbody>
        </table>
{% endblock %}