{% load widget_tweaks %}
<tr>
    <td style="background: #F6F6F6 !important;">
        <a class="boton-eliminar-tr eliminar" title="Eliminar" {% if forloop.counter0 == 0%}style="display: none"{% endif %}>
            <img src="/static/cm_html/images/eliminar_tr_icono.png">
        </a>
    </td>
    <td style="display: none">{{ formularios.id_cuenta }}</td>
    <td>{% if formularios.cuenta.errors %}{{ formularios.cuenta|add_class:"campo_requerido" }}{% else %}{{ formularios.cuenta }}{% endif %}</td>
    <td>{% if formularios.centro_costo.errors %}{{ formularios.centro_costo|add_class:"campo_requerido" }}{% else %}{{ formularios.centro_costo }}{% endif %}</td>
    <td>
        {% if formularios.sust_tribut.errors %}{{ formularios.sust_tribut|add_class:"campo_requerido" }}{% else %}{{ formularios.sust_tribut }}{% endif %}
        <div class="check_sust_div">{{ formularios.cambio_sust }}</div>
    </td>
    <td>{% if formularios.valor_iva.errors %}{{ formularios.valor_iva|add_class:"campo_requerido" }}{% else %}{{ formularios.valor_iva }}{% endif %}</td>
    <td>{% if formularios.bs.errors %}{{ formularios.bs|add_class:"campo_requerido" }}{% else %}{{ formularios.bs }}{% endif %}</td>
    <td>{% if formularios.fte.errors %}{{ formularios.fte|add_class:"campo_requerido" }}{% else %}{{ formularios.fte }}{% endif %}</td>
    <td>{% if formularios.porc_ret_fte.errors %}{{ formularios.porc_ret_fte|add_class:"campo_requerido" }}{% else %}{{ formularios.porc_ret_fte }}{% endif %}</td>
    <td>{% if formularios.iva.errors %}{{ formularios.iva|add_class:"campo_requerido" }}{% else %}{{ formularios.iva }}{% endif %}</td>
    <td>{% if formularios.porc_ret_iva.errors %}{{ formularios.porc_ret_iva|add_class:"campo_requerido" }}{% else %}{{ formularios.porc_ret_iva }}{% endif %}</td>
    <td>{% if formularios.valor.errors %}{{ formularios.valor|add_class:"campo_requerido" }}{% else %}{{ formularios.valor }}{% endif %}</td>
</tr>