{% load widget_tweaks %}

    <table id="tabla_hide" class="tabla-comprobante-rembolso-externa">
        <tr>
            <td style="border: none;">
                <table id="tabla_formset_reembolso" class="tabla table-striped tabla-formato-detalle tabla-comprobante-rembolso" style="margin-left: inherit;">
                    <thead>
                        <tr>
                            <th style="background: #F6F6F6; border: 0px; width: 35px; !important;"></th>
                            <th style="min-width: 100px">Tipo Id.</th>
                            <th style="width: 170px;">N° Id</th>
                            <th style="width: 150px;">Tipo Doc.</th>
                            <th style="width: 140px;"># Documento</th>
                            <th style="width: 120px;">Fecha Emi.</th>
                            <th>No. Aut.</th>
                            <th style="width: 150px;">Base. 0%</th>
                            <th style="width: 150px;">Base. IVA</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for formularios in forms %}
                        <tr>
                             <td style="border: 0px;background: #F6F6F6 !important; border: 0px;">
                                 <a class="boton-eliminar-tr eliminar">
                                    <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                 </a>
                             </td>
                            {% for form in formularios %}
                                    <td>{{ form}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    {{ forms.management_form }}
                </table>
            </td>
        <tr>
        <tr style="margin: 0px; padding: 0px;">
           <td style="border: none; margin: 0px; padding: 0px;">
               <table id="tb-boton-add">
                 <tr>
                     <td  style="border: 0px; border: 0px;">

                        <a class="tr-agregar" id="add_reembolso">
                                 <img src="/static/cm_html/images/agregar_tr_icono.png">
                                    Agregar otra fila
                            </a>
                     </td>
                </tr>
               </table>
           </td>
        </tr>
    </table>












