{% extends "base.html" %}
{% block title %}Registro de Grupos{% endblock %}
{% load snnipet_generales %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
        .titulo_modulo
        {
            font-family: 'Open Sans','sans-serif';
            font-size: 14px;
            font-weight: 600;
        }
        .modulo
        {
            font-family: 'Open Sans','sans-serif';
            color: #9A9A9A;
            font-size: 12px;
            font-weight: 600;
        }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_grupos/agregar_grupos.js"></script>
{% endblock %}

{% block item-administracion %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
    {{ STATIC_URL }}cm_html/images/ruta/administracion_icono.png"
{% endblock %}
{% block ruta-principal %}Administración{% endblock %}
{% block ruta-actual %}Agregar Grupos{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                        {% else %}
                            <i class="pe-7s-info"></i>
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div id="rol-ingresar">
        <form id="send" enctype="multipart/form-data" method="post" action="{% url "agregar_grupo" %}">{% csrf_token %}
            <div class="container container-comprobante-pagos">
                <div class="row row-comprobante-medio-pagos">
                    <div class="comprobante-cabecera">
                    <h3  class="sub-title-comprobante">
                          AGREGAR PERMISOS
                    </h3>
                        <table class="tabla-comprobante-cabecera">
                            <tr>
                                <td class="td-label1">
                                    <label class="control-label" for="{{ cabecera.nombre.label }}">
                                    {% if cabecera.nombre.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.nombre.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1" colspan="3">
                                    {% if cabecera.nombre.errors %}{{ cabecera.nombre|add_class:"campo_requerido" }}{% else %}{{ cabecera.nombre}}{% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="td-label1" style="vertical-align: top; padding-top: 10px;">
                                    <label class="control-label" for="{{ cabecera.descripcion.label }}">
                                    {% if cabecera.descripcion.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.descripcion.label }}  </b>
                                    <span class="dospuntos">:</span></label>
                                </td>
                                <td class="td-control1 td-relative" colspan="3">
                                    {% if cabecera.descripcion.errors %}{{ cabecera.descripcion|add_class:"campo_requerido" }}{% else %}{{ cabecera.descripcion }}{% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row row-comprobante-medio-pagos" style="padding: 15px 40px !important; text-align: right; margin-top: 30px; margin-bottom: 10px;">
                    <h3  class="sub-title-comprobante" style="padding-bottom: 0px; display: inline-block;">
                         MARCAR- DESMARCAR TODOS:
                    </h3>
                    <input class="col-md-1" style="margin-top:2px; float: right; width: auto; margin-left: 20px;" type="checkbox" id="sel_all"/>
                </div>
                {% for mod in gmodulos.get_modulos_empresa %}
                    <div class="row row-comprobante-medio-pagos div-cont-modulo" style="margin-bottom: 30px;">
                        <h3 class="sub-title-comprobante">{{ mod.nombre }}<input class="sel_all_modulo" type="checkbox"/></h3>
                        {% for obj in mod.get_app %}
                            <div class="row row-modulo div-cont-aplicacion">
                                 <div class="modulo-label">
                                    <label class="modulo">{{ obj.nombre }} <input class="sel_all_aplicacion" type="checkbox"/></label>
                                 </div>
                                {% for perm in obj.get_permisos %}
                                    <div class="cell-aplicacion">
                                        <div class="aplicacion-label">
                                            <label>{{ perm.nombre }}</label>
                                        </div>
                                        <div class="aplicacion-check">
                                            <input class="checks" type="checkbox" name="{{ perm.id }}-{{ obj.id }}" {% activar_permiso lista perm.id %}/>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <div class="text-center" style="margin-bottom: 30px;">
                   <input class="boton boton-ok" id="grabar" type="submit" value="Grabar">
                   <a class="boton boton-gray" href="{% url "lista_grupos" %}" title="Cancelar">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}