{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
<html lang="es">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Naremaster" />
	<title>Lista de contratos por fecha</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">


          <style type="text/css">
 *{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


#page-comprobante{
    margin: auto;
    width: 1000px;
    margin-top: 30px;
}

.div-centrar{

    margin: auto;

}

.div-cabecera{
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#logo img{
    max-height: 44px;
    width: auto;
}

#detalle-empresa ul{
    list-style: none;
}

#detalle-empresa ul li{
    text-align: right;
    font-size: 12px;
}

#detalle-empresa ul li.li-em-bold{
    font-weight: bold;
}

.div-centrar h3{
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    font-weight: bold;
}

#table-info-basica tr .td-label1{
    width: 20%;
    font-weight: bold;
    font-size: 11px;
    vertical-align: top;

}

#table-info-basica tr .td-info1{
    width: 40%;
    font-size: 11px;
    vertical-align: top;
}

#table-info-basica tr .td-label2{
    width: 20%;
    font-weight: bold;
    font-size: 11px;
    vertical-align: top;
}

#table-info-basica tr .td-info2{
    width: 20%;
    font-size: 11px;
    vertical-align: top;
}

.div-info-basica{
    padding-bottom: 20px;
}

.div-tabla h4{
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-decoration: underline;

    font-weight: bold;
}

#table-info-registro tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 1px 3px 0px 3px;
    text-align: center;
    vertical-align: bottom;
}

#table-info-registro tr th:last-child{
    border-right: 1px solid gray;


}

#table-info-registro tr td{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    padding: 2px 3px 0px 3px;

}

#table-info-registro tr td:last-child{
    border-right: 1px solid gray;
    text-align: right;

}
#table-info-registro tr:last-child td{
    border-bottom: 1px solid gray;


}

#table-info-retencion .td-label{
    width: 16%;
    font-weight: bold;
    font-size: 13px;
}


#table-info-retencion .td-info{
    width: 16%;
    font-size: 13px;
}

#table-info-registro tr td.td-haber-cuenta{
    padding-left: 20px;
}

#table-info-registro tr td.td-derecha{
    text-align: right;
    padding-right: 3px;
}


#table-totales tr td.td-label{
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}
#table-totales tr td.td-info{
    text-align: right;
    padding-left: 20px;
}


#table-firmas tr td{
   padding: 0px 30px;
}

#table-firmas tr td hr{
   border-top: 1px solid black;
}

#table-firmas tr td p{
   padding-top: 3px;
   font-weight: bold;
}

.div-footer label.lbl-empresa{
    float: left;
    font-size: 11px;
    font-weight: bold;
}


.div-footer label.lbl-indice{
    float: right;
    font-size: 11px;
    font-weight: bold;
}

#table-cobro{
     margin: auto;
   width: 100%;
}

#table-info-registro  tr td.td-total{
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}



    </style>
<style type="text/css">

            @page {
                size: a4 landscape;
                margin: 1cm;
                @frame footer {
                -pdf-frame-content: footerContent;
                left: 1cm;
                right: 1cm;
                bottom: 0cm;
                height: 1cm;

                }
            }

     /*
    @page {
      size: a4 landscape;
      margin: 1cm;
      margin-bottom: 2cm;
      margin-top: 1cm;
      @frame footer {
        -pdf-frame-content: footerContent;
        left: 1cm;
        right: 1cm;
        bottom: 0cm;
        height: 1cm;
      }
    }
    */
</style>
</head>

<body>


<div id="page-comprobante">

         <div class="div-centrar div-cabecera" >
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">
                        <p style="text-align: center;">
                            {% if empresa %}
                                {% for obj in empresa %}

                                  <img src="clipmaestro/media/{{obj.logotipo }}" style="text-align: center; margin: auto;" height="44">

                                {% endfor %}
                            {% else %}
                                Por favor agregue su logotipo en la configuración de la empresa.
                            {% endif %}


                        </p>
                         <p style="text-align: center;">
                            <span style="font-weight: bold;font-size: 10px; display: block;">
                                {% if empresa %}
                                    {% for obj in empresa %}
                                        {{ obj.razon_social }}
                                    {% endfor %}
                                {% else %}
                                     Por favor agregue el nombre de la empresa en la configuración de la empresa.
                                {% endif %}
                            </span>
                        </p>
                         <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {{ usuario }}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {% now "d-m-Y" %}</span>
                        </p>

                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>

    <div class="div-centrar div-info-basica">
        <p style="text-align: center; color: #000000; line-height: 1em; font-size: 16px; font-weight: normal;">Reporte Listado de Contratos</p>
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <tr>
                {% if fecha %}
                <td style="width: 80px; padding-bottom: 5px; font-weight: bold;">Fecha: </td>
                <td style=" padding-bottom: 5px;">{{ fecha|date:"Y-m-d" }}</td>
                {% endif %}


            </tr>
        </table>
        <table id="tabla_reporte" class="table tabla table-striped tabla-formato">
            <thead>
                <tr>

                    <th style="text-align: center; width: 80px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">Fecha</th>
                    <th style="text-align: center; border-bottom: 1px solid gray;width: 100px; padding: 2px 5px; font-size: 11px;">Contrato</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 100px; padding: 2px 5px; font-size: 11px;">Cod. Cliente</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 200px; padding: 2px 5px; font-size: 11px;">Nombre</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 85px; padding: 2px 5px; font-size: 11px;">Fecha Ent.</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 85px; padding: 2px 5px; font-size: 11px;">Fecha Cie.</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 90px; padding: 2px 5px; font-size: 11px;">Valor</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 90px; padding: 2px 5px; font-size: 11px;">Iva</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 90px; padding: 2px 5px; font-size: 11px;">Total</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; width: 100px; padding: 2px 5px; font-size: 11px;">Costo</th>
                    <th style="text-align: center; width: 100px; border-bottom: 1px solid gray; padding: 2px 5px; font-size: 11px;">N° Doc.</th>
                </tr>
            </thead>

            <tbody>
                {% for obj in contratos %}
                    <tr>
                        <td style="text-align: center; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.fecha_reg|date:"Y-m-d" }}</td>
                        <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.num_cont }}</td>
                        <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">
                            {% if obj.cliente %}
                                {{ obj.cliente.ruc }}
                            {% else %}
                                Sin Cliente
                            {% endif %}
                        </td>
                        <td style="text-align: left; font-size: 11px; padding: 2px 5px 0px 0px;">
                            {% if obj.cliente.razon_social %}
                                {{ obj.cliente.razon_social }}
                            {% else %}
                                Sin Cliente
                            {% endif %}
                        </td>
                        <td style="text-align: center; font-size: 11px; padding: 2px 5px 0px 0px;">{{ obj.fecha_entrega|date:"Y-m-d" }}</td>
                        <td style="text-align: center; font-size: 11px; padding: 2px 5px 0px 0px;">
                            {% if obj.fecha_cierre %}
                                {{ obj.fecha_cierre|date:"Y-m-d" }}
                            {% endif %}
                        </td>
                        <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{% suma_2_snippet obj.base0 obj.baseiva %}</td>
                        <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{{ obj.monto_iva|floatformat:2  }}</td>
                        <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{% suma_n obj.base0 obj.baseiva obj.monto_iva|floatformat:2 %}</td>
                        <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{{ obj.getTotalDetallesCabecera|floatformat:2 }}</td>

                        <td style="text-align: right; font-size: 11px; padding: 2px 5px 0px 5px;">{{ obj.getNumerosDocumentosVentasContrato }}</td>

                    </tr>

                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

<div id="footerContent" style="text-align: right;">
     Página: <pdf:pagenumber>
</div>
</body>
</html>