<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">

      {% block stylesheet %}

      {% endblock %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-ui.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {% block script %}

    {% endblock %}
  </head>
  <body id="bg">

    <header id="header-admin">

         <nav class="navbar navbar-default" role="navigation">
          <!-- El logotipo y el icono que despliega el menú se agrupan
               para mostrarlos mejor en los dispositivos móviles -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-ex1-collapse">
              <span class="sr-only">Desplegar navegación</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img id="logo" src="{{ STATIC_URL }}img/logo-blanco.png" height="60px"/>
            </a>
          </div>

          <!-- Agrupar los enlaces de navegación, los formularios y cualquier
               otro elemento que se pueda ocultar al minimizar la barra -->
          <div class="collapse navbar-collapse navbar-ex1-collapse div-menu-principal">
            <ul class="nav navbar-nav nav-principal">
              <li class="active"><a href="{% url "administracion" %}">Inicio</a></li>
              <li><a href="#">Configuración</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Información</a></li>
              <li>
                     {% if user.is_authenticated %}
                        <li>
                        <a href="{% url "salir" %}" style="text-decoration: underline; ">Salir </a>

                        </li>

                        {% else %}
                        <li>
                        <a href="{% url "login" %}">Iniciar Sesión </a>
                        </li>
                    {% endif %}
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-cliente">
              <li class="perfil-cliente">
                <img class="logo-cliente" src="{{ STATIC_URL }}img/logo_cliente.png" height="50"/>
                <label class="nombre-cliente">Nombre de la Compañía</label>
              </li>
            </ul>
          </div>
        </nav>




    </header>

      <aside  id="aside-left" style="display: none;">
          {% block menu_aside %}
        <ul class="navbar-collapse collapse nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Clientes<br/>y Productos<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a tabindex="-1" href="#">Proforma</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Agregar Clientes</a></li>
                <li><a tabindex="-1" href="#">Editar Clientes</a></li>
                <li><a tabindex="-1" href="#">Agregar Productos</a></li>
                <li><a tabindex="-1" href="#">Editar Productos</a></li>
                <li><a tabindex="-1" href="#">Agregar Servicios</a></li>
                <li><a tabindex="-1" href="#">Editar Servicios</a></li>

              </ul>
            </li>
        </ul>
        {% endblock %}
      </aside>
      <section id="contenido">
        <div id="texto">
            <!-- Nav tabs -->
            <div id="menu-central"  style="text-align: center;">

                 <div class="navbar navbar-default " role="navigation">
                    <div class="container">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-target=".navbar-ex1-collapse" data-toggle="collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>

                      </div>
                      <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                        <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Contabilidad <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                          <li><a href="{% url "lista_plan_cuenta" %}">Plan de Cuentas</a></li>
                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Asientos Contables</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "lista_asientos" %}">Buscar Asientos</a></li>
                                <li><a href="{% url "registrar_asiento_contable" %}">Agregar Asientos</a></li>
                            </ul>
                          </li>

                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Centro de Costos</a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url "lista_centro_costos" %}">Buscar Centro de Costos</a></li>
                                 <li><a href="{% url "registrar_centro_costo" %}">Agregar Centro de Costos</a></li>
                            </ul>
                          </li>

                          <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Reportes Contables</a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url "ver_libro_diario" %}">Mayor</a></li>
                                 <li><a href="{% url "registrar_centro_costo" %}">Agregar Centro de Costos</a></li>
                                <li><a class="no-link" href="{% url "reporte_cuentas_lista" %}">Reportes por cuentas</a></li>
                                <li><a class="no-link" href="#">Balance General</a></li>
                                <li><a class="no-link" href="#">Estado de Resultados</a></li>
                                <li><a class="no-link" href="#">Flujo de Caja</a></li>
                            </ul>
                          </li>

                           <!--
                            <li><a href="#">Bancos</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Proveedores</a>
                            <ul class="dropdown-menu">
                            -->
                                <!--
                                <li class="dropdown-submenu">
                                <a href="#">Lista</a>
                                 <!--
                                <ul class="dropdown-menu">
                                    <li><a href="#">3rd level</a></li>
                                    <li><a href="#">3rd level</a></li>
                                </ul>

                              </li>
                              -->
                            <!--
                              <li><a href="#">Lista</a></li>
                              <li><a href="#">Pagos</a></li>
                              <li><a href="#">Anticipos</a></li>
                            </ul>
                          </li>
                          <li><a href="#">Compras</a></li>
                          <li><a href="#">Ventas</a></li>
                            -->
                        </ul>
                     </li>
                     <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Compras<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Caja Chica</a>
                                <ul class="dropdown-menu">
                                     <li><a href="{% url "lista_compras_caja_chica" %}">Buscar Caja Chica</a></li>
                                    <li><a href="{% url "vista_caja_chica" %}">Agregar Caja Chica</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Proveedores</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "proveedores" %}">Buscar Proveedor</a></li>
                                    <li><a href="{% url "registrar_proveedor" %}">Agregar Proveedor</a></li>
                                    <li><a href="{% url "reporte_compra" %}">Reportes de compra por Proveedor</a></li>

                                </ul>
                            </li>


                            <li><a href="{% url "lista_compras" %}">Buscar Compras</a></li>
                            <li><a href="{% url "agregarcompras" %}">Agregar Compras</a></li>

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Pagos</a>
                                <ul class="dropdown-menu">
                                     <li><a class="no-link"  href="#">Buscar Pagos</a></li>
                                     <li><a class="no-link"  href="#">Registrar Pagos</a></li>
                                     <li><a class="no-link"  href="#">Cuentas por Pagar</a></li>
                                     <li><a class="no-link"  href="#">Cruce de Documentos</a></li>
                                </ul>
                            </li>

                            <li><a href="{% url "reporte_retencion_fuente" %}">Reporte Retención Fuente</a></li>
                            <li><a class="no-link"  href="#">Ver Estado de cuenta</a></li>

                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Ventas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Cotizaciones</a>
                                <ul class="dropdown-menu">
                                     <li><a class="no-link" href="#">Buscar Cotizaciones</a></li>
                                    <li><a class="no-link" href="#">Agregar Cotizaciones</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Clientes</a>
                                <ul class="dropdown-menu">
                                     <li><a class="no-link"  href="#">Cartera de Clientes</a></li>
                                     <li><a href="{%  url "clientes" %}">Buscar Clientes</a></li>
                                     <li><a href="{%  url "registrar_cliente" %}">Ingresar Clientes</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url "lista_ventas" %}">Buscar Ventas</a></li>
                            <li><a href="{% url "registro_venta" %}">Ingresar Ventas</a></li>

                            <li><a class="no-link"  href="#">Ver Reportes de Ventas</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Cobranzas</a>
                                <ul class="dropdown-menu">
                                    <li><a  href="{% url "lista_cobro_clientes" %}">Cuentas por Cobrar</a></li>

                                </ul>
                            </li>


                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Bancos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="{% url "lista_bancos" %}">Buscar Banco</a></li>
                            <li><a href="{% url "registrar_banco" %}">Agregar Banco</a></li>
                            <li><a class="no-link"  href="#">Buscar Transacciones</a></li>
                            <li><a class="no-link"  href="#">Ingresar Transacción</a></li>
                            <li><a class="no-link"  href="#">Conciliación Bancaria</a></li>
                            <li><a class="no-link"  href="#">Control de Cheques</a></li>

                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            SRI <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">103</a>
                                <ul class="dropdown-menu">
                                    <li><a class="no-link"  href="#">Generar 103</a></li>
                                    <li><a class="no-link"  href="#">Buscar 103</a></li>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">104</a>
                                <ul class="dropdown-menu">
                                    <li><a class="no-link"  href="#">Generar 104</a></li>
                                    <li><a class="no-link"  href="#">Buscar 104</a></li>

                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">ATS</a>
                                <ul class="dropdown-menu">
                                     <li><a href="{% url "generadorATS" %}" target="_blank">Generar ATS</a></li>
                                    <li><a class="no-link"  href="#">Buscar ATS</a></li>

                                </ul>
                            </li>


                        </ul>
                    </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Inventarios <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                             <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Categoría</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "lista_categoria" %}">Buscar Categoría</a></li>
                                    <li><a href="{% url "registrar_categoria_item" %}">Ingresar Categoría</a></li>

                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Item</a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url "lista_items" %}">Buscar Item</a></li>
                                    <li><a href="{% url "registrar_items" %}">Ingresar Item</a></li>

                                </ul>
                           </li>
                           <li><a  class="no-link" href="#">Movimiento de Inventario</a></li>
                            <li><a  class="no-link" href="#">Reportes</a></li>

                        </ul>
                     </li>


                     <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Rol de pagos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Empleados</a>
                                <ul class="dropdown-menu">
                                    <li><a class="no-link"  href="#">Buscar Empleados</a></li>
                                    <li><a class="no-link"  href="#">Ingresar Empleados</a></li>

                                </ul>
                            </li>
                            <li><a class="no-link"  href="#">General Rol</a></li>
                            <li><a class="no-link"  href="#">Buscar Rol</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Extras</a>
                                <ul class="dropdown-menu">
                                    <li><a class="no-link"  href="#">Vaciones</a></li>
                                    <li><a class="no-link"  href="#">Décimos</a></li>
                                    <li><a class="no-link"  href="#">Utilidades</a></li>
                                </ul>
                            </li>

                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Proyectos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                           <li><a class="no-link"  href="#">Buscar proyectos</a></li>
                           <li><a class="no-link"  href="#">Ingresar proyectos</a></li>
                           <li><a class="no-link"  href="#">Tareas</a></li>
                           <li><a class="no-link"  href="#">Internos</a></li>
                           <li><a class="no-link"  href="#">Participantes Externos</a></li>
                           <li><a class="no-link"  href="#">Asignar Tareas</a></li>
                           <li><a class="no-link"  href="#">Agregar Costos</a></li>

                        </ul>
                     </li>


                    <!--

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Pagos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                           <li><a href="{% url "lista_pago_proveedores" %}">Buscar Pagos</a></li>
                           <li><a  class="no-link"  href="#">Ingresar Pagos</a></li>
                           <li><a  href="{% url "cruce_documentos_cuentas" %}">Cruce de Documento/Cuentas</a></li>
                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Balanced ScoreCard <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                           <li><a class="no-link"  href="#">Reportes</a></li>

                        </ul>
                     </li>

                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Cobranzas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                           <li><a class="no-link"  href="#">Cartera de Clientes</a></li>

                        </ul>
                     </li>



                     <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Requisiciones <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a class="no-link"  href="#">Cotizaciones</a></li>
                            <li><a class="no-link"  href="#">Configurar Jerarquía para aprobación de compra</a></li>
                            <li><a class="no-link"  href="#">Aprobación de Requisiciones</a></li>
                            <li><a class="no-link"  href="#">Reporte de Proveedores</a></li>

                        </ul>
                     </li>
                     -->
                    <li class="dropdown">
                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
                            Administración <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li><a href="{% url "configuracion_empresa" %}">Configuración de Empresa</a></li>
                            <li><a href="{% url "lista_persona" %}">Buscar Usurios</a></li>
                            <li><a href="{% url "agregar_persona" %}">Agregar Usuario</a></li>
                        </ul>
                     </li>
                        </ul>

                      </div>
                    </div>
                  </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
                <div id="page-comprobante">

                {% block content %}

                {% endblock %}
                </div>
            </div>
        </div>
      </section>
      <div style="clear: both"></div>

    <footer id="pie">
        <figure>
            <img id="logo-pie" src="{{ STATIC_URL }}img/logo-blanco.png"/>
        </figure>
        <ul class="nav navbar-nav navbar-right">

				<li>Ayuda</li>
                <li>Tutorial</li>
                <li>Soporte: +(593) 4 263 9605</li>
                  <li class="flecha-foot"><img src="{{ STATIC_URL }}img/flecha_blanca.png"/></li>
			  </ul>
    </footer>

    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/tab.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-scrollspy.js"></script>
	</body>
</html>