<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Inicio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">	
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/widgets.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/forms.css">

      {% block stylesheet %}

      {% endblock %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery-ui.js"></script>
    <script src="{{ STATIC_URL }}js/bsa.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/bootstrap/assets/js/html5shiv.js"></script>
      <script src="../bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

    {% block script %}

    {% endblock %}
    <script type="text/javascript">
		 var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-23019901-1']);
		  _gaq.push(['_setDomainName', "bootswatch.com"]);
			_gaq.push(['_setAllowLinker', true]);
		  _gaq.push(['_trackPageview']);

		 (function() {
		   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		 })();
		$('#myTab a').click(function (e) {
			e.preventDefault()
			$(this).tab('show')
		});
    </script>
  </head>
  <body id="bg">

     <header id="cabecera">
		<div class="navbar-default">
			<img id="logo" src="{{ STATIC_URL }}img/logo-blanco.png"/></a>
			<div class="navbar-header">          
			  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<div class="navbar-default navbar-collapse collapse" id="navbar-main">
			  <ul class="nav navbar-nav">
				<li class="dropdown">
				  <ul class="dropdown-menu" aria-labelledby="themes">
					<li class="divider"></li>
				  </ul>
				</li>
				<li>
				</li>
				<li>
				  <a href="#">Inicio de Sesión</a>
				</li>
				<li class="dropdown">
				</li>
			  </ul>
			  <ul class="nav navbar-nav navbar-right">
				<li id="buscador">
                   <div class="buscador-borde">
                    <form>
                        <table>
                            <tr>
                                <td class="td-left"><input type="text" name="buscar" class="txt_buscar"/></td>
                                <td class="td-right"><input type="submit" name="enviar" value="" class="btn-buscar"/></td>
                            </tr>
                        </table>
                    </form>
                   </div>
				</li>
                  <li id="foto"><a><img /></a></li>
				<li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Nombre de la Compañ&iacutea </a></li>
                  <li class="flecha-li"><img src="{{ STATIC_URL }}img/flecha_naranja.png"/></li>
			  </ul>
			</div>
		</div>
    </header>		

      <aside  id="aside-left">
          {% block menu_aside %}
        <ul class="navbar-collapse collapse nav navbar-nav">
            <li class="dropdown">
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li class="divider"></li>
              </ul>
            </li>
        </ul>
        {% endblock %}
      </aside>
      <section id="contenido" style="width: 100%;">
        <div id="texto">
            <!-- Nav tabs -->
            <div id="menu-central">
                <div id="tabs-centrales">
                    <ul class="nav nav-tabs" >
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content">
              {% block content %}{% endblock %}
            </div>
        </div>
      </section>
      <div style="clear: both"></div>

    <footer id="pie">
        <figure>
            <img id="logo-pie" src="{{ STATIC_URL }}img/logo-blanco.png"/>
        </figure>
        <ul class="nav navbar-nav navbar-right">

				<li>Ayuda</li>
                <li>Tutorial</li>
                <li>Soporte: +(593) 4 263 9605</li>
                  <li class="flecha-foot"><img src="{{ STATIC_URL }}img/flecha_blanca.png"/></li>
			  </ul>
    </footer>

    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/tab.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-scrollspy.js"></script>
	</body>
</html>