{% load variables_globales_pdf %}
<html lang="es">
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Naremaster" />
	<title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/comprobante.css" rel="stylesheet" type="text/css">

    <style type="text/css">
        *{
            margin: 0px;
            padding: 0px;
            font-family: sans-serif;
        }

        #page-comprobante{
            margin: auto;
            width: 1000px;
            margin-top: 30px;
        }

        .div-centrar{

            margin: auto;

        }

        .div-cabecera{
            padding-bottom: 10px;
            border-bottom: 1px solid gray;
        }

        #logo img{
            max-height: 44px;
            width: auto;
        }

        #detalle-empresa ul{
            list-style: none;
        }

        #detalle-empresa ul li{
            text-align: right;
            font-size: 12px;
        }

        #detalle-empresa ul li.li-em-bold{
            font-weight: bold;
        }

        .div-centrar h3{
            text-align: center;
            padding: 30px 0;
            font-size: 20px;
            font-weight: bold;
        }

        #table-info-basica tr .td-label1{
            width: 20%;
            font-weight: bold;
            font-size: 11px;
            vertical-align: top;

        }

        #table-info-basica tr .td-info1{
            width: 40%;
            font-size: 11px;
            vertical-align: top;
        }

        #table-info-basica tr .td-label2{
            width: 20%;
            font-weight: bold;
            font-size: 11px;
            vertical-align: top;
        }

        #table-info-basica tr .td-info2{
            width: 20%;
            font-size: 11px;
            vertical-align: top;
        }

        .div-info-basica{
            padding-bottom: 20px;
        }

        .div-tabla h4{
            font-size: 14px;
            text-align: left;
            font-style: italic;
            text-decoration: underline;

            font-weight: bold;
        }

        #table-info-registro tr th{
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            padding: 1px 3px 0px 3px;
            text-align: center;
            vertical-align: bottom;
        }

        #table-info-registro tr th:last-child{
            border-right: 1px solid gray;


        }

        #table-info-registro tr td{
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            padding: 2px 3px 0px 3px;

        }

        #table-info-registro tr td:last-child{
            border-right: 1px solid gray;
            text-align: right;

        }
        #table-info-registro tr:last-child td{
            border-bottom: 1px solid gray;


        }

        #table-info-retencion .td-label{
            width: 16%;
            font-weight: bold;
            font-size: 13px;
        }


        #table-info-retencion .td-info{
            width: 16%;
            font-size: 13px;
        }

        #table-info-registro tr td.td-haber-cuenta{
            padding-left: 20px;
        }

        #table-info-registro tr td.td-derecha{
            text-align: right;
            padding-right: 3px;
        }


        #table-totales tr td.td-label{
            font-weight: bold;
            text-align: right;
            padding-right: 20px;
        }
        #table-totales tr td.td-info{
            text-align: right;
            padding-left: 20px;
        }


        #table-firmas tr td{
           padding: 0px 30px;
        }

        #table-firmas tr td hr{
           border-top: 1px solid black;
        }

        #table-firmas tr td p{
           padding-top: 3px;
           font-weight: bold;
        }

        .div-footer label.lbl-empresa{
            float: left;
            font-size: 11px;
            font-weight: bold;
        }


        .div-footer label.lbl-indice{
            float: right;
            font-size: 11px;
            font-weight: bold;
        }

        #table-cobro{
             margin: auto;
           width: 100%;
        }

        #table-info-registro  tr td.td-total{
            text-align: right;
            padding-right: 10px;
            font-weight: bold;
        }
    </style>

<style type="text/css">

            @page {
                size: {% block sizepage %}A4{% endblock %};
                margin: {% block margin %}1cm 1cm 2cm 1cm{% endblock %};
                @frame footer {
                -pdf-frame-content: footerContent;
                left: 1cm;
                right: 1cm;
                bottom: 0cm;
                height: 1cm;

                }
            }
</style>

</head>

<body>
<div id="page-comprobante" >

         <div class="div-centrar div-cabecera" >
            <table border="0" id="table-cabecera" style="border: none;">
                <tr>
                    <td style="width: 100px;"></td>
                    <td style="border: none; padding-bottom: 5px;text-align: center;border-bottom: 2px solid #A2A3A5;">

                         <!--No olvidar parametrizar el ancho y alto del logo de la empresa -->
                         <img src="{{ MEDIA_URL }}{% block logo_url %}{% endblock %}" style="text-align: center; margin: auto;" height="{% get_height_logo %}" width="{% get_width_logo %}">
                         <p style="text-align: center;">
                             <span style="font-weight: bold;font-size: 10px; display: block;">
                                 {% block razon_social %}{% endblock %}
                             </span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;">{% block datos_empresa %}{% endblock %}</span>
                        </p>
                        <p style="text-align: center;">
                            <span style="font-size: 10px;display: block;"><strong>Usuario:</strong> {% block usuario %}{% endblock %}</span>
                        </p>
                         <p style="text-align: center;">
                           <span style="font-size: 10px;display: block;"><strong>Fecha de Impresión:</strong> {% now "d-m-Y" %}</span>
                        </p>

                    </td>
                    <td style="width: 100px;"></td>
                </tr>
            </table>
        </div>

    <div class="div-centrar div-info-basica">
        <p style="text-align: center; color: #000000; line-height: 1em; font-size: 14px; font-weight: normal;">{% block reporte_titulo %}{% endblock %}</p>
        {% block tabla_contenido %}
        {% endblock %}


    </div>

    <div id="footerContent" style="text-align: right;">
         Página: <pdf:pagenumber>
    </div>
</div>
</body>
</html>