{% extends "base.html" %}
{% block title %}Comprobante Cobro{% endblock %}
{% load formulario_comp_contable %}
{% load operaciones_template %}
{% load permisostag %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
{% endblock %}



{% block item-venta %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}Ventas{% endblock %}
 {% block ruta-actual %}Detalle de Cuenta por Cobrar{% endblock %}
{% block container-contenido-media %}container-contenido-media{% endblock %}


{% block content %}

     <div class="row row-cabecera">
        <div class="cabecera-left"  style="height: 190px;">
            <table>
                <tr>
                    <td style="width:140px;">
                        <label>Comp. de {{ mayor_cab.tipo_comprobante.descripcion }}:</label>
                    </td>
                    <td class="td-dato">
                        <label>{{ mayor_cab.numero_comprobante }}</label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>  Fecha de Registro:</label>
                    </td>
                    <td class="td-dato">
                        <label> {{ cobro.fecha_reg|date:"d-m-Y" }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label> Cliente: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ cobro.cliente.razon_social }}</label>
                    </td>
                </tr>
                    <tr>
                        <td>
                            <label> Con cargo a cuenta: </label>
                        </td>
                        <td class="td-dato">
                            <label> {{ cuenta.descripcion }}</label>
                        </td>
                    </tr>
                <tr>
                    <td>
                        <label>Forma de Pago: </label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {{ cobro.forma_pago.descripcion }}
                        </label>
                    </td>
                </tr>
            </table>
        </div>

     <div class="cabecera-right"  style="height: 190px;">
            <table>
                <tr>
                    <td>
                        <label>Referencia</label>
                    </td>
                    <td class="td-dato">
                        <label>{% if cobro.referencia %}{{ cobro.referencia }}{% endif %}</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>  Cobrado de: </label>
                    </td>
                    <td class="td-dato">
                        <label> {{ cobro.cliente.razon_social }}</label>
                    </td>
                </tr>

                    <tr>
                        <td>
                            <label>El valor de: </label>
                        </td>
                        <td class="td-dato">
                            <label>
                            $ {{ cobro.monto|floatformat:2 }}({{ cobro.monto_to_word }} {{ decimal }}/100 dólares)
                            </label>
                        </td>
                    </tr>

                <tr>
                    <td>
                        <label>Descripción:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {{ cobro.concepto }}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Estado:</label>
                    </td>
                    <td class="td-dato">
                        <label>
                            {% if cobro.status == 1 %}
                                ACTIVO
                            {% else %}
                                ANULADO
                            {% endif %}
                        </label>
                    </td>
                </tr>
            </table>
        </div>


     <h3 class="sustitulo-comprobante">Detalle del cobro</h3>

     <table class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">

            <tr>
                <th>Documento</th>
                <th># Documento</th>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Total documento</th>
                <th>A cobrar</th>
                <th>Saldo Actual</th>
            </tr>
            {% for obj_det in detalle_pago %}
                <tr>
                    <td>{{ obj_det.cuentas_x_cobrar.documento.descripcion_documento }}</td>
                    <td>{{ obj_det.cuentas_x_cobrar.num_doc}}</td>
                    <td>{{ obj_det.cuentas_x_cobrar.fecha_reg|date:"d-m-Y" }}</td>
                    <td>{{ obj_det.cuentas_x_cobrar.venta_cabecera.concepto }}</td>
                    <td class="td-derecha">$ {{ obj_det.cuentas_x_cobrar.monto }}</td>
                    <td class="td-derecha">$ {{ obj_det.monto }}</td>
                    <td class="td-derecha">$ {% subtract obj_det.cuentas_x_cobrar.monto obj_det.cuentas_x_cobrar.cobrado %}</td>
                </tr>
            {% endfor %}
     </table>

     <div class="div-centrar div-tabla">
        <h3 class="sustitulo-comprobante">Asiento Contable</h3>

        <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
             <tr>
                    <th>Código</th>
                    <th>Cuenta</th>
                    <th>Debe</th>
                    <th>Haber</th>
                </tr>
                {% for obj_asiento in detalle_may%}
                    <tr>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}>{{ obj_asiento.plan_cuenta.codigo|slice:":1" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"1:2" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"2:4" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"4:6" }}.{{ obj_asiento.plan_cuenta.codigo|slice:"6:9" }}</td>
                        <td {% if obj_asiento.dbcr == "H" %}class="td-haber-cuenta"{% endif %}> {{ obj_asiento.plan_cuenta.descripcion }}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "D" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                        <td class="td-derecha">{% if obj_asiento.dbcr == "H" %}$ {{ obj_asiento.valor|floatformat:2 }}{% endif %}</td>
                    </tr>
                {% endfor %}

        </table>
         <p class="desc-label">Descripción: <span class="desc-info">{{ cobro.concepto }}</span></p>

       </div>

         <div class="text-center div-botones-alto" style="margin-top: 30px;">
             {% if_tiene_permiso request "detalle_cobro_pdf" %}
                <a class="boton boton-ok" href="{% url 'detalle_cobro_pdf' cobro.id%}" target="_blank">Generar PDF</a>
             {% endif_tiene_permiso %}
            <a class="boton boton-gray" href="{% url "lista_cobro"%}"> Regresar</a>
         </div>
     </div>


{% endblock %}