{% load widget_tweaks %}
<table id="tabla_formset_detalle_doc" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle tabla-cuentas-pagar" style="min-width: 100%;margin: auto;">
    <thead>
        <tr>
            <th style="display: none"></th>
            <th style="width: 40px;"></th>
            <th style="width: 110px;">Tipo Documento</th>
            <th style="width: 140px;"># Documento</th>
            <th style="width: 110px;">Fecha de Registro</th>
            <th style="width: 110px;">Fecha de Vencimiento</th>
            <th style="width: 90px;">Total</th>
            <th style="width: 90px;">Saldo</th>
            <th>Referencia</th>
            <th style="width: 130px;">Valor</th>
        </tr>
    </thead>
    <tbody>
    {% for form in forms %}
        <tr>
            <td style="display: none">{{ form.id_cuenta_cobrar }}</td>
            <td>{{ form.check }}</td>
            <td>{{ form.tipo_doc }}</td>
            <td>{{ form.numero_doc }}</td>
            <td>
                {% if form.fecha_reg.errors %}
                    {{ form.fecha_reg|add_class:"campo_requerido text-center" }}
                {% else %}
                    {{ form.fecha_reg }}
                {% endif %}
            </td>
            <td>
                {{ form.fecha_ven|add_class:"text-center" }}
            </td>
            <td>{{ form.total }}</td>
            <td>{{ form.saldo }}</td>
            <td title="{{ form.referencia.value }}">
                {{ form.referencia }}
            </td>
            <td>{{ form.valor }}</td>
        </tr>
    {% endfor %}
    </tbody>
    {{ forms.management_form }}
    <tfoot>
    <tr>
        <td colspan="8" style="text-align: right;">
            <label class="sel_forma_pago" style="padding: 0px;text-align: right;padding: 7px 0px; padding-right: 10px;"><b>Total</b></label>
        </td>
        <td style="text-align: right;background: #E6E6E6;padding-right:10px;">
            <label id="total_pagar">$ 0.00</label>
        </td>
    </tr>
    </tfoot>
</table>