{% extends "base.html" %}
{% block title %}Mantenimiento de Ventas por Fecha{% endblock %}
{% load formulario_base %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/comprobante.css" media="screen">
    <style>
    .numero{
        text-align: right;
    }
    </style>
{% endblock %}
{% block script %}
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var indicador = {{ indicador }};
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var formulario = $('#formulario');

            $('#limpiar').click(function(){
               limpiar_form(formulario);
               $("#buscar").show()
            });
            $('#id_fecha_ini').mask('9999-99-99');
            $('#id_fecha_final').mask('9999-99-99');
            $("#id_fecha_final").datepicker();
            $("#id_fecha_ini").datepicker();
            $('#id_fecha_modificar').mask('9999-99-99');
            $("#id_fecha_modificar").datepicker();

            $("#grabar").click(function(){
                formulario.attr("method", "POST");
            });

        });
    </script>


{% endblock %}

{% block item-venta %}item-activo-menu{% endblock %}

{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/venta_icono.png"
 {% endblock %}
 {% block ruta-principal %}VENTAS{% endblock %}
 {% block ruta-actual %}Mantenimiento de Ventas por Fecha{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                                <i class="pe-7s-close-circle"></i>
                            {% else %}
                                <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">
                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url "mantenimiento_ventas_inventario" %}"  class="form-group" id="formulario" method="GET">
        <div class="row row-comprobante-cabecera" style="width: auto;">
            <div class="col-lg-12 contenedor">
                <div class="comprobante-cabecera-left" style="margin: auto;">
                    <table class="tabla-comprobante-cabecera">
                        <tr>
                            <td style="width: 150px;">
                                <label>Rango de Fechas:</label>
                            </td>
                            <td style="width: 150px; padding-right: 20px;">
                                {% if buscador.fecha_ini.errors %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_ini|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>

                            <td style="width: 120px;">
                                <label>Hasta</label>
                            </td>
                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_final|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 150px;">
                                <label>Fecha a Modificar:</label>
                            </td>
                            <td>
                                {% if buscador.fecha_final.errors %}
                                    {{ buscador.fecha_modificar|add_class:"calendario-gris input-calendario txt-150 campo_requerido" }}
                                {% else %}
                                    {{ buscador.fecha_modificar|add_class:"calendario-gris input-calendario txt-150" }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr style="display: none">
                            <td>{{ buscador.page }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="text-center div-botones-alto" style="padding-top: 20px; padding-bottom: 0px;">
            <input class="boton boton-ok" id="buscar" type="submit" value="Buscar">
            <input type="reset" class="boton boton-gray" id="limpiar" value="Limpiar" title="Limpiar">
        </div>

    {% if objetos %}
        <div class="row row-cabecera">
            <div class="div-centrar div-tabla">
                <h3 class="sustitulo-comprobante">Ventas desde: {{ buscador.fecha_ini.value }} hasta:{{ buscador.fecha_final.value }}</h3>
                <table id="table-info-registro" class="table tabla tabla-comprobante table-striped" cellpadding="0" cellspacing="0">
                    <tr>
                        <th style="display: none"></th>
                        <th class="text-center" style="width: 84px;"></th>
                        <th class="text-center" style="width: 84px;">Fecha</th>
                        <th class="text-center" style="width: 170px;"># Comprobante</th>
                        <th class="text-center" style="width: 170px;"># Documento</th>
                        <th class="text-center" style="width: 180px;">Cliente</th>
                        <th class="text-center" style="width: 120px;">Total Venta</th>
                        <th class="text-center" style="width: 80px;">Existe Mov. Inventario</th>
                        <th class="text-center" style="width: 86px;">Procesa Inventario</th>
                    </tr>
                    {% for obj in objetos %}
                        <tr>
                            <td style="display: none">{{ obj.id }}</td>
                            <td style="text-align: center;"><input type="checkbox" name="venta-{{ forloop.counter }}"/></td>
                            <td>{{ obj.fecha|date:'Y-m-d' }}</td>
                            <td><a target="_blank" href="{% url "detalle_venta_reportepdf" obj.id%}"><ins>{{ obj.numero_comprobante }}</ins></a></td>
                            <td>{{ obj.vigencia_doc_empresa.serie }}-{{ obj.num_documento }}</td>
                            <td>{{ obj.cliente.razon_social|slice:"0:30" }}</td>
                            <td style="text-align: right;">$ {{ obj.getTotalPagar }}</td>

                            {% if obj.existe_movimientos_inventario %}
                                <td style="text-align: right;">Si</td>
                            {% else %}
                                <td style="text-align: right;">No</td>
                            {% endif %}

                            <td style="text-align: center;"><input type="checkbox" name="inventario-{{ forloop.counter }}"/></td>
                        </tr>
                    {% endfor%}
                </table>
            </div>

            <div class="text-center" style="margin-top: 50px; margin-bottom: 30px;">
                <input class="boton boton-ok" id="grabar" type="submit" data-action="" value="Grabar">
                <a class="boton boton-gray" href="{% url "lista_ventas" %}">Cancelar</a>
            </div>
        </div>
    {% else %}
        <p class="resultado-vacio">Su consulta no generó resultados.</p>
    {% endif %}
    </form>

    <div class="div div-agregar">
        <a class="boton boton-gray" href="{% url "lista_ventas" %}" >Regresar</a>
    </div>

    <div id="alert-yn" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="tit-alert">Alerta</h4>
                </div>
                <div class="modal-body" id="body-alert">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes" id="ok-alert">Aceptar</button>
                    <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}