{% extends "base.html" %}
{% block title %}Saldos Iniciales{% endblock %}
{% load operaciones_template %}}
{% load permisostag %}
{% load widget_tweaks %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-select.min.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}datepicker/css/datepicker.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font awesome/css/font-awesome.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/tablas.css" media="screen">
    <link rel="stylesheet" href="{{ STATIC_URL }}cm_html/css/formularios.css" media="screen">
    <style>
    dt{
        color: #DD4814;
        border-bottom: 1px solid #DDDBDC;
        font-weight: normal;
        text-align: left;
    }
    .selectpicker a{
        text-align: left;
    }
    input[type="text"]
    {
       background: #FFF none repeat scroll 0% 0% !important;
    }
    </style>
{% endblock %}

{% block script %}
    <script src="{{ STATIC_URL }}js/js_jquery/jquery.maskedinput.min.js"></script>
    <script src="{{ STATIC_URL }}js/js_bootstrap/bootstrap-select.js"></script>
    <script src="{{ STATIC_URL }}datepicker/js/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/funciones_generales.js"></script>
    <script src="{{ STATIC_URL }}js/js_cuentas_pagar/saldos_iniciales.js"></script>
    <script type="text/javascript">

        $(document).ready(function()
        {
            $("#add").click(function(e){ agregar_filas_saldoi_cxp(e);  });
            $(".selectpicker").selectpicker();

            $(".num_doc").mask("999-999-999999999").focusout(function(){
                AutocompletarCeros(this);
            });

            $(".monto").change(function(){
                redondear(this);
            });

            $(".numerico").keydown(function(event) {
                Numerico(event)
            });

            $(".numero_natural").keydown(function(event){
                NumeroEntero(event)
            });

            $(".num_doc").change(function(){
                validar_repetidos();
            });

            $(".tipo_doc").change(function(){
                validar_repetidos();
            });

            $("#grabar_agregar").click(function(){
                var formulario = $("#formulario");
                var action = formulario.attr("action");
                formulario.attr("action", action+"?grabar_agregar=1");
                $("#grabar").click();
            });
        });

    </script>
{% endblock %}

{% block item-compra %}item-activo-menu{% endblock %}
{% block container-navigation-media %}container-navigation-media{% endblock %}
{% block ruta-icono %}
{{ STATIC_URL }}cm_html/images/ruta/compra_icono.png"
 {% endblock %}
 {% block ruta-principal %}Compras{% endblock %}
 {% block ruta-actual %}Cuentas por Pagar / Saldo Inicial{% endblock %}
{% block superior-iconos %}

{% endblock %}


{% block container-contenido-media %}container-contenido-media{% endblock %}
{% block content %}
    <div id="loading"><img id="loading-img" src="{{ STATIC_URL }}img/loading.gif"/></div>
    {% if messages %}
         {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}  alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <div class="media">
                    <figure class="pull-left alert--icon">
                        {% if message.tags %}
                            {% if message.tags == "error" %}
                            <i class="pe-7s-close-circle"></i>
                            {% else %}
                            <i class="pe-7s-info"></i>
                            {% endif %}
                        {% endif %}
                    </figure>
                    <div class="media-body">

                        <p class="alert--text">{{ message }}.</p>
                    </div>
                </div>
            </div>
         {% endfor %}
    {% endif %}

    <form id="formulario" role="form" class="container-fluid row" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
        <div class="text-center">
            <div class="container container-comprobante-pagos">
                <div class="row row-comprobante-medio-pagos">
                    <h3 class="sub-title-comprobante">Saldos Iniciales</h3>
                    <table class="tabla-100pc">
                        <tr>
                            <td style="width: 120px;">
                                <label class="control-label" for="Fecha Asiento">
                                    {% if cabecera.proveedor.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.proveedor.label }}</b>
                                    <span class="dospuntos">:</span>
                                </label>
                            </td>
                            <td style="width: 550px;">
                                 {% if cabecera.proveedor.errors %}
                                    {{ cabecera.proveedor|add_class:"campo_requerido" }}
                                {% else %}
                                    {{ cabecera.proveedor }}
                                {% endif %}
                            </td>
                            <td style="width: 170px;">
                                <label class="control-label" for="Fecha Asiento">
                                    {% if cabecera.fecha_reg.field.required %}
                                        <span class="requerido">*</span>
                                    {% else %}
                                        <span class="no-requerido"></span>
                                    {% endif %}
                                    <b>{{ cabecera.fecha_reg.label }}</b>
                                    <span class="dospuntos">:</span>
                                </label>
                            </td>
                            <td style="text-align: right">
                                {{ cabecera.fecha_reg.value|date:"Y-m-d" }}
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="row row-comprobante-detalle" style="margin: auto; margin-top: 20px;">
                    <table id="tabla_hide" class="tabla-comprobante-detalle-externa">
                        <tr>
                            <td style="border: none;">
                                <table id="tabla_formset" class="tabla table-striped tabla-comprobante-detalle tabla-formato-detalle">
                                    <thead>
                                        <tr>
                                            <th style="background: #F6F6F6; width: 35px;"></th>
                                            <th>Tipo de Documento</th>
                                            <th style="width: 160px;"># Documento</th>
                                            <th style="width: 100px;">Valor</th>
                                            <th style="width: 100px;">Plazo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for formularios in cta_por_pagar %}
                                        <tr>
                                            <td style="background: #F6F6F6 !important;"><a class="boton-eliminar-tr eliminar" title="Eliminar">
                                                <img src="/static/cm_html/images/eliminar_tr_icono.png">
                                            </a></td>
                                            <td>
                                                {% if formularios.tipo_doc.errors %}
                                                    {{ formularios.tipo_doc|add_class:"campo_requerido" }}
                                                {% else %}
                                                    {{ formularios.tipo_doc }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if formularios.num_doc.errors %}
                                                    {{ formularios.num_doc|add_class:"campo_requerido" }}
                                                {% else %}
                                                    {{ formularios.num_doc }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if formularios.monto.errors %}
                                                    {{ formularios.monto|add_class:"campo_requerido" }}
                                                {% else %}
                                                    {{ formularios.monto }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if formularios.plazo.errors %}
                                                    {{ formularios.plazo|add_class:"campo_requerido" }}
                                                {% else %}
                                                    {{ formularios.plazo }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    {{ cta_por_pagar.management_form }}
                                </table>
                            </td>
                        <tr>
                        <tr style="margin: 0px; padding: 0px;">
                             <td style="border: none; margin: 0px; padding: 0px;">
                                 <table id="tb-boton-add">
                                     <tr>
                                         <td  style="border: 0px;">
                                             <a class="tr-agregar" id="add">
                                                 <img src="/static/cm_html/images/agregar_tr_icono.png">
                                                    Agregar otra fila
                                            </a>

                                         </td>
                                     </tr>
                                 </table>
                             </td>
                        </tr>
                    </table>

                    <div class="text-center" style="text-align: center; padding: 30px 0;">
                        <input class="boton boton-ok btn_grabar" id="grabar" type="submit" title="Grabar" value="Grabar">
                        <input class="boton boton-ok btn_grabar" id="grabar_agregar" type="submit" title="Grabar y Agregar otro Pago" value="Grabar y Agregar Otro">
                        <a class="boton boton-gray btn_cancelar" href="{% url "lista_cuentas_x_pagar_iniciales" %}" title="Cancelar" >Cancelar</a>
                    </div>
                </div>

            </div>
        </div>
    </form>
    <!-- Divs para los alert -->

    <div id="alert-ok" class="modal fade bs-modal-lg alerta-cm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                </div>
                <div class="modal-title">
                    <table>
                        <tr>
                            <td style="vertical-align: top; width: 48px;">
                                <span class="alert-icon-title"><img src="{{ STATIC_URL }}cm_html/images/alert_icono.png" height="22"></span>
                            </td>
                            <td style="vertical-align: top;">
                                <span id="tit-alert-ok" class="alert-title">Alerta</span>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-body modal-item" id="body-alert-ok">
                    <p>Desea anular el comprobante de retención y crear uno nuevo ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary yes boton boton-ok" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}