{% extends "base_reporte_pdf.html" %}
{% load formulario_base %}
{% load operaciones_template %}
{% load permisostag %}
{% load operaciones_template %}
{% block titulo %}Reporte Ventas por Ciente{% endblock %}
{% block margin %}1cm 1cm 2cm 1cm{% endblock %}
{% block sizepage %}a4 Landscape{% endblock %}
{% block logo_url %}{{ empresa.empresa_general.logotipo }}{% endblock %}
{% block razon_social %}{{empresa.empresa_general.razon_social }}{% endblock %}
{% block usuario %}{{ usuario }}{% endblock %}
{% block reporte_titulo %}Reporte Ventas por Ciente{% endblock %}
{% block tabla_contenido %}
         <table id="tabla_reporte" class="table tabla table-striped tabla-formato" style="margin-top: 20px;">
            <tbody>
                <tr>
                    <td style="width: 80px;">
                        Desde
                    </td>
                    <td style="width: 100px;">
                        {{ desde|date:"Y-m-d"}}
                    </td>
                    <td style="width: 80px;">
                        Hasta:
                    </td>
                    <td>
                        {{ hasta|date:"Y-m-d"}}
                    </td>
                </tr>
            </tbody>
        </table>

       {% for obj_cliente in objetos %}
            <h4 class="reporte-subtitle">Cliente: {{ obj_cliente.cliente.razon_social }} -  ({{ obj_cliente.cliente.ruc }})</h4>
            <table class="table table-hover  tabla table-striped" border="0">
                <thead>
                    <tr>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Comprobante</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 70px;">Fecha</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 100px;"># Documento</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Base 0%</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Base IVA</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Descuento</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Monto IVA</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Monto ICE</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Total Venta</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px;">Total Retención</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 60px;">Por Cobrar</th>
                        <th style="text-align: center;  border-bottom: 1px solid gray; padding: 2px 5px; width: 60px;">Estado</th>
                    </tr>
                </thead>
              <tbody>
                    {% for obj in obj_cliente.lista_ventas %}
                    <tr>
                        <td  style="text-align: left;padding: 2px 5px; font-size: 9px;">{{ obj.numero_comprobante }}</td>
                        <td  style="text-align: center;padding: 2px 5px; font-size: 9px">{{obj.fecha|date:"Y-m-d"}}</td>
                        <td style="text-align: left;padding: 2px 5px; font-size: 9px;">{{obj.num_documento}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{obj.subtotal_tarifa0|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.subtotal_tarifa12|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% suma_2_snippet obj.descuento_tarifa12 obj.descuento_tarifa0%}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.iva_total|floatformat:"2"}}</td>
                        <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.total_ice|floatformat:"2" }}</td>
                        {# Crea las lista para el Snnipet SumaResta #}
                        {% make_list obj.subtotal_tarifa0 obj.subtotal_tarifa12 obj.iva_total obj.total_ice as sum_list %}
                        {% make_list obj.descuento_tarifa12 obj.descuento_tarifa0 as rest_list %}
                        {# Recibe dos listas, la cual la primera es para los valores que se van a summar y la segunda #}
                        {# los que se van a restar #}
                        <td style="text-align: center;padding: 2px 5px;  font-size: 9px;">{% SumaResta sum_list rest_list %}</td>

                        {% if obj.getRetencion %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{{ obj.getRetencion.monto|floatformat:"2" }}</td>
                            {% make_list obj.getRetencion.monto as rest_list %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% else %}
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">0.00</td>
                            <td style="text-align: right;padding: 2px 5px; font-size: 9px;">{% SumaResta sum_list rest_list %}</td>
                        {% endif %}

                        <td style="text-align: center;padding: 2px 5px; font-size: 9px;">Activa</td>
                    {% endfor%}
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;padding: 2px 5px;  font-size: 10px; font-weight: bold;">Total de Ventas activas: </td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.base0|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.baseiva|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.total_desc|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.monto|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.total_ice|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: center;">{{ obj_cliente.total_venta|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.total_ret|floatformat:"2" }}</td>
                        <td style="padding: 2px 5px; text-align: right;">{{ obj_cliente.cobrar|floatformat:"2" }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
       {% endfor %}
{% endblock %}