/*Estilo Administracion cm_administracion.html*/

p,a,span,label,input,th,td{
    font-family: 'Open Sans', 'sans-serif' !important;
    font-weight: 600  !important;
    font-size: 12px !important;
}

a, a:hover, a:focus{
    color:inherit;
    text-decoration: none;
}


select{
    border: 1px solid #E5E5E5;
    border-radius: 0px;
}

.btn{
    color: #BCBCBC;
    padding: inherit !important;
}


.top-bar:before{
     background-color: #E65525;
}


.main-logo img{
    width: 207px;
    height: auto;
    position: relative;
    top: 10px;

}

.main-logo{

    float: left;
}

.col-buscador{
    float: right;
}

.div-buscador{
    margin-top: 20px;
    margin-right: 2%;
}

.div-avatar{
    float: right;
    margin-right: 20%;
}

.col-buscador .pe-7s-search:before{
    font-size: 0px;
}

.main-search {
    display: none;
    position: inherit;
    height: 36px;
    top: 20px;
    border-left: 0px;
    border-right: 1px solid #323232;
    left:inherit;
    padding-left: 0px;
    padding-right: 10px;
}

.row-header{
    height: 80px;
}

.container-header{
    width: 100%;
    background: #444;
    min-width: 1300px;
    max-width: 100%;
    height: 74px;
}


.profile__img{
    background: #ffffff;
}

.profile__name{
    position: relative;
    color: #FFF;
    font-size: 12px;
    top: 28px;
    left: 10px;

}

.col-perfil {
   position: relative;
   top: inherit;
   margin: 0;
   right: inherit;
   padding: 0;
   float: right;
}

.main-search input{
    font-size: 12px;
    width: 150px;
}

.main-search label{
    position: inherit;
    position: relative;
    left: -20px;
}


.row-navigator{
    width: 90%;
    margin: auto;

    padding: 20px 0px;
}

.div-menu{
    width: 1300px;
    min-width: 1300px;
    max-width: 1300px;
    height: 44px;
}

.ruta-principal{
    font-size: 14px;
    color: #696969;
    padding-left: 20px;
}

.ruta-divisor{
    padding: 0px 20px;
}

.ruta-actual{
    font-size: 12px;
    color: #9A9A9A;
}

.ruta-imagen{
    position: relative;
    top: 8px;
}

.row-items{
    width: 96%;
    margin: auto;
}

.col-items{

    width: 670px;
    height: 650px;
    float: left;
}
.items{
    background: #ffffff;
    padding: 35px 25px;
    border: 2px solid #E5E5E5;
    padding-right: 50px;
    display: inline-block;
    height: 610px;
}

.col-mensaje{
    background: #ffffff;
    padding: 60px 40px;
    border: 2px solid #E5E5E5;
    height: 610px;
    width: 498px;
    float: right;
}

.col-mensaje h2{
    font-size: 14px;
    color: #696969;
    padding-bottom: 30px;
}

.col-mensaje p{
    font-size: 12px;
    color: #9A9A9A;
    line-height: 1.5em;
    padding-bottom: 25px;
}

.modulo-item-icon{
    text-align: center;
}

.modulo-item-icon img{
    width: 50%;
}

.modulo-item-title{
    font-size: 12px;
    text-align: center;
    color: #9A9A9A;
    padding-top: 10px;
}

.col-modulo-item{

    float: left !important;
    padding: 0px;
    width: 125px;
    margin: 20px 10px;

}

.col-perfil .pe-7f-config{
    font-size: 0px;
}

.col-modulo-item a{
    text-decoration: none;
}


.col-modulo-item a:hover{
    text-decoration: none;
}

.col-modulo-item img{
    width: 63px;
    height: 63px;

    filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;


}

.col-modulo-item img:hover{
    text-decoration: none;
    filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
    filter: none; /* Applies to FF + IE */
	-webkit-filter: grayscale(0);

    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.item-inactivo img{
    opacity: 0.6;
}

.item-inactivo img:hover{
   filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);
    filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;

}

.container-navigation{
    width: 100%;
    max-width: 1300px;
    padding-right: 0px !important;
    padding-left: 0px !important;

}

.container-contenido{
    width: 1300px;
    min-width: 1300px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: auto !important;
    padding-left: 0;
    padding-right: 0;
}

.container-nav{

    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1300px;

}

.row-nav{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
    min-height: 44px;
    width: 100%;
}

.nav-principal .profile {
    position: inherit;
    padding-right: inherit;
}

.item-icon{
    width: 42px;
    height: 42px;
    background: #F6F6F6;
    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.row-nav .navbar{
    border-radius: 0px;
    min-height: inherit;
}

.nav-principal .profile a{
    height: inherit;
    line-height: inherit;
    padding-left: inherit;
    border: 2px solid #E5E5E5;
}
.nav-principal{

    margin: auto;
    border-left: 2px solid #E5E5E5 !important;
    background: transparent;
    margin-left: 40px;


}

.row-nav .navbar-default{
    background: transparent;
    border: none;
    margin-bottom: inherit;
}

.nav-principal .profile__name{
    position: relative;
    top: inherit;
    color: #9A9A9A;
    font-size: 12px;
    left: 10px;
    top: 10px;
    left: 15px;
    padding-right: 26px;
}

/*
.nav-principal .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background-color: #E65525;
    border-color: #428BCA;
}
*/

.nav-principal a.dropdown-toggle{
    background-color: #ffffff !important;
    border: 2px solid #E5E5E5 !important;
    border-top: 0px !important;
    border-left: none !important;
    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}


.nav-principal  a.dropdown-toggle:hover,.nav-principal .open a.dropdown-toggle:hover, .nav-principal  .open a.dropdown-toggle:focus{
    background-color: #E75300 !important;
    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.nav-principal a.dropdown-toggle:hover span.profile__name,
.nav-principal .open a.dropdown-toggle span.profile__name,
.nav-principal a.dropdown-toggle:hover span.profile__name .pe-7s-angle-down,
.nav-principal .open a.dropdown-toggle span.profile__name .pe-7s-angle-down{
    color: #ffffff !important;
    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}




.nav-principal a.dropdown-toggle:hover .item-icon,
.nav-principal .open a.dropdown-toggle .item-icon{
    background-color: #C64C29 !important;
    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.item-icon .item-menu-g{
    height: 26px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    opacity: 1;
}


.item-icon .item-menu-b{
    height: 26px;
    width: auto;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}



.nav-principal a.dropdown-toggle:hover .item-icon .item-menu-g,
.nav-principal .open a.dropdown-toggle .item-icon .item-menu-g{

    opacity: 0;
    transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.profile__name i{
    margin-left: inherit !important;
    font-weight: 300 !important;
    position: relative;
    left: 15px;
}

.nav-principal .profile .dropdown-menu{
    border: 2px solid #E5E5E5 !important;
    padding: 15px 0px;
    background: #ffffff !important;
    left: -15px;

}

.nav-principal .profile .dropdown-menu li a{
    border: none !important;
    background: none !important;
    color: #9A9A9A !important;
    padding: 12px 25px !important;
    padding-right: 90px !important;
    font-size: 12px;
    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.nav-principal .profile .dropdown-menu li a:hover{
    color: #E65525 !important;
    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.collapse-menu{
    padding-right: inherit;
    padding-left: inherit;
}


/*Calendario*/

.datepicker .datepicker-days td.active, .datepicker .datepicker-months span.active, .datepicker-years .table-condensed span.active{

    background: #E75300 !important;
}


.item-activo-menu{

    background-color: #E75300 !important;
    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}

.item-activo-menu .item-menu-g,
.item-activo-menu .item-menu-g{

    opacity: 0;
    transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;

}


.alert {
    padding: 5px 25px;
}

.alert--text{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 20px;
    text-align: left;
}

.contenedor-ruta{
    float: left;
}

.contenedor-superior-iconos{
    float: right;
}


.contenedor-superior-iconos .boton{
    margin-left: 10px;
}
/*
.top-bar{
    min-width: 1300px;
}
*/
.main-search input{
    line-height: inherit;
    border: none !important;
}

#tabla-beneficios ul li{
    margin: 15px 0px;
}
/*
.item-inactivo img{
    filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);
}
*/
.item-inactivo{
    opacity: 0.5;
}

/*Responsive Web  Design*/
@media (max-width: 995px){
    .profile__name {
        display: inherit;
    }
}

@media (max-width: 768px){
    .nav-principal{
        float: left;
    }
    .nav-principal > li{
        float: left;
    }

    .navbar-nav .open .dropdown-menu{
        position: absolute;
    }
}


/*para las imagenes de la tabla de lista de reportes*/


#tabla_reportes_lista img {
width: 12% !important;
padding-top: 4%;

}
#tabla_reportes_lista tr, #tabla_reportes_lista td , #tabla_reportes_lista {


}



#tabla_reportes_lista .modulo-item-icon{
text-align: left !important;

}



.texto_lista_inventario {
	font-family: 'Open Sans', 'sans-serif' !important;
	float: right;
	width: 77%;
	padding-top: 24px;
	padding-bottom: 24px;
}

.texto_lista_inventario li {
	list-style-type: circle;
	line-height: 23px;

}

.titulo_lista_inventario {
	color: #e65525;
	font-size: 17px;
	font-size: 17px;
	line-height: 24px;
}


.media-object {
    border-radius: 0px !important;
    max-width: 40px;
    max-height: 40px;
    margin: auto;


}
.rounded-image {
    border-radius: 0px !important;
    max-width: 40px;
    max-height: 40px;
    width: auto;
    height: auto;



}

.tick {
    color: #E75300 !important;
}


.campo_requerido{
    border: 1px solid red !important;
    outline: none 0px;

}
.campo_requerido:hover{
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(233, 107, 102, 0.6) 0px 0px 8px;
}




.container-error{
  display: table;
  height: 100%;
  width: 100% !important;
  position: relative;
}

.row-error {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}
.td_enlace_crud .estado {
    cursor: inherit;
}

#loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    display: none;
    background: url("../images/bg_black_opacity7.png") repeat;
}

#loading-img{
    width: 90px;
    position: absolute;
    top: 43%;
    left: 46%;
}

.txt-desactivado{
    background: rgb(238, 238, 238) !important;
}

.txt-oculto{
    display: none;
}

.container-externo{
    width: 1300px !important;
    margin: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;

}