/*Estilos generales */

.bootstrap-select.btn-group .btn .filter-option{
    color: #696969;
    font-size: 12px;
    padding-top: 2px;
}

/*Alertas*/
.alerta-cm .modal-content{
    background: #E6E6E6;
}




.modal .modal-content{
    border-radius: 0px !important;
    border: none !important;
}

.alerta-cm .modal-title{
    padding: 20px 40px;
    padding-bottom: 0px;
}

.alerta-cm .modal-body{
    padding: 20px 40px;
}

.alert-icon-title{
    margin-right: 20px;
    position: relative;

}

.alerta-cm .modal-footer{
    background: #FFF;
}

.modal-body p{
    line-height: 1.8em;
}

.modal .modal-footer{
   padding: 10px 28px;
}

.alert-title{
    color: #E75300;
    font-size: 14px !important;
    text-transform: uppercase;
}

.modal-item{
    padding-left: 90px !important;
    font-size: 12px !important;
    color: #696969 !important;
}
.datepicker{
    z-index: 10000;
}
.modal  .btn-primary{
    background: #E75300;
    font-size: 12px;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 0px !important;
    color: #ffffff !important;
}

.modal .cancel, .modal .cancel:hover, .modal .cancel:focus{
    background: #696969;
    font-size: 12px;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 0px !important;
    color: #ffffff !important;
    margin: 0px;
    margin-left: 10px !important;
}
/*Alerta Fin*/

/*Formularios Popup*/
.formulario-cm .modal-content{
    background: #FFF;
}

.formulario-cm .modal-header{
    padding-left: 30px;
    padding-top: 30px;
    border: 0px;
}

.formulario-cm .modal-title{
    color: #696969;
    text-transform: uppercase;
    font-size: 14px !important;
}

.formulario-cm .modal-body{
    padding: 30px;
    padding-top: 10px;
}

.formulario-cm  .sub-titulo-modal{
    color: #9A9A9A;
    font-size: 14px !important;
}

.formulario-cm  .row-formulario-modal{
    padding: 20px 0px;
    margin: 0px;
    margin: auto;
}


.formulario-cm  .modal-footer{
   border: none;
    padding: 20px 0px;
    margin: 0px;
    padding-top: 0px;
}


.formulario-cm .campos-requeridos{
    color: #E75300;
    font-size: 12px;
    text-align: right;
}


.formulario-cm .label-modal{
    color: #9A9A9A;
    font-size: 12px;
}

.formulario-cm .btn-group{
    margin-top: 0px;

}

.formulario-cm .control-modal{
    margin-bottom: 5px;
}

.formulario-cm .form-control{
    height: auto;
}

.modal .alert-danger .alert--text p{
    text-align: left;
}


.tabla-popup{
    width: 100%;
    margin-top: 20px;
}


.tabla-popup th{
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.txt-float-right{
    width: 90%;
    float: right;
}


.numerico,.saldo{
    text-align: right;
}

.close{
    font-size: 24px;
    color: #E75300;
    opacity: 1;
}


.close:hover, .close:focus{
    opacity: 1 !important;
    color: #E75300;
}

input, button, select, textarea{
    line-height: normal;
}

.btn-group{
    margin-top: 0 !important;
}


.scroller{
    width: 1300px !important;
}

.excel{
    cursor: pointer;
}

.resultado-vacio{
    font-size: 14px;
    text-align: center;
    padding: 20px 10px;
}

.link-comprobante, .link-comprobante:hover{
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid gray;
}

.msn-vacio{
    text-align: center;
    padding: 30px;
    font-size: 14px !important;
}

.tabla-contrato{
    width: 100%;
}

.tabla-contrato td{
    padding: 5px 10px;
}

.td-numero{
    text-align: right;
}

label.label{
    font-weight: 600 !important;
    font-size: 12px !important;
    color: #9A9A9A !important;
}

.sel_all_aplicacion{
    float: right !important;
}

.tooltip{
    opacity: 1;
}

.tooltip-inner{
    width: auto;
    max-width: 300px;
    padding: 10px;
    text-align: left;
    line-height: 1.5em;
    color: #ffffff;
    background-color: #444;
    border-color: #d6e9c6;
}

.tooltip.left .tooltip-arrow{
    border-left-color: #444 !important;
}
.tooltip.right .tooltip-arrow{
    border-right-color: #444 !important;
}

.tooltip.bottom .tooltip-arrow{
    border-bottom-color: #444 !important;
}
.tooltip.top .tooltip-arrow{
    border-top-color: #444 !important;
}

.popover{
    color: #ffffff;
    background-color: #E75300 !important;
    border-color: #E75300;
    max-width: 350px !important;
}

.popover .popover-content{
    background: #E75300;
    font-size: 12px;
    line-height: 1.5em;
}

.popover .popover-title{
    background: #E75300;
    font-size: 14px;
    font-weight: bold;
}

.popover.left .arrow{
    border-left-color: #E75300 !important;
}
.popover.right .arrow{
    border-right-color: #E75300 !important;
}

.popover.bottom .arrow{
    border-bottom-color: #E75300 !important;
}
.popover.top .arrow{
    border-top-color: #E75300 !important;
}

.popover.right .arrow:after{
    border-right-color: transparent !important;
}

.popover.left>.arrow:after{
    border-left-color: #E75300 !important;
}
.popover.right>.arrow:after{
    border-right-color: #E75300 !important;
}

.popover.bottom>.arrow:after{
    border-bottom-color: #E75300 !important;
}
.popover.top>.arrow:after{
    border-top-color: #E75300 !important;

}




div[data-alert="alert"].popover{
    color: #ffffff;
    background-color: #444 !important;
    border-color: #444;
    max-width: 350px !important;
}

div[data-alert="alert"].popover div[data-alert="alert"].popover-content{
    background: #444;
    font-size: 12px;
    line-height: 1.5em;
}

div[data-alert="alert"].popover h3[data-alert="alert"]{
    background: #444 !important;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
}

div[data-alert="alert"].popover.left div[data-alert="alert"].arrow{
    border-left-color: #444 !important;
}
div[data-alert="alert"].popover.right div[data-alert="alert"].arrow{
    border-right-color: #444 !important;
}

div[data-alert="alert"].popover.bottom .arrow{
    border-bottom-color: #444 !important;
}
div[data-alert="alert"].popover.top div[data-alert="alert"].arrow{
    border-top-color: #444 !important;
}

div[data-alert="alert"].popover.right div[data-alert="alert"].arrow:after{
    border-right-color: transparent !important;
}

div[data-alert="alert"].popover.left>.arrow:after{
    border-left-color: #444 !important;
}

div[data-alert="alert"].popover.right>.arrow:after{
    border-right-color: #444 !important;
}

div[data-alert="alert"].popover.right .arrow{
    border-right-color: #444 !important;
}

div[data-alert="alert"].popover.bottom>.arrow:after{
    border-bottom-color: #444 !important;
}

div[data-alert="alert"].popover.top>.arrow:after{
    border-top-color: #444 !important;
}

.deshabilitado{
    color: #B3B0B0 !important;
    background-color: rgb(236, 236, 236) !important;
}

.div-descargas{
    padding: 0;
    height: 65px !important;
    width: 105px !important;/*121*/
    float: right;
}
.div-descargas + div{
    clear: both;
}
.img_report {
    width: 50px;/*estaba 60*/
    height: 50px;
    display: block;
    text-indent:-9999px;
}
.boton_unitario_reporte{
    float: right !important;
}

.jrPage{
    width: 100% !important;
}

.div-content-report-jasper
{
    width: 1000px;
    margin: auto;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"]{
    margin-bottom: 0px !important;
}

.div-content-report-jasper span{
    font-family: "Arial" !important;
    font-weight: normal !important;
}

.datos-mostrar-ocultar table td:last-child,
.datos-mostrar-ocultar table td:first-child{
    width: 0px !important;
}

/****************************/
/* Para el ajax combo box */
/****************************/
    .ac_button{
        border-radius: 0 !important;
        background-color: #fff !important;
        background-image: none !important;
        border: none !important;
        right: 0px !important;
        top: 11px!important;
        position: absolute!important;
    }
    .ac_button img{
        height: 22px !important;
        width: 22px !important;
    }


    .ac_container{
        width: 100% !important;
    }
    .ac_container input{
        width: 100% !important;
    }
    .ac_results li{
        font-family: 'Open Sans', 'sans-serif' !important;
        font-weight: 600 !important;
        font-size: 12px !important;
    }

    .ac_results li:hover{
        color: #262626 !important;
        text-decoration: none !important;
        background-color: #F5F5F5 !important;
    }
    .ac_over{
        color: #262626 !important;
        text-decoration: none !important;
        background-color: #F5F5F5;
    }
    .ac_container_open .ac_input{
        border-radius: none !important;
    }
    .ac_input_off{
        background: #fff !important;
    }
    .ac_selected{
        background-color: #F5F5F5 !important;
    }
/****************************/
/****************************/