/*Disenio formularios Clipmaestro*/

.row-comprobante-cabecera{
    width: 1300px;
}

.comprobante-cabecera-left{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 30px;
    width: 625px;
}

.comprobante-cabecera-motivo{
    width: 678px;
}
.comprobante-cabecera-total{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 30px;
    width: 100%;
    margin: auto;
}



.comprobante-cabecera-right{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 30px;
    width: 625px;
    float: right;
}


input[type="text"], input[type="password"]{

    height: 25px !important;
    padding: 2px 10px;
    font-size: 12px !important;
    color: #696969;
    border-radius: 0px;
    border: 1px solid #E5E5E5;
    box-shadow: none;
    -webkit-box-shadow: none;
}

textarea{

    padding: 8px 10px;
    font-size: 12px !important;
    color: #696969;
    border-radius: 0px;
    border: 1px solid #E5E5E5;
    margin-bottom: inherit !important;
    resize: none;
}
.txt-150{
    width: 139px !important;
}

.td-label1{
    text-align: left;
    width: 130px;
    color: #9A9A9A !important;
}


.td-label2{
    text-align: left;
    width: 130px;
    padding-left: 20px;
    color: #9A9A9A !important;

}

.td-control1{

}


.td-control2{

}

.input-calendario{
    background: url("../../cm_html/images/calendario_icono.png") no-repeat right -1px;
    text-align: left !important;
}


.td-relative{
    position: relative;
}

.enlace_add_proveedor,.enlace_add_proveedor:hover{
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    background: url("../../cm_html/images/add_popup.png") no-repeat;
    font-size: 0px !important;
     right: 20px;
    z-index: 10;
}

.enlace_add_cliente, .enlace_add_cliente:hover{
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    background: url("../../cm_html/images/add_popup.png") no-repeat;
    font-size: 0px !important;
    right: 20px;
    top: 0px;
    z-index: 10;
    cursor: pointer;
}

.txt-auto{
    width: 100%;
}

.tabla-comprobante-cabecera{
    width: 100%;
}

.tabla-comprobante-cabecera td{
    height: 31px;
    vertical-align: middle;
}

.btn-group{
    margin-top: 0px;
}
.label-sin-requerido{

}

.dospuntos{
    color: #9A9A9A !important
}

.no-requerido{
    padding-right: 12px !important;
}

.label-texto{
    color:#9A9A9A !important
}

.lbl-border{
    border: 1px solid #E5E5E5 !important;
    height: 25px;
    padding: 8px 16px;
    font-size: 12px !important;
    color: #696969;
}



.td-label3{
    text-align: left;
    width: 130px;
    color: #9A9A9A !important;
}


.td-label4{
    text-align: left;

    padding-left: 20px;
    color: #9A9A9A !important;

}

.textarea-concepto{
    width: 100%;
    height: 58px;
    resize: none;
    margin-top: 4px;
}

.row-comprobante-detalle{
    margin-top: 30px;
    margin-bottom: 30px;
}

.tabla-comprobante-detalle-externa{
    margin: auto;
    width: 100%;
}

.tabla-comprobante-detalle{
    margin: auto;
    width: 90%;
}

.tabla-comprobante-detalle thead tr th{
    background: #A9A9A9;
    color: #ffffff;
}

.boton-eliminar-tr{

}

.tabla-comprobante-detalle>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #E6E6E6 !important;
}

.tabla-comprobante-detalle tbody tr td:last-child{
    background: #ffffff !important;
    border: 2px solid #E6E6E6 !important;
    border-top: 0px !important;
}

.slc-b-s{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px;
    border: 0px !important;
}


.slc-primary, .slc-b-s{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px !important;
    font-size: 12px !important;
    border-radius: 0px !important;
    border: 1px solid #E5E5E5 !important;
    height: 25px;

}

.tabla-comprobante-detalle .slc-primary .filter-option, .tabla-comprobante-detalle .slc-b-s .filter-option{
    text-align: left !important;
}

.bootstrap-select.btn-group .btn .caret{

    display: none;
}

.txt-cantidad{
    text-align: right;
    width: 100%;

}

.boton-eliminar-tr{
    cursor: pointer;
}

.tabla-comprobante-detalle .slc-primary, .tabla-comprobante-detalle  .slc-b-s{
    border: 0px !important;
}

.tr-agregar, .tr-agregar:hover{
    color: #E75300;
    text-decoration: none;
    cursor: pointer;
}

.tr-agregar img{
    position: relative;
    top: 8px;

}

.tabla-comprobante-detalle .tabla-formato tr th{
    padding: 0px !important;
    height: 25px;
}


.tabla-formato-detalle{

    border: none !important;
}

.tabla-formato-detalle tbody,.tabla-formato thead, .tabla-formato-detalle tfoot{
    border-top: 0px !important;
}

.tabla-formato-detalle th{
    background: #A9A9A9;
    color: #ffffff;
    text-align: center;
}

.tabla-formato-detalle th,.tabla-formato-detalle td{
    line-height: inherit !important;
    height: 25px;
    border:none !important;
    background: #ffffff;
}

.tabla-formato-detalle td{
    color: #696969;
}

.tabla-formato-detalle div.iva{
    width: 100px !important;
}

#id_plazo{
    position: relative;
    top: 3px;
}

#forma_pago .slc-b-s{

    background: url("../../cm_html/images/combo_vineta.png") #ffffff no-repeat right 0px !important;
}

.row-comprobante-reembolso{

    margin-top: 40px !important;
    width: 1300px;
    margin: auto !important;
}

.sub-title-comprobante, .sub-title-comprobante a{
    font-size: 14px !important;
    text-transform: uppercase;

    padding-bottom: 20px;
    color: #696969 !important;
    font-weight: 500 !important;
}

#tb-boton-add{
    margin-left: 110px;
}

.row-comprobante-reembolso .base_iva,.row-comprobante-reembolso .base_cero{
    width: 122px !important;
    text-align: right;
    background: #FFF !important;
}

.row-comprobante-reembolso .serie, .row-comprobante-reembolso  .proveedor {
    width: 170px !important;
    background: #ffffff;
}

.row-comprobante-reembolso .tipo_documento{
    width: 150px !important;
    background: transparent;
}

.row-comprobante-reembolso .slc-c-c{
    background: transparent;
}

.row-comprobante-reembolso .num_autorizacion{
    background: #FFF;
}

.row-comprobante-reembolso .fecha_emision{
    background: url("../../cm_html/images/calendario_icono.png") #ffffff no-repeat right 0px !important;
    width: 120px !important;
}


.row-comprobante-reembolso .slc-primary, .row-comprobante-reembolso .slc-c-c{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px !important;
    font-size: 12px !important;
    border-radius: 0px;
    border: 0px !important;
    height: 25px;


}



.tabla-comprobante-rembolso-externa{
    margin: auto;
    width: 100%;
}

.tabla-comprobante-rembolso{
    width: 90%;
    margin-left: 50px;
}

.tabla-comprobante-rembolso thead tr th{
    background: #A9A9A9;
    color: #ffffff;
}

.tabla-comprobante-rembolso>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #E6E6E6 !important;
}

.tabla-comprobante-rembolso tbody tr td:last-child{
    background: #ffffff !important;

}


.tabla-comprobante-rembolso input[type="text"] {
    height: 30px;
}


.row-comprobante-retencion{
    width: 1138px !important;
    margin-left: 84px !important;
    margin-right: inherit !important;

}

.col-retencion-detalle{
    padding-left: 0px !important;
    padding-right: 0px !important;
    float: left;
    width: 900px;


}

.col-retencion-total{
    padding-left: 0px !important;
    padding-right: 0px !important;
    float: right;
    width: 310px;
}

.retencion-detalle{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px !important;
    width: 900px;
}

.retencion-total{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px !important;
    width: 310px;
}

.txt-100{
    width: 100px;
}

.txt-120{
    width: 120px;
}

.txt-130{
    width: 130px;
}


.tabla-retencion-detalle{
    width: 100%;
    margin: auto;
}

.tabla-retencion-detalle label{
    color:#9A9A9A !important
}


.tabla-retencion-detalle input[type="text"]{
    color:#9A9A9A !important
}

.tabla-retencion-detalle thead th label{
    color: #E75300 !important;
}

.tabla-retencion-totales td{
    height: 30px;
}



.txt-100pc{
    width: 100%;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 100%!important;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){
    width: 100%!important;
}

.comprobante-venta .concepto{
    background: transparent;
    border: 0px !important;
}


.comprobante-venta .slc-c-c{
    background: url("../../cm_html/images/combo_vineta.png") transparent no-repeat right 0px !important;
    font-size: 12px !important;
    border-radius: 0px;
    height: 25px;

}

.comprobante-venta .btn-group{
    margin-top: 0px;
}

.comprobante-venta input[type="text"] {
    height: 28px !important;
    border-top: 0px;
    border-right: 1px solid #DBDBDB;
    border-left: 0;
}

.tabla-comprobante-venta tbody tr td:last-child{
    border: none !important;
    background: #E6E6E6 !important;
}

.tabla-comprobante-venta tbody tr td:last-child input[type="text"]{

    border-top: 0px;

}


.tabla-comprobante-venta .subtotal{
    width: 100%;
}


.txt-50{
    width: 50px;
}


.txt-70{
    width: 70px;
}

.txt-120{
    width: 120px;
}

.txt-170{
    width: 170px;
}

.comprobante-documento{
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 20px 40px;
    width: 1275px;
    margin-top: 30px;
}

.tabla-comprobante-documento{
    width: 100%;
}

.tabla-comprobante-documento td{
    color: #9A9A9A !important;
}


.tabla-retencion-detalle .codigo_ret{
    border: 0px;
    width: 100%;
    position: relative;
    left: -5px;
}


.tabla-retencion-detalle .total, .tabla-retencion-detalle .base, .tabla-retencion-detalle .porcentaje{
    text-align: right;
    width: 100%;
}

.tabla-retencion-detalle2 tbody td{
    padding: 2px 5px;
}

.div-botones-alto{
    padding-bottom: 20px;
    padding-top: 20px;
}

.contenedor{
    padding: 0px !important;
}


.btn-default{
    border: none !important;
}
.btn-default:active, .btn-default:focus{
    background: url("../../cm_html/images/combo_vineta.png") rgba(0, 0, 0, 0) no-repeat right 0px !important;
}

.tabla-comprobante-cabecera label{
    color: #9A9A9A !important;
}

.container-navigation-700{
    width: 700px  !important;
    margin: auto  !important;
    min-width: 700px !important;
    padding: 0px !important;
}

.container-contenido-700{
    width: 700px !important;
    margin: auto !important;
    min-width: 700px !important;
    padding: 0px !important;
}

.row-persona-cabecera{
    width: 700px;
    background: #FFF;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 20px 40px;
}

.col-persona{
    padding: 0px !important;
}

.tabla-persona-cabecera{
    width: 100%;

}

.tabla-persona-cabecera td{
    height: 31px;
    color: #9A9A9A !important;
}

.row-persona-cabecera .sub-title-comprobante, .row-persona-cabecera .sub-title-comprobante a{
    padding-bottom: 0px !important;
    display: block !important;
    width: 640px;
}

.panel-title a{
    background: url("../../cm_html/images/ocultar_icon.png") no-repeat right 6px;
    padding: 2px 0px;
    display: block;



}

.panel-title a.collapsed{
    background: url("../../cm_html/images/mostrar_icon.png") no-repeat  top right !important;

}

.accordion-cm{
    width: 700px;
    position: relative;

}

.accordion-cm .panel{
    border-radius: 0px !important;
    margin-top: 20px !important;
}

.panel-heading{
    background: #FFF !important;
    padding: 0px !important;
}
.panel-title{
    color: #696969 !important;
    font-size: 14px;
    padding: 20px 10px 20px 40px;
}


.accordion-cm .panel-body{
    border: 0px !important;
    padding: 10px 40px 30px 40px;
}

.t_direccion{
    margin-bottom: 10px;
}

.tabla{
    width: 100% !important;
}
/*
.codigo_cta{
    background: url("../../cm_html/images/buscador_ojo.png") #FFF no-repeat right 6px;
}*/

.tabla-cruce-doc td input[type="text"]{
    width: 100%;
    border: none;
}

.tabla-observaciones-cruce td{
    color: #9A9A9A;
}

.textarea-cruce{
    resize: none;
}

.total{
    text-align: right;
}

.tabla-cruce-doc .slc-primary{
    height: 25px;
    background: url("../../cm_html/images/combo_vineta.png") #FFF no-repeat right 0px !important;
}

.tabla-cruce-doc .btn-group{
    margin-top: 0px;
}

.row-modulo{
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px 0px;
    padding-left: 20px;
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 20px;


}

.row-comprobante-medio-pagos .row-modulo:last-child{
    border: none;
}

.modulo-label{
    width: 100%;
    padding-bottom: 10px;


}

.modulo-label label{
    font-size: 14px !important;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.cell-aplicacion{

    width: 202px;
    float: left;
    margin: 0px 10px;
    margin-bottom: 20px;
    text-align: center;
}

.aplicacion-label{
    margin-bottom: 10px;
    font-size: 14px;
    color: #696969 !important;

}

.tr-foto .bootstrap-filestyle label.btn{
    margin: 0px;
}


.tr-foto .bootstrap-filestyle .input-large{
    width: 400px;
}
.tr-foto .bootstrap-filestyle label.btn span{
    background: #858585;
    color: white;

    display: block;
    position: relative;
    top: -2px;
    right: -2px;
    padding: 4px 10px;
    float: right;
}
/*
.codigo_cta{
    padding-right: 40px !important;
}*/


.row-configuracion-empresa td label{
    text-transform: initial;
}

.td-imagen-avatar{
    text-align: center;
    vertical-align: top;

}
.imagen-avatar{
    max-width: 200px;
    max-height: 200px;
}


#foto_usuario_int{
    visibility: hidden;
    text-align: left;
}

#foto_usuario #foto_usuario_int img{
    visibility:visible;
}
#foto_usuario #foto_usuario_int #id_foto, #foto_usuario #foto_usuario_int .bootstrap-filestyle{
    visibility: visible;
}

#foto_usuario #foto_usuario_int .input-large{
    width: 390px;
}

.row-configuracion-empresa #foto_usuario{
    margin-top: 20px;
}

.row-configuracion-empresa #foto_usuario #foto_usuario_int .input-large{
    width: 360px;
    float: left;
    top: 22px;
    position: relative;
}

#foto_usuario #foto_usuario_int .bootstrap-filestyle label.btn{
    width: auto;
}

#foto_usuario label.btn{
    position: relative;
    float: right;
    top: 2px;
    right: 2px;
}

.row-configuracion-empresa #foto_usuario label.btn{
    position: relative;
    float: right;
    top: 0px;
    right: 2px;
}

#foto_usuario #foto_usuario_int .bootstrap-filestyle label.btn span{
    background: #858585;
    color: white;
    display: block;
    position: relative;
    top: -2px;
    right: -2px;
    padding: 4px 10px;
    float: right;
}

.textarea-cc{
    height: 70px;
}

#id_fecha_ret{
    background: url("../../cm_html/images/calendario_icono.png") no-repeat right -1px;
    text-align: left !important;
    margin-left: 20px;
}

#form_retencion label{
    color: #696969;
}

#tabla_reportes_lista td{
    padding-left: 30px !important;
}

#contenedor-reportes{
    background: #FFF;
    border: 2px solid #E5E5E5;
    display: block;
    padding: 40px;
    margin-bottom: 30px;
}

.tabla-concepto{
    background: white;
}

.tr-agregar-concepto{
    cursor: pointer;
}


.tr-eliminar-concepto{
    cursor: pointer;
}

#tabla_formset_venta_test tbody td{
    vertical-align: top;
}

.tabla-guia-remision-detalle th{
    background: #A9A9A9;
    color: #FFFFFF;
    padding: 10px !important;
    height: auto !important;
    line-height: 1em !important;
}

.tabla-guia-remision-detalle td{

    padding: 10px !important;
    height: auto !important;
    line-height: 1em !important;
    background: #FFFFFF;
}

.tabla-venta-item-final tbody tr td{
    background: #E6E6E6 !important;
}

.tabla-venta-item-final tbody tr td{

}


.tabla-venta-item-final tbody tr td.tr-delete{
    border:none !important;
}

.tabla-venta-item-final tbody tr td:last-child{
    border-bottom: 10px solid #FFF !important;
}


.div-total-precio-unitario{
    height: 100px;
    width: 100%;
    margin: auto;
    background: orange;
}

.retencion-final{
    float: left;
    padding-left: 14px;
}

.retencion-reload{
    float: left;
    width: 20px;
    height: 20px;
    display: block;
    background: url("../images/refresh.png") no-repeat;
    background-size: 20px 20px;
    position: relative;
    top: -4px;
    left: 10px;
    cursor: pointer;
}

#tabla_formset_detalle_doc table td .fecha_vencimiento{
    background: red !important;
}

.sub-title-comprobante input[type="checkbox"]{
    margin-left: 10px;
    position: relative;
    top: 2px;
}
.modulo-label .modulo input[type="checkbox"]{
    margin-left: 10px;
    margin-top: 0px;
}

td.serie{
    width: 70px;
}

#foto_usuario{
    font-size: 0px;
}

#foto_usuario_int{
    font-size: 0px;
}

#foto-clear_id, label[for="foto-clear_id"],
#foto_usuario_int br, #foto_usuario_int a{
    display: none;
}

.persona-roles ul{
    margin-top: 20px;
}

.persona-roles ul li{
    color: #9A9A9A;
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0px;
}

.persona-roles ul li input{
    margin-left: 20px;
    position: relative;
    top: 4px;
}

/*Mozilla*/
@-moz-document url-prefix() {

    a.boton{
        padding: 12px 20px 13px 20px;
    }

    .input-large{
        position:absolute;
        right: 76px;
    }

    #foto_usuario img{
        position:relative;
        top: -6px;
    }
    .tipo-mov-inv{
        width: 188px !important;
    }

    #add_prov{
        right: 22px;
        top: 0px;
    }
}

.input_deshabilitado{
    color: #B3B0B0 !important;
    background-color: #ECECEC !important;
}