/*Disenio css para tablas ClipMaestro*/

.linea-total{
        border-top: 2px solid !important;
    }

.tabla-formato{
    background: #FFFFFF;
    border: none !important;
}

.tabla-formato tbody,.tabla-formato thead, .tabla-formato tfoot{
    border-top: 0px !important;
}

.tabla-formato th{
    background: #A9A9A9;
    color: #ffffff;
    text-align: center;
}

.tabla-formato th,.tabla-formato td{
    line-height: inherit !important;
    padding: 8px !important;
    border:none !important;
}

.tabla-formato td{
    color: #696969;
}

.div {
    width: 100%;
}

.boton{
    padding: 11px 20px !important;
    border: none;
    font-size: 12px;
}



.boton-ok, .boton-ok:hover, .boton-ok:focus{
    color: #ffffff;
    background: #E75300;
    border: none;

}

.boton-gray, .boton-gray:hover,.boton-gray:focus{
    color: #ffffff;
    background: #696969;
    border: none;
}

a.boton-gray, a.boton-gray:hover{
    color: #ffffff;
    background: #696969;
    border: none;
    padding: 11px 20px 11px 20px !important;
}


.boton-silver, .boton-silver:hover{
    color: #ffffff;
    background: #A9A9A9;
    border: none;
    padding: 11px 20px !important;
}

.div-agregar{
    padding: 25px 0px;
    text-align: right;
    padding-right: 0px;/*estaba 19 26 de mayo*/
}

.botones-administracion{
    height: 57px;
    width: 100%;
    padding: 10px 0;
    background: #ffffff;
    border: 2px solid #E5E5E5;
    display: block;
    padding-left: 19px;
    padding-right: 19px;
}

.boton-administrador, .boton-administrador:hover, .boton-administrador:focus{
    color: #ffffff !important;
    background: #696969;
    display: inline-block;
    margin-right: 5px;
}

.boton-administrador:hover{
    color: #ffffff;
    text-decoration: none;
}

.opcion-buscar{
    height: 37px;

    float: right;
}

.opcion-buscar a{
    color: #787878;
    text-decoration: none;
    position: relative;
    top: -8px;
    right: 10px;
}

.opcion-buscar a img{

    position: relative;
    top: 12px;
    left: 10px;
}


.opcion-buscar a:hover{
    color: #787878;
    text-decoration: none;
}

.container-buscador{

    width: 100%;
    margin: auto;
    display: block;
    overflow: inherit;


}


.container-buscador-hide{
    display: none;
    overflow: hidden;
}


.container-buscador .row{
    margin-right: 0px;
    margin-left: 0px;
    margin: auto;

}

#tb-boton-add{
    margin-left: 100px;
}

.opcion-buscar{
    cursor: pointer;
}


.opcion-buscar-hide{
    display: none;
}

.buscador-cerrar{
    cursor: pointer;
}

.div-buscador-cerrar-hide{
    display: none;

}

.div-buscador-cerrar{
    text-align: right;
    position: relative;
}

.paginacion{
    text-align: right;
    margin-bottom: 50px;
}

.paginacion .pager{
    text-align: right;
}

.paginacion .pager b{
    color: #696969;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}

.paginacion .pager a{
    color: #696969;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

}

.paginacion .pager a:hover, .paginacion .pager a:focus{
    text-decoration: none !important;
}

.paginacion .pager .current{
    padding: 10px;
    background: #ffffff;
    border: 2px solid #BCBCBC;
    margin-left: 10px;
    margin-right: 10px;
}

.paginacion .pager .current b{
    color: #E75300;
}

.table-radio{
    margin-top: 0px !important;
}

.item_activo{
    color: #696969;
}

.sin-acceso{
    color: #BCBCBC;
}

/*Libro Diario Mayor*/

.container-navigation-media{
    width: 1000px !important;
}

.container-comprobante{
    width: 1000px !important;
    margin-top: 20px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    background: #ffffff;
    border: 2px solid #E5E5E5;
}

.container-comprobante-pagos{
    width: 1000px !important;
    margin-top: 20px;
    padding: 0px !important;


}

.row-comprobante-medio-pagos{

    display: block;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: auto;
    padding: 40px 40px !important;
    border: 2px solid #E5E5E5;
    background: #ffffff;


}

.row-comprobante-medio{
    padding: 40px 40px;
    background: #ffffff;

    display: block;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: auto;
    padding-bottom: 10px;

}

.botones-administracion-media{
    width: 1000px !important;
    margin: auto;
}


.container-contenido-media{
    width: 1000px !important;
    min-width: 1000px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: auto !important;

}

.reporte-icono{
    margin-left: 10px;
}

.reporte-icono img{
    height: 30px;
    filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
	-ms-filter: grayscale(1);

    transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
}

.reporte-icono img:hover{
    text-decoration: none;
    filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
	-ms-filter: grayscale(0);

    transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.col-comprobante-detalles p{
    padding-bottom: 8px;
    color: #696969;
}

.col-comprobante-opciones{
    text-align: right;
}

.opcion-comprobante{
    height: 20px;
}

.tabla-comprobante-detalles{
    background: #F6F6F6;
}


.tabla-comprobante-detalles>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background: #E6E6E6 !important;
}

.tabla-comprobante-detalles td.td-debe{
    text-align: right;
    padding-right: 20px !important;
}

.tabla-comprobante-detalles td.td-haber{
    text-align: right;
    padding-right: 20px !important;
}


.tabla-100pc{
    width: 100%;

}

.tabla-100pc td{
    color: #9A9A9A;
}

.tabla-cuentas-pagar{
    width: 1000px !important;
    margin-bottom: 30px;
}


.tabla-cuentas-pagar input{
    width: 100%;
}

.tabla-comprobante-pago{
    width: 1000px !important;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

#detalle_forma_pago .filter-option{
    text-align: left !important;
}

#detalle_forma_pago #id_fecha_cheque, #id_fecha{
    width: 160px;
    height: 30px;
    background: url("../../cm_html/images/calendario_icono.png")#FFF no-repeat right -1px;
}

#detalle_forma_pago #id_referencia {
    border: none;
}

#detalle_forma_pago #id_interes{
    background: #FFF;
    height: 30px;
}

.bootstrap-select.btn-group .dropdown-menu li>a{
    text-align: left;
}

.tabla-retencion-detalle th{
    text-align: center;
}

.tabla-pre-detalles{
    font-size: 13px !important;
    padding: 10px 0px 5px 0px;
}

.tabla-pre-detalles label{
    font-weight: bold !important;
    font-size: 13px !important;
}

.detalle-descripcion{
    padding-left: 20px;
}

.tabla-comprobante{
    background: white;
}